openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is a work coordination platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: channels
  x-displayName: Channels
  description: 'Project channels: container records, membership, archive state.'
- name: messages
  x-displayName: Messages
  description: 'Channel messages: send, list, get, update, and mark-read.'
- name: audit-logs
  x-displayName: Audit Logs
  description: Immutable audit records for security-sensitive project and organization activity.
- name: api-keys
  x-displayName: API Keys
  description: Organization and project API keys used for programmatic authentication.
- name: workflows
  x-displayName: Workflows
  description: Versioned workflow definitions and their executable specifications.
- name: runs
  x-displayName: Runs
  description: Workflow run lifecycle, events, signals, jobs, and runtime inspection.
- name: events
  x-displayName: Events
  description: Events API operations.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by workflow steps.
- name: environments
  x-displayName: Environments
  description: Environments API operations.
- name: secrets
  x-displayName: Secrets
  description: Secrets API operations.
- name: jobs
  x-displayName: Jobs
  description: Worker protocol endpoints for claiming, heartbeating, completing, and instrumenting
    step jobs.
- name: triggers
  x-displayName: Triggers
  description: Automated workflow starts from schedules, inbound webhooks, and platform events.
- name: worker-sessions
  x-displayName: Worker Sessions
  description: Recently seen worker sessions and their advertised capabilities.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and project-scoped configuration.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: permissions
  x-displayName: Permissions
  description: Permission definitions and presets used to build project roles.
- name: roles
  x-displayName: Roles
  description: System and custom roles plus user role assignments.
- name: interactions
  x-displayName: Interactions
  description: Human-in-the-loop requests, responses, and group routing.
- name: groups
  x-displayName: Groups
  description: Project groups, membership, and group interaction routing policy.
- name: agents
  x-displayName: Agents
  description: Agent identities, sessions, presence, and lifecycle administration.
- name: agent-tools
  x-displayName: Agent Tools
  description: Resolved agent tool manifests for agent invocations.
- name: agent-capabilities
  x-displayName: Agent Tools (Legacy)
  description: Compatibility tag for resolved agent tool manifest operations; prefer agent-tools.
- name: toolkits
  x-displayName: Toolkits
  description: Project-local and system toolkit templates that grant agents access to action
    selectors.
- name: skills
  x-displayName: Skills
  description: Project-local and system skill templates used to shape agent behavior and requested
    tools.
- name: team
  x-displayName: Team
  description: Team API operations.
- name: service-accounts
  x-displayName: Service Accounts
  description: Project service accounts used by agents, workers, and automation.
- name: spans
  x-displayName: Spans
  description: Spans API operations.
- name: logs
  x-displayName: Logs
  description: Logs API operations.
- name: tables
  x-displayName: Tables
  description: Tables API operations.
paths:
  /v1/projects/{project}/channels:
    post:
      operationId: createChannel
      tags:
      - channels
      summary: Create a channel
      description: Creates a new channel or DM thread. The channel `name` must be URL-safe
        and unique within the project — it is immutable after creation. The creator is automatically
        added as an admin member. Supply `member_ids` to seed initial membership atomically.
        Membership IDs are always `users.id` values; agent participants use their backing
        `user_id`, not `agents.id`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listChannels
      tags:
      - channels
      summary: List channels
      description: Returns channels in the project, optionally filtered by kind or visibility.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - dm
          - channel
        description: Filter by channel kind.
      - name: private
        in: query
        schema:
          type: boolean
        description: Filter by private flag.
      - $ref: '#/components/parameters/TagFilterParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/channels/block-catalog:
    get:
      operationId: getChannelBlockCatalog
      tags:
      - channels
      summary: Get the channel message block catalog
      description: Returns the list of block types the server currently understands. Each
        entry includes the type identifier, a human label, description, and the current version.
        Use this to discover supported block types and their current versions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBlockCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/custom-emojis:
    get:
      operationId: listCustomEmojis
      tags:
      - channels
      summary: List custom emoji
      description: Returns project-scoped custom emoji available in channel messages and reactions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmojiListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createCustomEmoji
      tags:
      - channels
      summary: Create custom emoji
      description: Creates or rejects a project-scoped custom emoji shortcode.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomEmojiRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmoji'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/custom-emojis/{shortcode}:
    delete:
      operationId: deleteCustomEmoji
      tags:
      - channels
      summary: Delete custom emoji
      description: Removes a project-scoped custom emoji by shortcode.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: shortcode
        in: path
        required: true
        schema:
          type: string
        description: Custom emoji shortcode with or without surrounding colons.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/drafts:
    get:
      operationId: listChannelDrafts
      tags:
      - messages
      summary: List channel message drafts
      description: Returns the authenticated user's saved composer drafts in this project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageDraftListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/channels/dm:
    post:
      operationId: openDirectMessage
      tags:
      - channels
      summary: Open a direct-message channel
      description: |-
        Idempotent find-or-create for a private DM channel between the authenticated caller and a single participant. If a non-archived DM channel already exists for this exact pair it is returned as-is (HTTP 200); otherwise a new private channel is created and both parties are added as members (HTTP 201).

        The lookup is symmetric — callers A→B and B→A resolve to the same channel. Channel name and membership are managed server-side; callers supply only the participant ID and an optional display name.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDirectMessageRequest'
      responses:
        '200':
          description: Existing DM channel returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '201':
          description: New DM channel created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/draft:
    get:
      operationId: getChannelDraft
      tags:
      - messages
      summary: Get a channel composer draft
      description: Returns the authenticated user's saved draft for this channel or thread.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: reply_to
        in: query
        schema:
          type: string
        description: Parent message ID when loading a thread-reply draft.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: upsertChannelDraft
      tags:
      - messages
      summary: Save a channel composer draft
      description: Creates or replaces the authenticated user's draft for this channel or
        thread.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertChannelDraftRequest'
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageDraft'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteChannelDraft
      tags:
      - messages
      summary: Delete a channel composer draft
      description: Deletes the authenticated user's draft for this channel or thread.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: reply_to
        in: query
        schema:
          type: string
        description: Parent message ID when deleting a thread-reply draft.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}:
    get:
      operationId: getChannel
      tags:
      - channels
      summary: Get a channel
      description: Returns channel metadata for the given ID. Membership and messages are
        exposed through their own endpoints so callers can fetch only the detail they need.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannel
      tags:
      - channels
      summary: Update a channel
      description: Updates `display_name`, `topic`, `private`, or `archived_at`. The `name`
        (handle) is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteChannel
      tags:
      - channels
      summary: Delete a channel
      description: Hard-deletes the channel and its message history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/members:
    get:
      operationId: listChannelMembers
      tags:
      - channels
      summary: List channel members
      description: Returns the current live membership of the channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addChannelMember
      tags:
      - channels
      summary: Add a member to a channel
      description: Adds a user to the channel by `users.id`. Agent participants must be added
        with their backing `user_id`. Returns 409 if already a member.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChannelMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/channels/{id}/members/{member_id}:
    patch:
      operationId: updateChannelMember
      tags:
      - channels
      summary: Update channel member preferences
      description: Updates the caller's per-channel membership preferences. Users may update
        their own notification and starred settings; channel managers may update another member's
        preferences when needed for administration.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/member_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelMemberRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeChannelMember
      tags:
      - channels
      summary: Remove a member from a channel
      description: Removes a user from the channel's live membership. Existing messages remain
        attributed to the removed member, and removing a member does not revoke project-level
        access outside this channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/member_id'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/interactions:
    get:
      operationId: listChannelInteractions
      tags:
      - channels
      summary: List channel interaction links
      description: Returns interactions associated with this channel. Purpose links mean the
        channel exists to resolve those interactions and can drive channel completion behavior.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: relation
        in: query
        schema:
          type: string
          enum:
          - purpose
          - context
          - followup
        description: Filter by association relation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionLinkListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: associateChannelInteraction
      tags:
      - channels
      summary: Associate an interaction with a channel
      description: Associates an existing same-project interaction with the channel. When
        `relation` is `purpose`, the interaction participates in the channel's purpose completion
        rule.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateChannelInteractionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/channels/{id}/interactions/{interaction_id}:
    delete:
      operationId: removeChannelInteraction
      tags:
      - channels
      summary: Remove a channel interaction association
      description: Removes an interaction association from a channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
        description: Interaction ID to unlink.
      - name: relation
        in: query
        schema:
          type: string
          enum:
          - purpose
          - context
          - followup
          default: purpose
        description: Relation to remove. Defaults to `purpose`.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/scheduled-messages:
    get:
      operationId: listScheduledChannelMessages
      tags:
      - messages
      summary: List scheduled channel messages
      description: Returns the authenticated user's editable scheduled messages in this channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChannelMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: scheduleChannelMessage
      tags:
      - messages
      summary: Schedule a channel message
      description: Saves a future send. The message posts as a normal channel message once
        `scheduled_at` arrives.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleChannelMessageRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/scheduled-messages/{scheduled_message_id}:
    patch:
      operationId: updateScheduledChannelMessage
      tags:
      - messages
      summary: Update a scheduled channel message
      description: Edits content and/or delivery time before the scheduled message fires.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: scheduled_message_id
        in: path
        required: true
        schema:
          type: string
        description: Scheduled message ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduledChannelMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: cancelScheduledChannelMessage
      tags:
      - messages
      summary: Cancel a scheduled channel message
      description: Cancels an editable scheduled message before it fires.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: scheduled_message_id
        in: path
        required: true
        schema:
          type: string
        description: Scheduled message ID.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages:
    get:
      operationId: listMessages
      tags:
      - messages
      summary: List messages in a channel
      description: |-
        Returns messages in reverse chronological order (newest first). Use `reply_to` to fetch a thread. Use `cursor` for pagination.

        Agent loop helpers (PRD 048 §6):
        - `since=<msg-id>` returns messages strictly newer than the given id
        in chronological order (oldest first), so an agent can stream them
        forward through its turn handler.
        - `unread=true` is shorthand for `since=<my last_read_message_id>`.
        Mutually exclusive with `since`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: sender_id
        in: query
        schema:
          type: string
        description: 'Filter by sender user ID (query param: `sender_id`). `sender_type` is
          returned in responses as a discriminator/display field and is not an accepted query
          parameter.'
      - name: reply_to
        in: query
        schema:
          type: string
        description: Return only replies to this message ID (thread view).
      - name: q
        in: query
        schema:
          type: string
        description: Case-insensitive keyword search over message content.
      - name: pinned
        in: query
        schema:
          type: boolean
        description: Filter by pinned status.
      - name: since
        in: query
        schema:
          type: string
        description: |-
          Return messages strictly newer than this cursor, in chronological
          order. Accepts either:
          - a message ID — strictly newer than that message in
          `(created_at, id)` order, or
          - an RFC3339 timestamp — strictly newer than that instant.
          Useful for agent loops that have already processed everything up
          to and including the cursor.
      - name: unread
        in: query
        schema:
          type: boolean
        description: 'When `true`, equivalent to passing `since=<my last_read_message_id>`.
          Mutually exclusive with `since`. Requires a member-bound credential: callers without
          a user identity get 400, and authenticated non-members get 403.'
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityReferenceType'
        description: Return only messages that reference this entity type.
      - name: entity_id
        in: query
        schema:
          type: string
        description: Return only messages that reference this entity ID.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendMessage
      tags:
      - messages
      summary: Send a message to a channel
      description: |-
        Posts a message to the channel. Sender identity is determined entirely by the authenticated credential — there is no field to override it.

        - When the credential is an API key whose service account backs an
        agent (1:1 invariant), the message is attributed to that agent.
        - When the credential is an API key whose service account backs no
        agent, the message is attributed to that service account.
        - When the credential is a user credential, the message is attributed
        to that user.

        Content is Markdown. Use `reply_to` for threading.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChannelMessageRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/references:
    post:
      operationId: shareChannelEntity
      tags:
      - channels
      summary: Share an entity in a channel
      description: Posts a channel card for a canonical Mobius entity. The message stores
        a typed reference edge so humans and agents can discover the channel activity around
        a run, interaction, job, group, or other entity without scraping Markdown.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareChannelEntityRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages/{message_id}:
    get:
      operationId: getMessage
      tags:
      - messages
      summary: Get a channel message
      description: Returns a single message by ID, including threading, pin, edit, and sender
        attribution metadata. Use the list endpoint to page through a channel or thread.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateMessage
      tags:
      - messages
      summary: Update a channel message
      description: Updates content, metadata, or pinned state of a message. Sets `edited_at`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMessage
      tags:
      - messages
      summary: Delete a channel message
      description: Soft-deletes one of the caller's own channel messages. The message row
        remains as a tombstone so threads, reactions history, and read cursors keep a stable
        parent, but response payloads no longer expose the body, attachments, blocks, or metadata.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      responses:
        '200':
          description: Deleted message tombstone.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageTombstone'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages/{message_id}/reactions:
    post:
      operationId: addMessageReaction
      tags:
      - messages
      summary: Add a reaction to a channel message
      description: 'Adds the authenticated user''s emoji reaction to a message. The operation
        is idempotent for `(message_id, emoji, user)` and returns the existing reaction when
        already present. Reaction rows are also the substrate for inline approval cards: when
        the message references an approval interaction and the emoji maps to an outcome, permitted
        responders resolve the interaction through the same reaction.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChannelMessageReactionRequest'
      responses:
        '200':
          description: Existing reaction returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageReaction'
        '201':
          description: Reaction created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageReaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMessageReaction
      tags:
      - messages
      summary: Remove a reaction from a channel message
      description: Removes the authenticated user's reaction for the supplied emoji.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      - name: emoji
        in: query
        required: true
        schema:
          type: string
        description: Emoji or custom emoji shortcode to remove.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/read:
    post:
      operationId: markMessagesRead
      tags:
      - messages
      summary: Mark messages in a channel as read
      description: |-
        Advances the caller's `last_read_message_id` for this channel. Used by agent loops to record progress: stream a batch with `?unread=true`, process each message, then call this endpoint with the latest id to acknowledge (PRD 048 §6).

        - When `up_to_message_id` is set, the read cursor advances to that
        id (the message must belong to this channel).
        - When the body is empty or `up_to_message_id` is omitted, the read
        cursor advances to the channel's latest message at call time.

        The caller must be a member of the channel. Non-members get 403.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkChannelMessagesReadRequest'
      responses:
        '204':
          description: Read cursor updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/audit-logs:
    get:
      operationId: listOrgAuditLogs
      tags:
      - audit-logs
      summary: List organization audit log entries
      description: |-
        Returns an immutable, append-only log of create/update/delete/archive/restore actions performed against org resources. Each entry attributes the action to a `user_id` (the universal principal) along with the credential used, enabling attribution even when keys are later revoked.

        Combine `user_id` + `resource_type` to audit a specific user's writes to a resource class. Use `created_after` / `created_before` for time-bounded compliance exports.
      parameters:
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: project_id
        in: query
        schema:
          type: string
        description: Filter by project ID
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete, archive, restore)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/audit-logs:
    get:
      operationId: listAuditLogs
      tags:
      - audit-logs
      summary: List project audit log entries
      description: Returns immutable audit log entries for the selected project. Project-pinned
        CLI tokens and service-account API keys can use this route because the project is
        resolved from the path before permission checks run.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete, archive, restore)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create an API key
      description: Creates an API key for a service account in one project. The key authenticates
        as the service account; associated permissions come from that service account's role
        assignments. The raw key value is returned in `key` and is never retrievable again
        after this response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      description: Returns API keys for this organization. When `project_id` is provided,
        return only keys in that project. When `project_id` is omitted, return keys across
        all projects visible to the org-level caller.
      parameters:
      - $ref: '#/components/parameters/APIKeyProjectIDParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/api-keys/{id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get an API key
      description: Returns metadata for a single API key without exposing the raw secret.
        Include `project_id` to resolve the key within a project-scoped request; org-level
        callers may omit it.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/APIKeyProjectIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: revokeAPIKey
      tags:
      - api-keys
      summary: Revoke an API key
      description: Permanently revokes the key. In-flight requests using this key will immediately
        start receiving 401. Include `project_id` to revoke the key from a project-scoped
        request; org-level callers may omit it.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/APIKeyProjectIDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows:
    get:
      operationId: listWorkflows
      tags:
      - workflows
      summary: List workflow definitions
      description: Returns workflow definition summaries, newest-first. List responses omit
        the executable `spec`; use `getWorkflow` to fetch the full definition with its current
        spec.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/TagFilterParam'
      - name: scope
        in: query
        schema:
          $ref: '#/components/schemas/ResourceScope'
        description: Omit for all/default-scoped workflows; use `owner` with `owned_by` to
          list owner-scoped workflows.
      - name: owned_by
        in: query
        schema:
          type: string
        description: Canonical user owner ID. When paired with `scope=owner`, filters to that
          owner namespace.
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWorkflow
      tags:
      - workflows
      summary: Create a workflow definition
      description: Creates a workflow definition with an initial version (version 1). The
        `handle` is auto-derived from `name` if omitted and must be unique within the project.
        Every call to `updateWorkflow` with a new `spec` creates a new version; version numbers
        are monotonically increasing.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
            example:
              name: document-review
              handle: document-review
              description: Summarize a document and request approval before publishing.
              published_as_tool: true
              spec:
                name: document-review
                inputs:
                - name: document_id
                  type: string
                  description: Document to review.
                steps:
                - name: summarize
                  action: summarize-document
                  parameters:
                    document_id: ${inputs.document_id}
                  next:
                  - step: approve
                - name: approve
                  interaction:
                    kind: request
                    title: Approve publishing this summary?
                    timeout: 24h
                    target:
                      group_id: grp_01hw1r0a2b3c4d5e6f7g8h9j0k
                    spec:
                      mode: select
                      options:
                      - value: approve
                        label: Approve
                      - value: reject
                        label: Reject
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/workflows:validate-expressions:
    post:
      operationId: validateWorkflowExpressions
      tags:
      - workflows
      summary: Validate workflow expressions
      description: |-
        Compiles workflow expression strings with the same expression compiler used by the runtime. Template mode accepts literal strings and `${...}` interpolation; expression mode validates a bare predicate/expression such as an edge condition.

        Invalid expressions are returned as field diagnostics in a `200` response so editors can validate a whole draft without failing fast on the first problem.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateWorkflowExpressionsRequest'
            example:
              expressions:
              - id: step:fetch/bind/vars.summary
                expression: ${result.summary}
                mode: template
              - id: edge:route-to-approve/condition
                expression: vars.score > 0.8
                mode: expression
      responses:
        '200':
          description: Validation diagnostics grouped by submitted expression ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowExpressionValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}:
    get:
      operationId: getWorkflow
      tags:
      - workflows
      summary: Get a workflow definition
      description: Returns a workflow definition with its latest executable spec. Use the
        version endpoints when you need a historical spec instead of the current latest version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWorkflow
      tags:
      - workflows
      summary: Update a workflow definition
      description: Updating `spec` atomically creates a new immutable version (version N+1)
        and advances `latest_version`. Runs always execute the version they were started with;
        updating the definition does not affect running instances. Updating `name`, `description`,
        or `published_as_tool` without a `spec` does not create a new version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteWorkflow
      tags:
      - workflows
      summary: Delete a workflow definition
      description: Hard-deletes the definition and all its versions. In-flight runs are not
        affected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions:
    get:
      operationId: listWorkflowVersions
      tags:
      - workflows
      summary: List versions of a workflow definition
      description: Returns version summaries, newest-first. List responses omit the executable
        `spec`; fetch a single version via `getWorkflowVersion` to get the full spec for that
        version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions/{version}:
    get:
      operationId: getWorkflowVersion
      tags:
      - workflows
      summary: Get a specific version of a workflow definition
      description: Returns a single workflow version, including its full executable `spec`.
        `version` is the monotonically increasing version number (1-based).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: version
        in: path
        required: true
        description: Version number (1-based) within this workflow definition.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/runs:
    get:
      operationId: listRunsForWorkflow
      tags:
      - runs
      summary: List runs for a workflow definition
      description: Returns runs for a specific workflow definition, newest first. All statuses
        are included; this endpoint does not currently accept status or range filters.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: startWorkflowRun
      tags:
      - runs
      summary: Start a new workflow run against a saved definition
      description: 'Enqueues a run using the latest version of the workflow definition identified
        by the path parameter. This is the path-bound equivalent of `POST /v1/projects/{project}/runs`
        with `mode: saved` and `definition_id` set to this workflow''s ID.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBoundRunRequest'
      responses:
        '202':
          description: Accepted. When `external_id` is set and matches an active run, the
            existing run is returned idempotently with this same status code instead of creating
            a new one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |-
            Conflict. Possible codes:

            - `project_archived` — the target project is archived. Restore
            the project before starting new runs; in-flight runs continue
            regardless.
            - `external_id_conflict` — `external_id` already belongs to a
            terminal run in this project. The response `details` carry
            `existing_run_id` (string), `status` (`completed` | `failed`),
            and the offending `external_id`. Fetch the prior run for its
            result, or POST a new attempt with a different external_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project}/runs:
    post:
      operationId: startRun
      tags:
      - runs
      summary: Start a new workflow run
      description: |-
        Starts a workflow run. The request body is a discriminated union over `mode`:

        - `mode: saved` — run a previously-created workflow definition. Set
        `definition_id` to the definition to run.
        - `mode: inline` — run an ephemeral workflow from an inline `spec`.
        No `WorkflowDefinition` is created; the returned run has
        `ephemeral: true` and omits `definition_id` / `definition_version`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
            examples:
              saved:
                summary: Run a saved workflow
                value:
                  mode: saved
                  definition_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                  queue: default
                  inputs:
                    document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                  metadata:
                    source: api
                    customer: acme
                  external_id: review-2026-04-24-001
              inline:
                summary: Run an inline workflow
                value:
                  mode: inline
                  queue: default
                  inputs:
                    document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                  spec:
                    name: one-off-document-review
                    steps:
                    - name: summarize
                      action: summarize-document
                      parameters:
                        document_id: ${inputs.document_id}
      responses:
        '202':
          description: Accepted. When `external_id` is set and matches an active run in this
            project, the existing run is returned idempotently with this same status code
            instead of creating a new one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
              example:
                id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                queue: default
                definition_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                definition_version: 3
                ephemeral: false
                workflow_name: document-review
                status: active
                path_counts:
                  total: 1
                  active: 1
                  working: 1
                  waiting: 0
                  completed: 0
                  failed: 0
                job_counts:
                  ready: 1
                  scheduled: 0
                  claimed: 0
                step_counts:
                  pending: 1
                  running: 0
                  completed: 0
                  failed: 0
                  skipped: 0
                  cancelled: 0
                wait_summary:
                  waiting_paths: 0
                  wake_counts: {}
                  subject_counts: {}
                  next_wake_at: null
                errors: []
                attempt: 1
                inputs:
                  document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                metadata:
                  source: api
                  customer: acme
                started_by_user_id: usr_01hw1q2r3s4t5u6v7w8x9y0z1a
                started_by_credential_kind: api_key
                source_type: api
                source_id: review-service
                source_label: review-service
                external_id: review-2026-04-24-001
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |-
            Conflict. Possible codes:

            - `project_archived` — the target project is archived. Restore
            the project before starting new runs; in-flight runs continue
            regardless.
            - `external_id_conflict` — `external_id` already belongs to a
            terminal run in this project. The response `details` carry
            `existing_run_id` (string), `status` (`completed` | `failed`),
            and the offending `external_id`. Fetch the prior run for its
            result, or POST a new attempt with a different external_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List workflow runs
      description: Supports cursor-based pagination and keyset filtering by status, workflow
        definition, workflow type, queue, parent run, and source. When `has_more` is true,
        pass the returned `next_cursor` back on the next call to walk the result set.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        description: Filter by run status.
        schema:
          $ref: '#/components/schemas/RunStatus'
      - name: lifecycle
        in: query
        description: 'Convenience filter that selects runs by lifecycle stage: `in_flight`
          returns active (not-yet-terminal) runs, `terminal` returns completed and failed
          runs. Ignored when `status` is set.'
        schema:
          type: string
          enum:
          - in_flight
          - terminal
      - name: created_at_after
        in: query
        description: Inclusive lower bound for `created_at`, RFC3339. Combine with `created_at_before`
          to scope to a time window.
        schema:
          type: string
          format: date-time
      - name: created_at_before
        in: query
        description: Exclusive upper bound for `created_at`, RFC3339. Combine with `created_at_after`
          to scope to a time window.
        schema:
          type: string
          format: date-time
      - name: workflow_type
        in: query
        description: Filter by workflow type name.
        schema:
          type: string
      - name: definition_id
        in: query
        description: Filter by workflow definition ID.
        schema:
          type: string
      - name: queue
        in: query
        description: Filter by queue name.
        schema:
          type: string
      - name: parent_run_id
        in: query
        description: Filter to child runs of the specified parent run.
        schema:
          type: string
      - name: source_type
        in: query
        description: Filter by run source type (e.g. api, trigger, slack, fork).
        schema:
          type: string
      - name: source_id
        in: query
        description: Filter by the source identifier for the source type.
        schema:
          type: string
      - name: external_id
        in: query
        description: Filter by caller-supplied external ID or correlation key.
        schema:
          type: string
      - name: forked_from
        in: query
        description: Filter to runs forked from the specified source run.
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get a workflow run
      description: Returns a run with its snapshotted workflow spec, result, and step history.
        Spawned worker jobs are returned separately by `GET /v1/projects/{project}/runs/{id}/jobs`.
        Terminal runs may include `result_b64`, `error_type`, and `error_message`; in-flight
        runs include current progress state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/forks:
    post:
      operationId: forkRun
      tags:
      - runs
      summary: Fork a terminal run from a specific step
      description: Creates a new active run that inherits step history before `from_step_id`
        and resumes execution at that step. The request must provide a new logical `external_id`.
        `external_id` keeps the normal project-wide run uniqueness semantics; retrying the
        same fork request with the same source run, fork step, `external_id`, and effective
        target definition version is idempotent and returns the existing forked run with `202`
        whether that fork is still active or already terminal. Omitting `definition_version_id`
        keeps the source run's definition version; supplying it pins post-fork execution to
        that explicit version, and a retry that changes this value is an `idempotency_conflict`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunForkRequest'
      responses:
        '202':
          description: Fork created, or an existing fork returned for an idempotent retry
            with the same source run, `from_step_id`, `external_id`, and effective target
            definition version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Conflict. Expected fork-specific codes include `fork_source_active`,
            `idempotency_conflict`, and `external_id_conflict`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{project}/runs/{id}/steps:
    get:
      operationId: listRunSteps
      tags:
      - runs
      summary: List run steps
      description: Lists durable `RunStep` records for a run. Run steps are the canonical
        execution history and are returned in ascending `transition_seq` order. Pagination
        continues from that same order so clients can replay or reconstruct the ledger incrementally.
        Run steps remain available after terminal job rows are TTL-swept; use jobs only for
        live worker claim state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: path_id
        in: query
        description: Filter steps by workflow path identifier.
        schema:
          type: string
      - name: step_name
        in: query
        description: Filter steps by workflow step name.
        schema:
          type: string
      - name: step_execution_id
        in: query
        description: Filter steps to a single materialization visit. Each call to a wait /
          interaction / code step records every transition under one `step_execution_id`;
          passing it here returns just those rows so callers can correlate suspend → resume
          → completion for one visit without walking the whole ledger.
        schema:
          type: string
      - name: status
        in: query
        description: Filter steps by current run-step status.
        schema:
          $ref: '#/components/schemas/RunStepStatus'
      - name: include
        in: query
        description: Pass `run_state_after` to include `run_state_after_b64`; it is omitted
          otherwise.
        schema:
          type: string
          enum:
          - run_state_after
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStepListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/steps/{step_id}:
    get:
      operationId: getRunStep
      tags:
      - runs
      summary: Get one run step
      description: Returns a single durable `RunStep` row for a workflow run. Run steps are
        the canonical execution history; linked job state, when present, is live worker-claim
        metadata and may disappear after terminal job retention.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: step_id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: Pass `run_state_after` to include `run_state_after_b64`; it is omitted
          otherwise.
        schema:
          type: string
          enum:
          - run_state_after
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStep'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/jobs:
    get:
      operationId: listRunJobs
      tags:
      - runs
      summary: List jobs for a run
      description: Returns every workflow job spawned by the run, including pending, claimed,
        completed, and failed attempts. Use this for step-level progress inspection and operational
        debugging.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/cancellations:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Request cancellation of an in-flight run
      description: Records `cancel_requested_at`, terminalizes the run as failed with `error_type=run_cancelled`,
        and closes any non-terminal jobs created by the run.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: Updated run summary after cancellation was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/resumptions:
    post:
      operationId: resumeRun
      tags:
      - runs
      summary: Resume waiting run paths
      description: Re-enters any resumable waiting paths, such as paused paths or due timer
        waits.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: Updated run summary after resumable paths were re-entered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/signals:
    post:
      operationId: sendRunSignal
      tags:
      - runs
      summary: Deliver a run-scoped signal
      description: Enqueues a public `source_event` for the named signal. The subscription
        router matches the event against any active `wait`/`react` subscriptions on the run
        and delivers it through the unified delivery pipeline. The response is an asynchronous
        acknowledgement carrying the persisted `source_event_id`; subscribers wake on their
        normal `run.resume` ticket. Unmatched signals are recorded as `source_events` but
        not stored as a durable per-run inbox — paths that suspend later do not retroactively
        consume them.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRunSignalRequest'
            example:
              name: manager_approval
              payload:
                approved: true
                approver_id: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSignalAccepted'
              example:
                source_event_id: sev_01hw1v2w3x4y5z6a7b8c9d0e1f
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/integration-events:
    get:
      operationId: listIntegrationEvents
      tags:
      - events
      summary: List received integration events
      description: Returns recent canonical provider events persisted in `integration_events`,
        optionally joined to the corresponding `source_events` processing status. This is
        the main diagnostic surface for understanding what events Mobius is receiving from
        connected integrations and whether those events reached trigger matching and `wait`
        / `react` step delivery (`subject.kind` of `event`).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: provider
        in: query
        schema:
          type: string
        description: Filter by provider name, e.g. `github`.
      - name: integration_id
        in: query
        schema:
          type: string
        description: Filter by integration row id.
      - name: event_type
        in: query
        schema:
          type: string
        description: Filter by exact dotted event type.
      - name: source
        in: query
        schema:
          $ref: '#/components/schemas/IntegrationEventSource'
        description: Filter by event source.
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        description: Include events received at or after this timestamp.
      - name: until
        in: query
        schema:
          type: string
          format: date-time
        description: Include events received before this timestamp.
      - name: cursor
        in: query
        schema:
          type: string
        description: Opaque pagination cursor returned by the previous page.
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
        description: Maximum number of events to return.
      - name: include_payload
        in: query
        schema:
          type: boolean
          default: false
        description: Include redacted payloads in list rows. Defaults to summaries only.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/integration-events/{id}:
    get:
      operationId: getIntegrationEvent
      tags:
      - events
      summary: Get a received integration event
      description: Returns one canonical provider event, its redacted payload, and the associated
        source-event processing status when available.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/integration-events/test/samples:
    get:
      operationId: listIntegrationEventTestSamples
      tags:
      - events
      summary: List synthetic integration event samples
      description: 'Returns provider-owned sample event payloads for testing event triggers
        and `wait` / `react` workflow steps with `subject.kind == "event"`. Samples use Mobius''s
        canonical integration-event payload shape and are safe starter fixtures: callers can
        copy, edit, and pass the payload to `POST /v1/projects/{project}/integration-events/test/fires`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: provider
        in: query
        description: Filter samples by provider name, e.g. `github`.
        schema:
          type: string
      - name: event_type
        in: query
        description: Filter samples by exact event type.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventSamplesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/integration-events/test/fires:
    post:
      operationId: createIntegrationEventTestFire
      tags:
      - events
      summary: Preview or deliver a synthetic integration event
      description: |-
        Builds a synthetic integration event from an explicit payload or a sample fixture. In `preview` mode the server evaluates currently matching event triggers and suspended `wait` / `react` branches (`subject.kind == "event"`) without persisting or delivering the event. In `deliver` mode it persists an integration event row with `source: synthetic` and publishes it through the same event bus consumed by event triggers and `wait` / `react` event delivery.

        Synthetic fires are for local testing and authoring diagnostics. They never verify upstream signatures and should not be treated as provider-originated webhooks.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventFireRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventFireResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{project}/events:
    get:
      operationId: streamProjectEvents
      tags:
      - events
      summary: Subscribe to a project-wide live event stream (SSE)
      description: |-
        Opens a Server-Sent Events connection delivering every live event in the project. Each frame carries a JSON envelope `{type, run_id?, channel_id?, interaction_id?, seq?, timestamp, data}` where `type` is one of:

        - `run_updated` — the run row's status, heartbeat, or
        timestamps changed; `data` is a full Run.
        - `job_updated` — a single job's status or attempt
        advanced; `data` is a full Job. The job's id is on
        `data.id`.
        - `run_step_updated` — a durable run-step row was created
        or advanced; `data` is a full RunStep.
        - `interaction_created` / `interaction_completed` /
        `interaction_group_claimed` /
        `interaction_group_released` / `interaction_cancelled`
        — interaction lifecycle; `data` is a full Interaction
        and the envelope sets `interaction_id`.
        - `message_created` — a channel message was persisted; the
        envelope sets `channel_id` and `data` is a full
        ChannelMessage. Live-only — no `?since=<seq>` replay.
        - `agent_typing` / `member_typing` — a channel participant is
        composing live-only status. Agent frames carry
        `{agent_id, agent_name, status, phase?, message?, tool_name?}`;
        `status` is `started` or `stopped`, `phase` distinguishes
        automatic states such as `generating_response` and
        `using_tool`, and `message` can override the displayed
        status text for the current agent turn.
        - `span_appended` — an OTLP span was persisted against a
        run; `data` carries `{span_id, trace_id, name, ...}`.
        - `custom` — a worker emitted a domain-specific event via
        `POST /v1/projects/{project}/jobs/{id}/events`. `data`
        carries `{kind: "custom", type, job_id, data, step_id?,
        path_id?}` where `type` is the worker-supplied name and
        inner `data` is the worker payload. `step_id` is set
        when the originating job is owned by a workflow step
        and lets consumers correlate the event to the durable
        run step after the job is reaped on TTL; `path_id`
        mirrors the run's execution path for path-scoped
        consumers.

        On this project-wide endpoint the envelope's `seq` is an opaque project-stream cursor — formatted as `{unix_nano}:{run_event_id}` — for the durable project stream, not the run-local `run_events.seq` value (which is only meaningful within a single run and is what `streamRunEvents` returns). Treat the cursor as opaque: clients should store the exact `id:`/`seq` string they most recently received and pass it back unchanged as `?since=...` on reconnect. Initial connections without `since` are live-only and do not replay old run history; pass `since=0` only when explicitly requesting a bounded fresh-start replay. Live-only events (e.g. `message_created`) are not replayed on reconnect. If replay cannot be complete because the replay window is capped or a filter cannot be honored durably, the stream emits a `stream_gap` event whose data includes `{refetch_required: true}`. Comment frames (`:keepalive`) are emitted every ~15s to keep intermediaries from closing the connection.

        Optional entity-axis filters narrow the stream. Each accepts a comma-separated list of IDs; an event is delivered when it matches at least one non-empty axis (OR across axes). When all filters are empty the subscription receives every event in the project.

        Unknown future event types may appear; clients should ignore types they don't recognize rather than treat the stream as malformed.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: since
        in: query
        description: Opaque durable project-stream cursor to replay from. Pass back the exact
          `id:`/`seq` string previously received from this endpoint, or `0` for an explicit
          bounded fresh-start replay. Omit on initial live-only connects. Do not pass a run-local
          `seq` from `streamRunEvents` here.
        schema:
          type: string
      - name: run
        in: query
        description: Comma-separated run IDs to filter by.
        schema:
          type: string
      - name: channel
        in: query
        description: Comma-separated channel IDs to filter by.
        schema:
          type: string
      - name: interaction
        in: query
        description: Comma-separated interaction IDs to filter by.
        schema:
          type: string
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: run_updated
                id: 1777041900000000000:revt_01hw1n1z2y3x4w5v6u7t8s9r0q
                data: {"type":"run_updated","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","seq":"1777041900000000000:revt_01hw1n1z2y3x4w5v6u7t8s9r0q","timestamp":"2026-04-24T14:45:00Z","data":{"...full Run, truncated...":"...","status":"active"}}

                :keepalive
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/runs/{id}/events:
    get:
      operationId: streamRunEvents
      tags:
      - events
      summary: Subscribe to a stream of events for a single run (SSE)
      description: Same envelope as `streamProjectEvents`, filtered to events whose envelope
        carries this run's `run_id` — i.e. run, job, run-step, span, interaction, and worker
        `custom` events. Channel-scoped events that don't carry `run_id` (notably `message_created`)
        are not delivered here; consume those via `streamProjectEvents` with a `?channel=`
        filter. The server writes one seed `run_updated` frame on connection so reconnects
        do not miss the latest state. On this run-scoped endpoint the envelope's `seq` is
        the run-local `run_events.seq` (a per-run monotonic integer); clients pass the latest
        observed `seq` string back as `?since=<seq>` to replay durable events recorded after
        that point. This cursor is run-local — do not persist or reuse it across runs or with
        `streamProjectEvents`, which emits an opaque project-stream cursor of the form `{unix_nano}:{run_event_id}`
        instead.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since
        in: query
        description: Run-local `run_events.seq` cursor to replay from, encoded as a string.
          Do not pass a project-stream cursor from `streamProjectEvents` here.
        schema:
          type: string
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: run_step_updated
                id: 43
                data: {"type":"run_step_updated","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","seq":"43","timestamp":"2026-04-24T14:46:00Z","data":{"id":"step_01hw1n2p3q4r5s6t7u8v9w0x1y","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","path_id":"main","step_name":"summarize","action":"summarize-document","attempt":1,"transition_seq":7,"kind":"worker_action","source":"executed","status":"completed","parameters":{"document_id":"doc_01hw1m9z8y7x6w5v4u3t2s1r0q"},"job_id":"job_01hw1n2a3b4c5d6e7f8g9h0j1k","created_at":"2026-04-24T14:45:10Z","started_at":"2026-04-24T14:45:12Z","completed_at":"2026-04-24T14:46:00Z","updated_at":"2026-04-24T14:46:00Z"}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions:
    get:
      operationId: listCatalogActions
      tags:
      - actions
      summary: List the action catalog
      description: 'Returns the full catalog of actions available to this project: project-owned
        HTTP actions, platform-provided integration actions (Slack, GitHub, etc.), and workflow-backed
        actions (workflows with `published_as_tool = true`). The `available` flag indicates
        whether the action can currently be invoked. The `endpoint_kind` field distinguishes
        HTTP-backed from workflow-backed actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create an action
      description: 'Creates a project-scoped HTTP action. `name` is the stable identifier
        used in workflow step definitions and must be unique within the project. A signing
        secret is generated automatically and returned in the response; this is the only time
        the raw secret is exposed — store it securely. Actions created via this endpoint always
        have `endpoint_kind: http`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - actions
      summary: Get one catalog action by name
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update an action
      description: 'Patches action metadata and schemas. All fields are optional; omitted
        fields are unchanged. Updating `annotations` replaces the entire annotations object
        — pass `null` to clear all annotation flags. Only applicable to `endpoint_kind: http`
        actions; workflow-backed actions are mutated through the workflow surface.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete an action
      description: Rejected with 409 if any workflow step currently references this action
        by name (`ErrActionInUse`). Remove all references before deleting.
      parameters:
[...]
