openapi: 3.0.3
info:
  title: Mobius API
  version: 0.1.0
  contact:
    name: Mobius
    url: https://mobiusops.com
  description: |-
    Mobius is an agent platform for mixed teams of humans, systems, and AI agents. This is the HTTP API behind the `mobius` CLI and the official client SDKs.

    **Base URL.** Production is `https://api.mobiusops.com`. Every route is prefixed with the stable major version `/v1`; breaking changes ship under a new prefix, not in place. The `version` field above tracks revisions of this specification, independent of the `/v1` URL version.

    **Authentication.** Send a credential in the `Authorization: Bearer <credential>` header. **API keys** (prefix `mbx_`) authenticate as a machine principal in one org and are issued from the Mobius app or the API-key endpoints; **CLI credentials** (prefix `mbc_`) are issued by the device-authorization flow on behalf of a user. See the `BearerAuth` security scheme for details.

    **Conventions.** Collections return a cursor-paginated envelope (`items` / `has_more` / `next_cursor`); single resources return the bare object. Errors use a shared envelope with a stable machine-readable `error.code`. Timestamps are ISO-8601 UTC.
servers:
- url: https://api.mobiusops.com
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: resources
  x-displayName: Resources
  description: Resources API operations.
- name: api-keys
  x-displayName: API Keys
  description: Organization API keys used for programmatic authentication.
- name: actions
  x-displayName: Actions
  description: Org and catalog actions invoked by agents and loop steps.
- name: catalog
  x-displayName: Catalog
  description: Catalog API operations.
- name: jobs
  x-displayName: Jobs
  description: The worker WebSocket protocol used by customer-side workers to claim, run,
    and report jobs.
- name: billing
  x-displayName: Billing
  description: Organization subscription, invoice, and billing portal endpoints.
- name: permissions
  x-displayName: Permissions
  description: Permission definitions and presets used to build org roles.
- name: roles
  x-displayName: Roles
  description: System and custom roles plus user role assignments.
- name: organizations
  x-displayName: Organizations
  description: Organization metadata, membership administration, and the current-org control
    plane.
- name: interactions
  x-displayName: Interactions
  description: Structured requests between users and agents (request information, approval,
    review).
- name: agents
  x-displayName: Agents
  description: Agent identities, presence, and lifecycle administration.
- name: sessions
  x-displayName: Sessions
  description: Durable conversation sessions, their transcripts, and direct agent invocation.
- name: routines
  x-displayName: Routines
  description: Scheduled work in an originating session.
- name: skills
  x-displayName: Skills
  description: Org-local and system skill templates used to shape agent behavior and requested
    tools.
- name: blueprints
  x-displayName: Blueprints
  description: Blueprints API operations.
- name: principals
  x-displayName: Principals
  description: Principals API operations.
- name: tables
  x-displayName: Tables
  description: Agent-readable and -writable org tables.
- name: artifacts
  x-displayName: Artifacts
  description: Files produced by agents during loop runs and stored for later inspection.
paths:
  /v1/resources/{resource_type}/{resource_id}/ownership:
    patch:
      operationId: updateResourceOwnership
      x-public: true
      tags:
      - resources
      summary: Update a resource's custody or audience
      description: Shares, un-shares, hands custody to the team, transfers custody to a person,
        or detaches a narrowing agent container. Audience-expanding changes require an explicit
        confirmation. Un-sharing is refused while the resource remains delegated to a wider
        agent audience.
      parameters:
      - name: resource_type
        in: path
        required: true
        schema:
          type: string
          enum:
          - action
          - artifact
          - environment
          - routine
          - secret
          - session
          - skill
          - table
          - webhook
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceOwnershipTransitionRequest'
      responses:
        '200':
          description: Updated ownership state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOwnershipState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create API key
      description: Creates an API key for the active organization. Pass `principal_id` to
        bind the key to an existing machine principal — it authenticates as that principal
        and inherits its role assignments (optionally capped by `scope_role_id`). Omit `principal_id`
        to use the permanent organization principal with the chosen system `role` (defaults
        to `Admin`) as a mandatory key scope. The raw key value is returned in `key` and is
        never retrievable again after this response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              name: CI worker
              principal_id: svc_7q2v9x6m3n8p5r4t
              expires_at: '2026-09-15T14:30:00Z'
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
              example:
                id: cred_1jz8q2m7xp9vn4kt
                name: CI worker
                key_prefix: mbx_7q2v
                principal_id: svc_7q2v9x6m3n8p5r4t
                expires_at: '2026-09-15T14:30:00Z'
                tags:
                  owner: product
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
                key: mbx_7q2v9k1m_redacted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      description: Returns the active organization's API keys, including pagination metadata.
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/api-keys/{resource_id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get API key
      description: Returns metadata for a single API key without exposing the raw secret.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAPIKey
      tags:
      - api-keys
      summary: Delete API key
      description: Revokes the key. In-flight requests using this key will immediately start
        receiving 401 while credential metadata remains available for audit history.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/actions:
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create action
      description: Registers an org-owned custom action definition. HTTP actions require `endpoint_url`
        and receive a signing secret. Worker-backed actions omit `endpoint_url`; compatible
        workers make the registered action ready by advertising its name when connected.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
            example:
              name: review-pr
              title: Review PR
              description: Review a pull request and return findings.
              endpoint_kind: http
              invocation_format: signed_context_v1
              endpoint_url: https://hooks.example.com/mobius/review-pr
              input_schema:
                type: object
                required:
                - pull_request_url
                properties:
                  pull_request_url:
                    type: string
              annotations:
                idempotent: true
                read_only: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
              example:
                id: act_8m4x9q2v7p5n3r6t
                name: review-pr
                title: Review PR
                description: Review a pull request and return findings.
                endpoint_kind: http
                invocation_format: signed_context_v1
                endpoint_url: https://hooks.example.com/mobius/review-pr
                input_schema:
                  type: object
                  required:
                  - pull_request_url
                  properties:
                    pull_request_url:
                      type: string
                annotations:
                  idempotent: true
                  destructive: false
                  read_only: true
                tags:
                  owner: product
                signing_secret: whsec_redacted
                owner:
                  kind: person
                  id: user_2f9s3k4m5n6p7q8r
                visibility: private
                posture: only_you
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/actions/{action_name}:
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update action
      description: Updates action metadata, schemas, annotations, tags, or the HTTP endpoint
        URL. Worker-backed actions cannot set an endpoint URL.
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
            example:
              title: Review PR
              description: Review a pull request and return prioritized findings.
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete action
      description: Deletes an org-owned custom action definition. An action retained by a
        protected blueprint blocks deletion with `409 Conflict` until the protection is lifted.
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate signing secret
      description: Rotates the signing secret for an HTTP-backed custom action. Worker actions
        do not have signing secrets and return a validation error.
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
              example:
                secret_version: 2
                signing_secret: whsec_redacted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/action-invocations:
    get:
      operationId: listActionInvocations
      tags:
      - actions
      summary: List invocations
      description: Lists recent action invocation audit records from agents, direct invocations,
        and job-backed execution.
      parameters:
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: job_id
        in: query
        description: Filter to invocations from a specific job.
        schema:
          type: string
      - name: environment_id
        in: query
        description: Filter to invocations executed in a specific environment.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: action_id
        in: query
        description: Filter to an immutable custom Action ID.
        schema:
          type: string
      - name: definition_scope
        in: query
        description: Filter by the scope that owned the selected definition.
        schema:
          type: string
          enum:
          - platform
          - custom
      - name: secret_version
        in: query
        description: Filter to deliveries signed with a specific secret version.
        schema:
          type: integer
          format: int64
          minimum: 1
      - name: delivery_id
        in: query
        description: Filter to a signed delivery identity.
        schema:
          type: string
      - name: correlation_id
        in: query
        description: Filter to the request or dispatch correlation identity.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/actions/{action_name}/invoke:
    post:
      operationId: invokeAction
      tags:
      - actions
      summary: Invoke action
      description: Invokes a catalog action through the same job-backed execution surface
        an agent's tool call uses. HTTP and managed platform actions are dispatched to Mobius
        server workers; worker-backed custom actions are dispatched to compatible customer
        workers.
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeActionRequest'
            example:
              input:
                channel: '#product'
                text: Deployment finished.
              timeout_seconds: 30
              dry_run: false
      responses:
        '200':
          description: OK — invocation completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
              example:
                status: completed
                job_id: job_2m7x9q5v8p3n4r6t
                output:
                  message_ts: '1718461800.000100'
        '202':
          description: Accepted — asynchronous invocation is still active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
              example:
                status: active
                job_id: job_2m7x9q5v8p3n4r6t
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/catalog/events:
    get:
      operationId: listCatalogEvents
      tags:
      - catalog
      summary: List events
      description: Returns triggerable event sources for this org, including built-in platform
        sources and connected integration providers. Each source lists its active event types,
        readiness, and any reserved matcher prefixes the authoring UI should recognize.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/catalog/actions:
    get:
      operationId: listCatalogActions
      tags:
      - catalog
      summary: List actions
      description: 'Returns the full catalog of actions available to this org: org-owned HTTP
        actions and platform-provided integration actions (Slack, GitHub, etc.). The `available`
        flag indicates whether the action can currently be invoked. Custom HTTP actions are
        created and managed on the `/actions` resource.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/catalog/actions/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - catalog
      summary: Get action
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/catalog/models:
    get:
      operationId: listCatalogModels
      tags:
      - catalog
      summary: List models
      description: Returns assignable agent models grouped by provider. Providers appear only
        when the org has usable credentials, either from BYOK integration state or platform-managed
        configuration.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/catalog/worker-models:
    get:
      operationId: listCatalogWorkerModels
      tags:
      - catalog
      summary: List worker models
      description: Returns local LLM models currently advertised by online org workers. Each
        item includes the exact `model_route` object to assign to an agent. Matching is exact
        on `provider` and `model`; queues are not part of the standard local LLM path.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerModelCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/workers/socket:
    get:
      operationId: openWorkerSocket
      tags:
      - jobs
      summary: Open worker WebSocket
      description: Upgrades to the worker WebSocket protocol. Workers authenticate with normal
        org credentials, send `worker.register`, then exchange typed JSON frames for claim,
        heartbeat, report, cancellation, and generation streaming.
      responses:
        '101':
          description: WebSocket upgrade accepted.
        '200':
          description: Placeholder response for OpenAPI tooling; successful clients receive
            a 101 upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSocketFrame'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/billing/usage-events:
    get:
      operationId: listBillingUsageEvents
      tags:
      - billing
      x-public: true
      summary: List usage events
      description: 'Returns org-scoped usage evidence rows for credit attribution and burndown
        investigation. By default rows are ordered newest first. Supplying `recorded_after`
        selects the durable incremental contract: the lower bound is inclusive and rows are
        ordered oldest first by `(recorded_at, id)`. Consumers should replay a bounded overlap
        and deduplicate by stable event ID. Aggregate totals cover the complete filtered result
        set before cursor pagination, repeat on every page, and may grow as matching rows
        arrive; incremental mirrors should sum the exact per-event `credit_cost_milli` values
        instead. Cursors are bound to their ordering mode, so every incremental page must
        resend `recorded_after`. Filters never broaden beyond the authenticated organization.'
      parameters:
      - name: period_start
        in: query
        required: false
        description: Filter to usage events in this billing period.
        schema:
          type: string
          format: date-time
      - name: recorded_after
        in: query
        required: false
        description: Inclusive lower bound on `recorded_at`. When present, results and cursors
          use chronological `(recorded_at, id)` order for durable incremental mirroring.
        schema:
          type: string
          format: date-time
      - name: counter
        in: query
        required: false
        description: Filter to one usage counter.
        schema:
          type: string
      - name: source_type
        in: query
        required: false
        description: Filter to one usage source type.
        schema:
          type: string
      - name: source_id
        in: query
        required: false
        description: Filter to one source identifier.
        schema:
          type: string
      - name: job_id
        in: query
        required: false
        description: Filter to usage attributed to one job.
        schema:
          type: string
      - name: api_key_id
        in: query
        required: false
        description: Filter to usage recorded for one API key.
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingUsageEventListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/permissions:
    get:
      operationId: listOrgPermissions
      tags:
      - permissions
      summary: List org permissions
      description: Returns the canonical permission definitions, role presets, and action
        execution permission groups available when building org roles. Use this endpoint to
        source the permission IDs accepted by the role creation and update endpoints.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/roles:
    get:
      operationId: listRoles
      tags:
      - roles
      summary: List roles
      description: Returns system-defined roles plus custom roles scoped to this org.
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createRole
      tags:
      - roles
      summary: Create role
      description: Creates a custom role scoped to the org. Only system-defined roles exist
        at the platform/global tier and are created automatically by the platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/roles/{resource_id}:
    get:
      operationId: getRole
      tags:
      - roles
      summary: Get role
      description: Returns a role by ID. Both system-defined and custom roles belonging to
        this org are accessible via this endpoint.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRole
      tags:
      - roles
      summary: Update role
      description: Updates description or permissions of a custom role. Role names are immutable.
        System-defined roles (system_defined=true) cannot be updated and return 403.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteRole
      tags:
      - roles
      summary: Delete role
      description: Hard-deletes the role and all its assignments. System-defined roles cannot
        be deleted.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/role-assignments:
    get:
      operationId: listRoleAssignments
      tags:
      - roles
      summary: List role assignments
      description: Returns role assignments optionally filtered by principal or role.
      parameters:
      - name: principal_id
        in: query
        description: Filter to assignments for a specific principal.
        schema:
          type: string
      - name: role_id
        in: query
        description: Filter to assignments for a specific role.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createRoleAssignment
      tags:
      - roles
      summary: Create role assignment
      description: Binds a role to a principal in this org (human or machine). The assignment
        records the creating user in `granted_by`. To manage a machine principal's roles without
        referencing its ID directly, use `role_ids` on the principal create and update endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleAssignmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/role-assignments/{resource_id}:
    delete:
      operationId: deleteRoleAssignment
      tags:
      - roles
      summary: Delete role assignment
      description: Deletes a single role assignment by ID. The underlying role and principal
        are not deleted, but the principal immediately loses permissions granted only through
        this assignment.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/organization/oauth-return-origins:
    get:
      operationId: getOAuthReturnOrigins
      tags:
      - organizations
      x-public: true
      summary: Get the org's OAuth return-origin allowlist
      description: Returns the active organization's allowlist of exact HTTPS origins that
        an embedded partner may name as a `return_url` when starting a provider connection.
        An empty list means embedded return is disabled for the organization. Requires `Admin`
        or `Owner` membership.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthReturnOrigins'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceOAuthReturnOrigins
      tags:
      - organizations
      x-public: true
      summary: Replace the org's OAuth return-origin allowlist
      description: Full-replace of the active organization's OAuth return-origin allowlist.
        Each entry must be an exact HTTPS origin (scheme, host, and optional non-default port);
        it is normalized to lowercase host with default ports stripped, and duplicates are
        collapsed. At most 20 origins are accepted. Sending an empty list disables embedded
        return. Requires `Admin` or `Owner` membership.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutOAuthReturnOriginsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthReturnOrigins'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/organization/context:
    get:
      operationId: getOrgContext
      tags:
      - organizations
      x-public: true
      summary: Get the organization's shared context
      description: 'Returns the organization context: background on the business that every
        agent in the organization receives in its system prompt, on every turn, whether the
        agent is used in chat, invoked by an application, run by a routine, or reached through
        a messaging channel. Any member of the organization may read it.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgContext'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceOrgContext
      tags:
      - organizations
      x-public: true
      summary: Replace the organization's shared context
      description: 'Full-replace of the organization context. The content is stored as written
        apart from normalization: line endings collapse to LF and trailing whitespace is dropped.
        It must be valid UTF-8 without NUL bytes and at most 16384 bytes; an empty string
        clears it. The new text reaches every agent in the organization on its next turn.
        Requires `Admin` or `Owner` membership.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutOrgContextRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgContext'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/interactions:
    post:
      operationId: createInteraction
      tags:
      - interactions
      summary: Create interaction
      description: Creates an interaction. `consumer` names what is waiting on its resolution;
        omit it for a standalone request that records the response and nothing more.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInteractionRequest'
            example:
              target_user_ids:
              - user_2f9s3k4m5n6p7q8r
              kind: request_approval
              title: Approve publishing the April billing report?
              context:
                report_id: rpt_2026_04
                amount_usd: 12850
              spec:
                mode: confirm
                default_confirmed: false
              require_all: false
              expires_at: '2026-04-25T14:30:00Z'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: iact_6x2m8q5v9p3n7r4t
                kind: request_approval
                status: pending
                title: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target_user_ids:
                - user_2f9s3k4m5n6p7q8r
                owner:
                  kind: person
                  id: user_2f9s3k4m5n6p7q8r
                visibility: private
                posture: only_you
                expires_at: '2026-04-25T14:30:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listInteractions
      tags:
      - interactions
      summary: List interactions
      description: Returns interactions newest-first, optionally filtered by kind, status,
        run, session, target, or the current caller's inbox. Inbox filtering includes direct
        targets.
      parameters:
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/InteractionStatus'
        description: Filter by status
      - name: kind
        in: query
        schema:
          $ref: '#/components/schemas/InteractionKind'
        description: Filter by interaction protocol kind
      - name: session_id
        in: query
        schema:
          type: string
        description: Filter to interactions raised by an agent tool call (`consumer.kind=agent_tool`)
          whose invocation is a turn of the given chat session. Lets a chat surface the pending
          interactions opened by its own agent tool calls.
      - name: target_user_id
        in: query
        schema:
          type: string
        description: Filter by resolved target user ID.
      - name: inbox
        in: query
        schema:
          type: boolean
        description: When true, returns only interactions visible to the authenticated user.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/interactions/{resource_id}:
    get:
      operationId: getInteraction
      tags:
      - interactions
      summary: Get interaction
      description: Returns one interaction with target, response, and completion metadata.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteInteraction
      tags:
      - interactions
      summary: Delete interaction
      description: Deletes an interaction so it disappears from inbox and org listings. The
        row is retained for audit history. Only terminal interactions (`completed`, `cancelled`,
        `expired`) may be deleted; pending or in-review interactions must be cancelled first
        so anything waiting on them can route to a fallback.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/interactions/{resource_id}/respond:
    post:
      operationId: respondToInteraction
      tags:
      - interactions
      summary: Respond to interaction
      description: |-
        Canonical response endpoint for every interaction kind. `action` defaults to `submit`; lifecycle operations beyond submit are not part of the launch model.

        The request body is intentionally the same envelope for every kind: `action`, `value`, and `comment`. Kind-specific behavior is selected from the interaction itself, not from separate request-body shapes.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondToInteractionRequest'
            examples:
              approval:
                summary: Approve interaction
                value:
                  action: submit
                  value: true
                  comment: Approved for publication.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: iact_6x2m8q5v9p3n7r4t
                kind: request_approval
                status: completed
                title: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target_user_ids:
                - user_2f9s3k4m5n6p7q8r
                owner:
                  kind: person
                  id: user_2f9s3k4m5n6p7q8r
                visibility: private
                posture: only_you
                responder:
                  user_id: user_2f9s3k4m5n6p7q8r
                resolving_response_id: iresp_3v7q2m9x5p8n4r6t
                responses:
                - id: iresp_3v7q2m9x5p8n4r6t
                  interaction_id: iact_6x2m8q5v9p3n7r4t
                  response_kind: response
                  state: submitted
                  responder_user_id: user_2f9s3k4m5n6p7q8r
                  value: true
                  comment: Approved for publication.
                  responded_at: '2026-04-24T14:42:00Z'
                  created_at: '2026-04-24T14:42:00Z'
                  updated_at: '2026-04-24T14:42:00Z'
                outcome: true
                resolved_by: any_of
                expires_at: '2026-04-25T14:30:00Z'
                completed_at: '2026-04-24T14:42:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:42:00Z'
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/interactions/{resource_id}/review:
    post:
      operationId: reviewInteraction
      tags:
      - interactions
      summary: Accept or send back submitted work
      description: |-
        Records an acceptance decision on an interaction in `in_review`.

        `accept` resolves the interaction with the outcome that was submitted and resumes any waiting consumer — for a reviewed interaction, this is the moment the workflow moves on. `request_changes` returns the interaction to `pending` under a new review round with the reviewer's feedback attached, and the consumer keeps waiting; a send-back is not a workflow outcome. The retracted submission stays in `responses` for audit, tagged with the round it belonged to.

        Only a principal named by `resolution_policy.review.reviewer_user_ids` may call this, or the interaction's creator when that list is empty. Assignees cannot accept their own work.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewInteractionRequest'
            examples:
              accept:
                summary: Accept submitted work
                value:
                  action: accept
                  comment: Findings check out; ticket closed.
              request_changes:
                summary: Send work back
                value:
                  action: request_changes
                  comment: The import log for 2026-04-19 is missing — please attach it.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/interactions/{resource_id}/cancel:
    post:
      operationId: cancelInteraction
      tags:
      - interactions
      summary: Cancel open interaction
      description: 'Cancels an open interaction — `pending` or `in_review` — recording who
        cancelled and an optional reason. Work awaiting acceptance is cancellable too: a requester
        who no longer needs the result should not have to accept it first. Whatever was waiting
        on the interaction is told it was cancelled so it can route to a fallback. Only humans
        may cancel by default — agents must request cancellation through an interaction.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelInteractionRequest'
            example:
              reason: Superseded by a revised approval request.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create agent
      description: |-
        Creates an agent. An agent IS a principal (principals.kind = agent): its backing identity row is created atomically with the agent — there is no separate machine-identity side record. The agent principal is for identity, ownership, and attribution; an agent's tools come from its own `tool_selectors`, not from roles.

        By default (`if_exists: error`, the default), a duplicate `name` or `external_ref` returns 409. Set `if_exists: adopt` together with `external_ref` to make the call safely retryable: when a live agent already carries that `external_ref`, it is returned unchanged with `200` instead of erroring — mutable fields are ignored, since no write happens. `external_ref` is required to use `adopt`; omitting it returns 400. A soft-deleted agent still owns its `external_ref`: it is never resurrected and never replaced, so a match against a deleted agent returns 409 even with `adopt`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
            example:
              name: PR reviewer
              description: Reviews pull requests for risky changes.
              color: teal
              model: claude-sonnet-4-6
              tool_presentation: flat
              tags:
                owner: product
      responses:
        '200':
          description: 'The existing agent, adopted by `external_ref` (`if_exists: adopt`).
            No fields were written.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
              example:
                id: agent_5n8p2q7m4x9r3v6t
                principal_id: agent_5n8p2q7m4x9r3v6t
                name: PR reviewer
                description: Reviews pull requests for risky changes.
                color: teal
                model: claude-sonnet-4-6
                tool_presentation: flat
                memory_enabled: true
                status: active
                tags:
                  owner: product
                owner:
                  kind: person
                  id: user_2f9s3k4m5n6p7q8r
                visibility: private
                posture: only_you
                created_by: user_2f9s3k4m5n6p7q8r
                updated_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      description: Returns active and inactive agents with computed presence. Deleted agents
        are excluded. Filter by exact name or principal_id to resolve a configured agent without
        copying its Mobius ID into application state. Follow `next_cursor` while `has_more`
        is true to enumerate every match.
      parameters:
      - name: name
        in: query
        description: Filter to the org-unique agent with this exact name.
        schema:
          type: string
      - name: principal_id
        in: query
        description: Filter to the agent backed by this principal.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by administrative status (active/inactive), independent of presence.
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get agent
      description: Returns one agent with its administrative status and computed presence.
        Presence is derived from recent presence records, so it may change without the agent
        record itself being updated.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update agent
      description: Updates mutable agent fields. Setting `status` to `inactive` prevents the
        agent from claiming new jobs but does not terminate active presence records.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
            example:
              status: active
              model: claude-sonnet-4-6
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete agent
      description: Deletes the agent from normal use. The agent record is retained for audit
        and attribution history, but the agent is excluded from all listings and lookups.
        The agent's backing machine principal is archived for attribution history. In-flight
        jobs claiming this agent are not automatically cancelled.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/agents/{resource_id}/members:
    get:
      operationId: listAgentMembers
      tags:
      - agents
      summary: List agent members
      description: |-
        Returns the audience of a `restricted` or `private` agent.

        The member list itself is returned only to callers who may manage the agent — an org admin, or the agent's creator while they remain a member. Every other member sees `count` alone, which is enough to answer "who else can see this" without turning the audience into a directory. An `organization` agent has no members and returns zero.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addAgentMembers
      tags:
      - agents
      summary: Add agent members
      description: |-
        Adds principals to a `restricted` agent's audience. Idempotent: adding a principal who is already a member changes nothing.

        A new member reads the ENTIRE shared layer, including everything promoted before they joined. Adding a second member to a `private` agent is refused — share it by changing its visibility to `restricted`. An agent parked `inactive` for having no audience reactivates when a member is added.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAgentMembersRequest'
      responses:
        '200':
          description: The audience after the add.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemberListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    put:
      operationId: replaceAgentMembers
      tags:
      - agents
      summary: Replace agent members
      description: Sets the audience to exactly the supplied principals. A `private` agent
        takes exactly one; a `restricted` agent at least one.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAgentMembersRequest'
      responses:
        '200':
          description: The audience after the replacement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemberListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}/members/{principal_id}:
    delete:
      operationId: removeAgentMember
      tags:
      - agents
      summary: Remove an agent member
      description: |-
        Drops one principal from the audience. They lose reach on their next request.

        Nothing they wrote is deleted: their private partition on this agent is retained and readable only by org admins, and anything they promoted stays, because promotion made it the group's. Removing the LAST member parks the agent as `inactive`, visible to org admins who may reassign or delete it — it is never silently reopened to the org.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: principal_id
        in: path
        required: true
        description: The principal to remove from the audience.
        schema:
          type: string
      responses:
        '204':
          description: Removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}/visibility-impact:
    get:
      operationId: previewAgentVisibilityChange
      tags:
      - agents
      summary: Preview a visibility change
      description: |-
        Reports what changing this agent's audience would do, without writing anything: how many shared memory entries a widening republishes, which member rows it drops, and which principals a narrowing would strand.

        It is what makes the confirmation specific — "everyone in the org will be able to read the 14 things it knows" rather than a generic warning.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: visibility
        in: query
        required: true
        description: The visibility being considered.
        schema:
          $ref: '#/components/schemas/AgentVisibility'
      - name: members
        in: query
        description: The audience being considered, as a comma-separated list of principal
          IDs. Omit to evaluate against the current member list.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVisibilityImpact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}/inbox:
    post:
      operationId: provisionAgentInbox
      tags:
      - agents
      summary: Provision agent inbox
      description: 'Provisions a dedicated email inbox for the agent. The address is derived
        from the agent ID (`{agentID}@mobiusinbox.com`) and stored on the agent record. Idempotent:
        if an inbox is already provisioned, the existing agent is returned unchanged.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/turns/{turn_id}/messages:
    get:
      operationId: listTurnMessages
      tags:
      - agents
      summary: List turn messages
      description: Returns the transcript messages for one turn in sequence order. Use this
        endpoint when a client already has a turn ID; use the session messages endpoint to
        read the full session transcript.
      parameters:
      - $ref: '#/components/parameters/TurnIdParam'
      - $ref: '#/components/parameters/AfterSequenceParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ContextIncludeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}/messaging-bindings:
    get:
      operationId: listAgentMessagingBindings
      tags:
      - agents
      summary: List agent messaging bindings
      description: Returns messaging provider accounts that route messages to this agent.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBindingListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: saveAgentMessagingBinding
      tags:
      - agents
      summary: Save agent messaging binding
      description: Saves one provider-account binding used to route messages to this agent.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMessagingBindingRequest'
            example:
              provider: slack
              integration_id: int_slack_7x3m9q2v5p8n4r6t
              enabled: true
              dms: true
              mentions: true
              all_messages: false
              channels:
              - C0123456789
              dm_policy: open
              reply_mode: auto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBinding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/agents/{resource_id}/messaging-bindings/{binding_id}:
    delete:
      operationId: deleteAgentMessagingBinding
      tags:
      - agents
      summary: Delete agent messaging binding
      description: Deletes one messaging binding from the agent and provider account.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: binding_id
        in: path
        required: true
        description: Messaging binding identifier.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/agents/{resource_id}/skill-assignments:
    get:
      operationId: listAgentSkillAssignments
      tags:
      - agents
      summary: List agent skill assignments
      description: Returns the skills assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceAgentSkillAssignments
      tags:
      - agents
      summary: Replace agent skill assignments
      description: 'Replaces the agent''s skill assignment set as a whole. Assigning a skill
        does not change the agent''s tools: a skill''s `allowed_tools` grant takes effect
        only once the agent invokes that skill, and never widens the set beyond the agent''s
        own tool selectors.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceSkillsRequest'
            example:
              skill_ids:
              - skill_7n4q8x2m9p5v3r6t
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/agents/{resource_id}/tools:
    get:
      operationId: getAgentTools
      tags:
      - agents
      summary: Get agent tools
      description: |-
        Resolves the effective set of tools an agent can invoke: its tool selectors expanded against the live action catalog, optionally restricted by tool filters.

        Assigned skills do not narrow this set — a skill's `allowed_tools` grant applies only once the agent invokes that skill at runtime. Pass `skill_name` to preview the tools the agent would be left with while that one skill is loaded.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: skill_name
        in: query
        description: Optional assigned skill name to simulate as invoked, so the response
          shows the tool scope a turn would run under once that skill is loaded. Omitted means
          no skill grant is applied; the resolved set still reflects the other filters on
          this request (`allowed_tools`).
        schema:
          type: string
      - name: allowed_tools
        in: query
        description: Optional comma-separated canonical action names, wildcard selectors,
          or group references to apply as a per-invocation filter against the resolved tool
          set.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentToolManifest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}/memory:
    get:
      operationId: getAgentMemory
      tags:
      - agents
      summary: Get agent memory
      description: 'Returns a summary of the agent''s private memory: how many entries it
        holds, a breakdown by kind, and when it last changed. Each agent has its own durable
        memory; only that agent reads or writes it during runs, but org members can observe
        and edit it here.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/{resource_id}/memory/entries:
    get:
      operationId: listAgentMemoryEntries
      tags:
      - agents
      summary: List agent memory entries
      description: Lists durable entries across the agent's shared and user-private memory
        partitions. Pass `query` to search over keys, kinds, summaries, and content; choose
        keyword, semantic, or hybrid ranking with `search_mode`; and use `kind` to filter
        to one kind. With no non-blank `query`, this is always a normal browse/list operation
        and `search_mode` is ignored. Returns an empty page when the agent has no memory yet.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: query
        in: query
        description: Optional search over entry keys, kinds, summaries, and content. Omit
          to list.
        schema:
          type: string
      - name: search_mode
        in: query
        description: Search ranking mode for a non-blank `query`. Omit for backwards-compatible
          keyword search. Semantic and hybrid search can return `503 memory_semantic_search_unavailable`
          when the embedding or search-index service is unavailable; callers may retry or
          fall back to `keyword`.
        schema:
          $ref: '#/components/schemas/MemorySearchMode'
      - name: kind
        in: query
        description: Optional filter to a single memory kind.
        schema:
          $ref: '#/components/schemas/MemoryKind'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntryListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{resource_id}/memory/changes:
    get:
      operationId: listAgentMemoryChanges
      tags:
      - agents
      summary: List agent memory changes
      description: Returns the content-free, append-only change feed for this agent's shared
        and user-private memory partitions. Consumers use the opaque cursor to resume after
        the last observed mutation. If the cursor has expired, relist current entries and
        start a new feed traversal without `after`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: after
        in: query
        description: Opaque cursor returned as `next_cursor` by the previous response. Omit
          on the first request to read retained changes oldest-first. When no retained changes
          exist, the empty response still returns a stable bootstrap cursor that observes
          future mutations.
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryChangeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: The supplied change cursor is older than retained history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/agents/{resource_id}/memory/entries/{memory_key}:
    put:
      operationId: saveAgentMemoryEntry
      tags:
      - agents
      summary: Save memory entry
      description: Saves the memory entry identified by `memory_key` in the requested partition,
        creating it when it does not exist. Omit `user_id` to write shared memory. A non-empty
        `user_id` must identify a current human member of the organization. Runtime user turns
        always write their private partition.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/MemoryKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveAgentMemoryEntryRequest'
            example:
              content: The production database runs in us-east-1.
              summary: Production database region
              kind: fact
              importance: 80
              user_id: user_2f9s3k4m5n6p7q8r
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntry'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAgentMemoryEntry
      tags:
      - agents
      summary: Delete a memory entry
      description: 'Deletes the memory entry identified by `memory_key` from the requested
        partition. Omit `user_id` to target shared memory. Idempotent: succeeds even if no
        such entry exists.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/MemoryKeyParam'
      - $ref: '#/components/parameters/MemoryUserIDParam'
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/agents/{resource_id}/memory/entries/{memory_key}/promotion:
    post:
      operationId: promoteAgentMemoryEntry
      tags:
      - agents
      summary: Promote a memory entry to the shared layer
      description: |-
        Copies one entry from a private partition into the same agent's shared layer, where everyone who can reach the agent reads it. The private entry stays where it was.

        This is the only path from a person's private memory into the shared layer: the model has no tool that writes it during a human-initiated turn, so nothing you tell your assistant becomes the team's by accident. Performed by the partition's owner or by an org admin. The resulting entry carries a change row with reason `promoted` and the acting principal, and the act is reversible with `DELETE` on the same path.

        A key already present in the shared layer is a `409` unless `replace` is set; the replacement is recorded as a versioned update.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/MemoryKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteAgentMemoryEntryRequest'
            example:
              user_id: user_2f9s3k4m5n6p7q8r
      responses:
        '200':
          description: The promoted shared entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: revertAgentMemoryPromotion
      tags:
      - agents
      summary: Reverse a promotion
      description: Removes a promoted entry from the shared layer. It touches nothing in the
        private partition it was copied from, and it is its own change row (reason `promotion_reverted`),
        so the ledger records both directions of the act. Available to the promoter and to
        org admins. Idempotent.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/MemoryKeyParam'
      responses:
        '204':
          description: Reverted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/agents/invoke:
    post:
      operationId: invokeAgent
      tags:
      - sessions
      summary: Invoke an agent
      description: |-
        One compound runtime call for hosted apps: it resolves an agent, resolves or creates a session by `session_key`, appends the caller's input message, and starts an agent turn — collapsing the create-or-resolve-session plus start-turn sequence into a single retryable request. This is the entry point a product backend (an embedded app, a Slack handler, a Telegram bot) calls per inbound message; the lower-level session and turn APIs remain available for finer control.

        Agents always run from their stored definition. A newly created session may set `session.model_override` to keep that conversation on one model. For a one-shot timeout override, send `operation.timeout_seconds` with a value of at least one; it applies only to the newly admitted turn.

        By default it returns `202 Accepted` immediately with a durable `after_sequence` stream cursor; the turn keeps running even if the caller disconnects. When the request sets `Accept: text/event-stream`, the response is `200 OK` and the turn's activity is streamed inline on the same connection, identical to the `POST /v1/sessions/{session_id}/turns` stream. A repeated call with the same `input.idempotency_key` resolves the same session and returns the existing invocation without restarting it or writing new input, so a webhook handler can acknowledge fast and retry safely. Requires the `mobius.resource.use` permission (or the agent's own backing principal).

        Only one direct invocation may be nonterminal in a session. A distinct input while a turn is queued, running, or waiting returns `409` with `error.code = session_turn_active` and `error.details = {turn_id, status}` before the new input is appended. Use the session nudge endpoint explicitly to steer a running or waiting turn; Mobius never converts a second send into a nudge implicitly.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeAgentRequest'
            example:
              agent_ref:
                id: agent_5n8p2q7m4x9r3v6t
              session:
                mode: continue_or_create
                session_key: app:acct_123:user_456:slack:support:thread_789
                title: Support in Slack
                model_override: claude-sonnet-4-6
                metadata:
                  account_id: acct_123
                  user_id: user_456
              operation:
                timeout_seconds: 120
              input:
                content:
                - type: text
                  text: Can you summarize my open tickets?
                idempotency_key: slack:evt_0a1b2c3d
              channel_context:
                provider: slack
                workspace_id: T123
                channel_id: C123
                thread_id: '1700000000.123'
      responses:
        '200':
          description: 'Server-sent event stream of the turn''s activity, returned when the
            request sets `Accept: text/event-stream`. Framing matches `GET /v1/sessions/{session_id}/stream`.'
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SessionStreamFrame'
        '202':
          description: The turn was accepted and is running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnAck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: A distinct direct invocation is already queued, running, or waiting.
            The `session_turn_active` error details contain its `turn_id` and `status`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/sessions:
    get:
      operationId: listSessions
      tags:
      - sessions
      summary: List sessions
      description: Returns durable conversation sessions for the org, newest activity first.
        Pass `agent_id` or `agent_name` to scope the list to one agent's remembered conversations.
      parameters:
      - name: agent_id
        in: query
        description: Filter to sessions owned by this agent.
        schema:
          type: string
      - name: agent_name
        in: query
        description: Filter to sessions owned by the org-unique agent with this exact name.
          Mutually exclusive with `agent_id`.
        schema:
          type: string
      - name: session_key
        in: query
        description: Look up the session with this exact routing key — a read-only deterministic
          lookup that avoids a create-or-resolve round trip, returning the one matching session
          or an empty list. Requires exactly one of `agent_id` or `agent_name`, since session
          keys are scoped to an agent.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by session status.
        schema:
          $ref: '#/components/schemas/SessionStatus'
      - name: scope
        in: query
        description: Filter by session scope.
        schema:
          $ref: '#/components/schemas/SessionScope'
      - name: provider
        in: query
        description: Filter messaging sessions by provider metadata, e.g. `slack` or `telegram`.
        schema:
          type: string
      - name: integration_id
        in: query
        description: Filter to sessions created by this integration, e.g. agent sessions started
          from a connected provider.
        schema:
          type: string
      - name: since
        in: query
        description: Only include sessions with activity after this timestamp.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createSession
      tags:
      - sessions
      summary: Create or resolve a session
      description: 'Resolves a durable conversation session for an agent by policy and returns
        it. With `mode: continue_or_create` (the default) an existing session for the given
        `session_key` is returned, or a new one is created; `mode: new` always creates a fresh
        session; `mode: continue` resolves an existing session and fails if none exists. This
        is the entry point an application calls before sending input events.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/sessions/{session_id}:
    get:
      operationId: getSession
      tags:
      - sessions
      summary: Get session
      description: Returns one durable conversation session.
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSession
      tags:
      - sessions
      summary: Update session
      description: Updates session display or lifecycle fields. Setting `status` to `archived`
        hides the session from the current list while keeping it restorable; setting it to
        `active` restores an archived session. Deleted sessions are retained tombstones and
        cannot be restored.
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteSession
      tags:
      - sessions
      summary: Delete session
      description: Deletes a session from normal product views. The transcript row is retained
        as a tombstone for audit and retention.
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/sessions/{session_id}/attachments:
    post:
      operationId: createSessionAttachment
      tags:
      - sessions
      summary: Create session attachment
      description: |-
        Uploads one document or image into server-managed artifact storage and binds it immutably to this session. DOCX, XLSX, and PPTX uploads start asynchronous Markdown conversion through the document service. The returned `content_block` is the canonical block callers append in a session message or turn input.

        Phase 1 accepts PDF (up to 5 MiB and 50 pages), DOCX, XLSX, or PPTX (up to 5 MiB), Markdown or plain text (up to 100 KiB), and PNG, JPEG, WebP, or GIF images (up to 5 MiB). Mobius detects the media type from the bytes and does not trust the multipart MIME declaration. The feature must be enabled for the organization.
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          maxLength: 255
        description: Optional retry key, scoped to this session and caller. An identical retry
          returns the original attachment. Reusing the key with different file bytes, filename,
          or MIME hint is rejected with a conflict.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateSessionAttachmentRequest'
      responses:
        '200':
          description: Existing attachment returned for an idempotent retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAttachmentResponse'
        '201':
          description: Attachment uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAttachmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The idempotency key was reused with different file bytes, filename,
            or MIME hint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Attachment exceeds its per-type size, Office safety, or PDF page limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Artifact storage is unavailable (`artifact_storage_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sessions/{session_id}/attachments/{artifact_id}:
    delete:
      operationId: deleteSessionAttachment
      tags:
      - sessions
      summary: Delete session attachment
      description: Deletes one artifact created through this session's attachment endpoint.
        The server re-checks the session binding and append permission before deleting bytes
        and releasing artifact quota. Retrying an artifact this session already deleted returns
        204. A 404 means the artifact was never bound to this session, or the session does
        not exist.
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      - $ref: '#/components/parameters/ArtifactIdParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/sessions/{session_id}/messages:
    get:
      operationId: listSessionMessages
      tags:
      - sessions
      summary: List session messages
      description: 'Returns a page of session transcript messages. The page is sequence-anchored
        and bidirectional: `after_sequence` pages forward (newer), `before_sequence` pages
        backward (older), and `order=desc` fetches the newest messages — the tail of a long
        session — in a single request. Items are always returned ascending by `sequence`;
        the response carries both `next_sequence` (forward cursor) and `prev_sequence` (backward
        cursor).'
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      - $ref: '#/components/parameters/AfterSequenceParam'
      - $ref: '#/components/parameters/BeforeSequenceParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ContextIncludeParam'
      - $ref: '#/components/parameters/TerminalPartialsIncludeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: appendSessionMessages
      tags:
      - sessions
      summary: Append session messages
      description: Appends one or more messages to a durable session and returns the updated
        session. The service assigns sequence numbers atomically and may append an additional
        compaction summary when the session crosses its compaction threshold.
      parameters:
      - $ref: '#/components/parameters/SessionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendSessionMessagesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/sessions/{session_id}/turns:
    get:
      operationId: listSessionTurns
      tags:
      - sessions
[...]
