openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is a work coordination platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
tags:
- name: channels
  x-displayName: Channels
- name: audit-logs
  x-displayName: Audit Logs
- name: workflows
  x-displayName: Workflows
- name: runs
  x-displayName: Runs
- name: actions
  x-displayName: Actions
- name: jobs
  x-displayName: Jobs
- name: triggers
  x-displayName: Triggers
- name: workers
  x-displayName: Workers
- name: projects
  x-displayName: Projects
- name: webhooks
  x-displayName: Webhooks
- name: metrics
  x-displayName: Metrics
- name: interactions
  x-displayName: Interactions
- name: groups
  x-displayName: Groups
- name: agents
  x-displayName: Agents
- name: tools
  x-displayName: Tools
paths:
  /v1/projects/{project}/channels:
    post:
      operationId: createChannel
      tags:
      - channels
      summary: Create a channel
      description: 'Creates a new channel or DM thread. The channel `name` must be

        URL-safe and unique within the project — it is immutable after

        creation. The creator is automatically added as an admin member.

        Supply `member_ids` to seed initial membership atomically.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listChannels
      tags:
      - channels
      summary: List channels
      description: Returns channels in the project, optionally filtered by kind or
        visibility.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - dm
          - channel
        description: Filter by channel kind.
      - name: private
        in: query
        schema:
          type: boolean
        description: Filter by private flag.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/channels/{id}:
    get:
      operationId: getChannel
      tags:
      - channels
      summary: Get a channel
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannel
      tags:
      - channels
      summary: Update a channel
      description: 'Updates `display_name`, `topic`, `private`, or `archived_at`.
        The

        `name` (handle) is immutable and cannot be changed after creation.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteChannel
      tags:
      - channels
      summary: Delete a channel
      description: Hard-deletes the channel and its message history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/members:
    get:
      operationId: listChannelMembers
      tags:
      - channels
      summary: List channel members
      description: Returns the current live membership of the channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addChannelMember
      tags:
      - channels
      summary: Add a member to a channel
      description: Adds a user or agent to the channel. Returns 409 if already a member.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChannelMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/members/{userId}:
    delete:
      operationId: removeChannelMember
      tags:
      - channels
      summary: Remove a member from a channel
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User or agent ID of the member to remove.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages:
    get:
      operationId: listChannelMessages
      tags:
      - channels
      summary: List messages in a channel
      description: 'Returns messages in reverse chronological order (newest first).

        Use `reply_to` to fetch a thread. Use `cursor` for pagination.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: sender_id
        in: query
        schema:
          type: string
        description: Filter by sender user or agent ID.
      - name: reply_to
        in: query
        schema:
          type: string
        description: Return only replies to this message ID (thread view).
      - name: pinned
        in: query
        schema:
          type: boolean
        description: Filter by pinned status.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendChannelMessage
      tags:
      - channels
      summary: Send a message to a channel
      description: 'Posts a message to the channel. For agent-sent messages, supply

        `sender_agent_id` (and optionally `sender_session_id`) to attribute

        the message to the agent rather than the authenticated user.

        Content is Markdown. Use `reply_to` for threading.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChannelMessageRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages/{messageId}:
    get:
      operationId: getChannelMessage
      tags:
      - channels
      summary: Get a channel message
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: messageId
        in: path
        required: true
        description: ID of the channel message.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannelMessage
      tags:
      - channels
      summary: Update a channel message
      description: Updates content, metadata, or pinned state of a message. Sets `edited_at`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: messageId
        in: path
        required: true
        description: ID of the channel message.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/audit-logs:
    get:
      operationId: listAuditLogs
      tags:
      - audit-logs
      summary: List audit log entries
      description: 'Returns an immutable, append-only log of create/update/delete
        actions

        performed against org resources. Entries record both the durable actor

        identity (service account or user) and the credential used, enabling

        attribution even when keys are later revoked.


        Combine `actor_id` + `resource_type` to audit a specific identity''s

        writes to a resource class. Use `created_after` / `created_before` for

        time-bounded compliance exports.

        '
      parameters:
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: project_id
        in: query
        schema:
          type: string
        description: Filter by project ID
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: actor_type
        in: query
        schema:
          type: string
        description: Filter by actor type
      - name: actor_id
        in: query
        schema:
          type: string
        description: Filter by actor ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/workflows:
    get:
      operationId: listWorkflows
      tags:
      - workflows
      summary: List workflow definitions
      description: Returns workflow definitions with their latest version number.
        Spec is not included in list responses; use getWorkflow for the full spec.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWorkflow
      tags:
      - workflows
      summary: Create a workflow definition
      description: 'Creates a workflow definition with an initial version (version
        1). The

        `handle` is auto-derived from `name` if omitted and must be unique within

        the org. Every call to `updateWorkflow` with a new `spec` creates a new

        version; version numbers are monotonically increasing.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/workflows/{id}:
    get:
      operationId: getWorkflow
      tags:
      - workflows
      summary: Get a workflow definition
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWorkflow
      tags:
      - workflows
      summary: Update a workflow definition
      description: 'Updating `spec` atomically creates a new immutable version (version
        N+1)

        and advances `latest_version`. Runs always execute the version they were

        started with; updating the definition does not affect running instances.

        Updating `name`, `description`, or `published_as_tool` without a `spec`

        does not create a new version.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWorkflow
      tags:
      - workflows
      summary: Delete a workflow definition
      description: Hard-deletes the definition and all its versions. In-flight runs
        are not affected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions:
    get:
      operationId: listWorkflowVersions
      tags:
      - workflows
      summary: List versions of a workflow definition
      description: Returns all versions newest-first. Pass `include_spec=true` to
        include the full workflow spec for each version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: include_spec
        in: query
        required: false
        description: When true, include the full workflow spec for each version.
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/runs:
    get:
      operationId: listWorkflowRuns
      tags:
      - workflows
      - runs
      summary: List runs for a workflow definition
      description: Returns runs for a specific workflow definition, newest first.
        Includes all statuses unless filtered.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: startWorkflowRun
      tags:
      - workflows
      - runs
      summary: Start a new workflow run against a saved definition
      description: 'Enqueues a run using the latest version of the specified workflow

        definition. Equivalent to POST /v1/projects/{project}/runs with

        `definition_id` set to this workflow''s ID. The `spec` field is

        forbidden on this path-bound endpoint.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project}/runs:
    post:
      operationId: startRun
      tags:
      - runs
      summary: Start a new workflow run
      description: 'Starts a workflow run. Exactly one of `definition_id` or `spec`

        must be provided on the request body. When `spec` is provided,

        the run is ephemeral — no `WorkflowDefinition` is created, and

        the returned run carries an empty `definition_id` and a zero

        `definition_version`.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List workflow runs
      description: 'Supports cursor-based pagination and keyset filtering by

        status, workflow type, queue, parent run, and

        initiator. Returns `{data, next_cursor?}`; pass `next_cursor`

        back in the next call to walk the result set.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        description: Filter by run status.
        schema:
          $ref: '#/components/schemas/WorkflowRunStatus'
      - name: workflow_type
        in: query
        description: Filter by workflow type name.
        schema:
          type: string
      - name: queue
        in: query
        description: Filter by queue name.
        schema:
          type: string
      - name: parent_run_id
        in: query
        description: Filter to child runs of the specified parent run.
        schema:
          type: string
      - name: initiated_by
        in: query
        description: Filter by the initiator label (e.g. trigger name, API key name).
        schema:
          type: string
      - name: external_id
        in: query
        description: Filter by caller-supplied external ID or correlation key.
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get a workflow run
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/action-log:
    get:
      operationId: listRunActionLog
      tags:
      - runs
      summary: List action log entries for a run
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/jobs:
    get:
      operationId: listRunJobs
      tags:
      - runs
      summary: List jobs for a run
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/events:
    get:
      operationId: streamProjectRunEvents
      tags:
      - runs
      summary: Subscribe to a project-wide stream of run events (SSE)
      description: 'Opens a Server-Sent Events connection. Each frame carries a

        JSON envelope `{type, run_id, seq, timestamp, data}` where

        `type` is one of `run_updated`, `job_updated`, or

        `action_appended`, and `seq` is a monotonic durable

        cursor.


        Pass `?since=<seq>` on reconnect to replay any durable

        events the server has recorded past that cursor before

        switching back to live updates; clients should record the

        largest `seq` they have observed. Comment frames

        (`:keepalive`) are emitted every ~15s to keep intermediaries

        from closing the connection.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: since
        in: query
        description: Durable event seq cursor to replay from.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/runs/{id}/cancellations:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Request cancellation of an in-flight run
      description: 'Sets the cancel_requested flag on the run. The next heartbeat

        response includes `directives.should_cancel: true`, and the

        worker is expected to drop the run cooperatively.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/resumptions:
    post:
      operationId: resumeRun
      tags:
      - runs
      summary: Resume a suspended run
      description: Transitions the run from `suspended` back to `queued` so the next
        worker poll picks it up.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/signals:
    post:
      operationId: sendRunSignal
      tags:
      - runs
      summary: Deliver a signal to a suspended run
      description: 'Durably enqueues a signal keyed by (run_id, name). If the run

        is currently suspended waiting on that topic it is flipped

        back to queued so the next poll picks it up. Otherwise the

        signal sits in the store until a future suspended branch

        receives it.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRunSignalRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSignal'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/events:
    get:
      operationId: streamRunEvents
      tags:
      - runs
      summary: Subscribe to a stream of events for a single run (SSE)
      description: 'Same envelope as `/v1/projects/{project}/runs/events` but filtered
        to a single run.

        The server writes one seed `run_updated` frame on connection

        so reconnects do not miss the latest state, and supports

        `?since=<seq>` replay for durable events recorded since the

        given seq cursor.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since
        in: query
        description: Durable event seq cursor to replay from.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions:
    get:
      operationId: listActions
      tags:
      - actions
      summary: List actions
      description: Returns project-owned actions only; use `/catalog` for all available
        actions including platform integrations.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create an action
      description: 'Creates a project-scoped action. `name` is the stable identifier
        used

        in workflow step definitions and must be unique within the project.

        A signing secret is generated automatically and returned in the response;

        this is the only time the raw secret is exposed — store it securely.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{actionName}:
    get:
      operationId: getAction
      tags:
      - actions
      summary: Get an action by name
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update an action
      description: 'Patches action metadata and schemas. All fields are optional;
        omitted

        fields are unchanged. Updating `annotations` replaces the entire

        annotations object — pass `null` to clear all annotation flags.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete an action
      description: 'Rejected with 409 if any workflow step currently references this
        action

        by name (`ErrActionInUse`). Remove all references before deleting.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{actionName}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate an action signing secret
      description: 'Generates a new HMAC-SHA256 signing secret for the action. The
        previous

        secret is retained as `previous_signing_secret` for a brief grace period

        (typically minutes) so in-flight requests signed with the old key are

        not immediately rejected. Store the returned secret — it cannot be

        retrieved again.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/action-audit-log:
    get:
      operationId: listActionAuditLog
      tags:
      - actions
      summary: List action invocation audit records
      description: 'Returns per-invocation records for all action executions in the
        project.

        Each record captures the action name, input parameters, output summary,

        final status, error details, and retry count. Filter by `run_id` to

        inspect all action calls within a single workflow run, or by

        `action_name` for cross-run analysis.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific workflow run.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions/catalog:
    get:
      operationId: listCatalogActions
      tags:
      - actions
      summary: List the action catalog
      description: 'Returns the full catalog of actions available to this project:
        project-owned

        actions plus platform-provided integration actions (Slack, GitHub, etc.).

        The `available` flag indicates whether the action can currently be invoked
        —

        false if a required integration is not connected or the caller lacks

        permissions.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/actions/catalog/{actionName}:
    get:
      operationId: getCatalogAction
      tags:
      - actions
      summary: Get one catalog action by name
      description: Returns availability status, schemas, and metadata for a single
        catalog entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/jobs/claim:
    post:
      operationId: claimJob
      tags:
      - jobs
      summary: Long-poll for the next claimable workflow job
      description: 'Atomically claims the next pending workflow job whose queue name
        is

        in the worker''s `queues` subscription and whose action is in the

        worker''s `actions` filter when provided. If no job is immediately

        available and `wait_seconds > 0`, the server holds the request open

        for up to `wait_seconds` (capped at 30). Returns 204 when the poll

        window closes empty.


        Each successful call also registers or refreshes the worker in the

        worker registry (used by `GET /v1/projects/{project}/workers`), so no

        separate registration step is needed.


        The returned `JobClaim` includes the `heartbeat_interval_seconds`

        the worker should use for subsequent heartbeat calls.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobClaimRequest'
      responses:
        '200':
          description: Job claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobClaim'
        '204':
          description: No jobs available within the poll window
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/jobs/{id}/heartbeat:
    post:
      operationId: heartbeatJob
      tags:
      - jobs
      summary: Refresh the lease on a claimed workflow job
      description: 'Extends the worker''s lease on the job and returns server directives.

        Must include the `worker_id` + `attempt` fence from the original

        claim — a stale fence (e.g., from a previous attempt) is rejected

        with 409.


        Returns a small JSON envelope rather than 204 so the server can

        attach directives (e.g., `should_cancel`) without an additional

        round trip. Workers should call this at the interval specified in

        `JobClaim.heartbeat_interval_seconds` (recommended: 30s).


        When `directives.should_cancel` is true, the run has received a

        cancellation request; the worker must stop processing and call

        `POST /v1/projects/{project}/jobs/{id}/complete` with `status: failed`.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobFenceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobHeartbeat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/jobs/{id}/complete:
    post:
      operationId: completeJob
      tags:
      - jobs
      summary: Report terminal status for a claimed workflow job
      description: 'Marks the job as completed or failed and advances workflow

        progression. Must include the `worker_id` + `attempt` fence from

        the claim — a stale fence is rejected with 409.


        On `status: completed`, `result_b64` (if provided) is base64-

        decoded and stored as the job''s output bytes, which the workflow

        engine may pass as input to downstream steps.


        On `status: failed`, the workflow engine checks the step''s retry

        configuration. If `attempt < max_attempts`, a new job is created

        with `attempt + 1`; otherwise the run is transitioned to `failed`.

        Use `error_type` and `error_message` to distinguish retryable

        failures from permanent ones in observability tooling.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCompleteRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/jobs/{id}/events:
    post:
      operationId: emitJobEvents
      tags:
      - jobs
      summary: Emit one or more custom events from a claimed workflow job
      description: 'Publishes a batch of custom run events on behalf of the worker

        holding the job''s current lease. Events are appended to the

        durable run event store (so they replay via `?since=<seq>`) and

        fanned out to any live SSE subscribers on the run.


        Authorization requires `mobius.job.emit_event`. Each event must

        present the active lease fence (`worker_id` + `attempt`); stale

        fences are rejected with 409.


        `type` is a caller-chosen identifier. The `mobius.` prefix is

        reserved for future server-emitted well-known kinds and is

        rejected with 400.


        Validation is atomic: if any event in the batch is invalid, the

        whole request is rejected and nothing is published. Successful

        batches return 204.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobEventsRequest'
      responses:
        '204':
          description: Events accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project}/jobs/{id}/interactions:
    post:
      operationId: createJobInteraction
      tags:
      - jobs
      summary: Create a human-in-the-loop interaction from a claimed workflow job
      description: 'Job-scoped form of interaction creation for the step-claim runtime.

        The server derives the owning run and project scope from the job,

        so workers do not need to pass `run_id` explicitly. Prefer this

        route over `POST /v1/projects/{project}/interactions` from within a

        job context. The optional `topic` field overrides the server-

        derived signal topic; when omitted the server derives the topic

        from `step_name` or uses a default interaction topic.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobInteractionRequest'
      responses:
        '201':
          description: Interaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/jobs/{id}/actions/{actionName}:
    post:
      operationId: runJobAction
      tags:
      - jobs
      summary: Execute one server-side action for a claimed workflow job
      description: 'Executes a named action in the context of the currently claimed
        job.

        The action must be registered in the project or catalog. The

        `dry_run` flag invokes the action without side effects when the

        action supports it. Results are returned synchronously; for long-

        running actions use `timeout_seconds` to extend the deadline.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunActionRequest'
      responses:
        '200':
          description: Action executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunActionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers:
    get:
      operationId: listTriggers
      tags:
      - triggers
      summary: List triggers
      description: Returns all triggers for the project, optionally filtered by kind
        or enabled state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: kind
        in: query
        description: Filter by trigger kind.
        schema:
          $ref: '#/components/schemas/TriggerKind'
      - name: enabled
        in: query
        description: Filter to enabled or disabled triggers.
        schema:
          type: boolean
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createTrigger
      tags:
      - triggers
      summary: Create a trigger
      description: 'Creates a trigger. For `schedule` triggers, `source_config.cron`
        is

        required. For `webhook` triggers, `webhook_handle` is auto-derived from

        `name` when omitted and must be unique within the project; the

        `receive_url` for posting events is returned in the response.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTriggerRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}:
    get:
      operationId: getTrigger
      tags:
      - triggers
      summary: Get a trigger
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTrigger
      tags:
      - triggers
      summary: Update a trigger
      description: All fields are optional; omitted fields are unchanged.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTrigger
      tags:
      - triggers
      summary: Delete a trigger
      description: Hard-deletes the trigger and its fire history. In-flight runs started
        by this trigger are not affected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}/fires:
    get:
      operationId: listTriggerFires
      tags:
      - triggers
      summary: List fire history for a trigger
      description: 'Returns a paginated history of trigger fires newest-first. Each
        entry

        records whether the fire succeeded, was skipped (e.g. by `forbid`

        concurrency policy), or failed, along with per-target outcomes.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        description: Filter by fire outcome.
        schema:
          $ref: '#/components/schemas/TriggerFireStatus'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerFireListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}/targets:
    get:
      operationId: listTriggerTargets
      tags:
      - triggers
      summary: List targets for a trigger
      description: Returns all targets attached to the given trigger.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTargetListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAllTriggerTargets
      tags:
      - triggers
      summary: Remove all targets from a trigger
      description: Detaches every target from the trigger. The trigger itself is not
        deleted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createTriggerTarget
      tags:
      - triggers
      summary: Add a target to a trigger
      description: Attaches a workflow as a new target of the trigger.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTriggerTargetRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTarget'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}/targets/{target_id}:
    get:
      operationId: getTriggerTarget
      tags:
      - triggers
      summary: Get a trigger target
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/TriggerTargetIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTarget'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTriggerTarget
      tags:
      - triggers
      summary: Update a trigger target
      description: All fields are optional; omitted fields are unchanged.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/TriggerTargetIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerTargetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTarget'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTriggerTarget
      tags:
      - triggers
      summary: Remove a target from a trigger
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/TriggerTargetIDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workers:
    get:
      operationId: listWorkers
      tags:
      - workers
      summary: List workers
      description: 'Returns workers that have polled for jobs within the project.
        Each

        worker''s `stale` flag is computed at read time: if `last_seen_at`

        is older than 2 minutes (or absent), the worker is considered stale.

        Stale workers are retained for display but will not receive new job

        claims.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - projects
      summary: List projects
      description: Returns up to 100 projects. Use `search` for prefix-match filtering
        by name or handle.
      parameters:
      - name: search
        in: query
        description: Prefix-match filter applied to project name and handle.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProject
      tags:
      - projects
      summary: Create a project
      description: 'Creates a project within the authenticated org. If `handle` is
        omitted

        it is auto-derived from `name` (lowercased, spaces replaced with

        hyphens). Returns 409 if the handle already exists in the org.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{id}:
    get:
      operationId: getProject
      tags:
      - projects
      summary: Get a project
      description: Requires the `project.read` permission for the project.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags:
      - projects
      summary: Update a project
      description: 'Updates `name` and/or `description`. The project handle is immutable

        and cannot be changed after creation.

        '
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProject
      tags:
      - projects
      summary: Delete a project
      description: 'Permanently deletes the project and all child resources (workflows,
        runs,

        jobs, triggers, webhooks, groups, interactions, actions, agents, service

        accounts). This operation is irreversible.

        '
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: Returns all outgoing webhook subscriptions for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: enabled
        in: query
        schema:
          type: boolean
        description: Filter by enabled/disabled state.
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create a webhook
      description: 'Creates a new outgoing webhook subscription. Webhook names must
        be

        unique within the project. Returns 409 if the name already exists.


        The signing `secret` (if provided) is stored in plaintext — treat

        it as a shared secret and rotate it via `PATCH` if compromised.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/webhooks/{id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get a webhook
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update a webhook
      description: 'Updates the webhook URL, event subscriptions, enabled state, or

        signing secret. Setting `secret` to an empty string clears the

        current secret and disables signing. Omitting `secret` leaves the

        current value unchanged.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete a webhook
      description: Deletes the webhook and its delivery history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/ping:
    post:
      operationId: pingWebhook
      tags:
      - webhooks
      summary: Test a webhook URL
      description: 'Sends a live test POST request to the webhook''s configured URL
        (or an

        override URL supplied in the request body) and returns the result.

        Use this to verify a URL before saving it. The test payload has

        `type: "ping"` and is signed with the webhook''s secret if one is set.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingWebhookResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - webhooks
      summary: List webhook deliveries
      description: 'Lists the delivery history for a webhook, newest first. Each entry

        records the event type, current status, attempt count, and any last

        error message. Deliveries are retried up to 10 times (5xx, 408,

        429 are retryable; other 4xx are not). A delivery transitions to

        `failed` only after exhausting all retry attempts.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/metrics:
    get:
      operationId: getProjectMetrics
      tags:
      - metrics
      summary: Get operational metrics for a project
      description: 'Returns a snapshot of current execution health for the project.

        All rate and duration metrics are computed over a rolling window

        (default: 60 minutes). P95 step duration is computed from the

        40 most recent completed jobs.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/interactions:
    post:
      operationId: createInteraction
      tags:
      - interactions
      summary: Create an interaction
      description: 'Creates a standalone or run-backed interaction. When `run_id`
        is

        provided, `signal_name` is also required and completing the

        interaction automatically delivers a signal that resumes the

        suspended run. Omit both for a standalone interaction that

        completes with no workflow side effect. Workers creating

        interactions from within a job should use the job-scoped route

        (`POST /v1/projects/{project}/jobs/{id}/interactions`) instead,

        which derives the run and signal name automatically.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInteractionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listInteractions
      tags:
      - interactions
      summary: List interactions
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - completed
          - expired
        description: Filter by status
      - name: run_id
        in: query
        schema:
          type: string
        description: Filter by originating run ID
      - name: target_actor_type
        in: query
        schema:
          type: string
          enum:
          - member
          - agent
          - group
        description: Filter by target actor type
      - name: target_actor_id
        in: query
        schema:
          type: string
        description: Filter by target actor ID
      - name: inbox
        in: query
        schema:
          type: boolean
        description: When true, returns only interactions visible to the authenticated
          user (direct + group membership)
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/interactions/{id}:
    get:
      operationId: getInteraction
      tags:
      - interactions
      summary: Get an interaction
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/interactions/{id}/respond:
    post:
      operationId: respondToInteraction
      tags:
      - interactions
      summary: Submit a response to an interaction
      description: 'Canonical interaction response endpoint for both human responders
        and

        agent workers. When the authenticated request is not associated with a

        member user and the interaction targets an agent queue, the server

        attributes the response to that target agent automatically.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondToInteractionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/interactions/{id}/claim:
    post:
      operationId: claimInteraction
      tags:
      - interactions
      summary: Claim a pending first-responder group interaction
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/interactions/{id}/release:
    post:
      operationId: releaseInteraction
      tags:
      - interactions
      summary: Release a claimed first-responder group interaction
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/groups:
    post:
      operationId: createGroup
      tags:
      - groups
      summary: Create a group
      description: 'Creates a group within the project. The `handle` is auto-derived
        from

        `name` if omitted. Returns 409 if the handle already exists in the project.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listGroups
      tags:
      - groups
      summary: List groups
      description: Returns groups with live member counts (queried separately from
        the group record).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWithCountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/groups/{groupId}:
    get:
      operationId: getGroup
      tags:
      - groups
      summary: Get a group
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/GroupIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWithCount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateGroup
      tags:
      - groups
      summary: Update a group
      description: 'Updates name, description, or routing policy. Handle is immutable
        after

        creation. Changing `routing_policy` only affects future interactions —

        in-flight interactions retain the policy that was snapshotted at creation.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/GroupIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteGroup
      tags:
      - groups
      summary: Delete a group
      description: 'Rejected with 400 if any pending interaction currently targets
        this

        group. Resolve or expire those interactions before deleting.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/GroupIDParam'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/groups/{groupId}/members:
    get:
      operationId: listGroupMembers
      tags:
      - groups
      summary: List members of a group
      description: Returns the current live membership, which may differ from membership
        snapshots in existing interactions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/GroupIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addGroupMember
      tags:
      - groups
      summary: Add a member to a group
      description: The user must be an org member. Returns 409 if already a member.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/GroupIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGroupMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/groups/{groupId}/members/{userId}:
    delete:
      operationId: removeGroupMember
      tags:
      - groups
      summary: Remove a member from a group
      description: Does not affect the member snapshot in existing interactions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/GroupIDParam'
      - name: userId
        in: path
        required: true
        description: User ID of the member to remove.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/members/{userId}/groups:
    get:
      operationId: listMemberGroups
      tags:
      - groups
      summary: List groups a member belongs to
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: userId
        in: path
        required: true
        description: User ID of the org member.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create an agent
      description: 'Creates an agent bound to `service_account_id`. A service account
        can

        back multiple agents. The service account can be changed after creation

        via the PATCH endpoint.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      description: Returns agents with computed presence. Filter by service_account_id
        to find all agents owned by a specific identity.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: service_account_id
        in: query
        description: Filter to agents backed by this service account.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by administrative status (active/inactive), independent
          of presence.
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get an agent
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update an agent
      description: 'Updates mutable agent fields. Setting `status` to `inactive` prevents

        the agent from claiming new jobs but does not terminate active sessions.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete an agent
      description: Hard-deletes the agent and all associated sessions. In-flight jobs
        claiming this agent are not automatically cancelled.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions:
    post:
      operationId: createAgentSession
      tags:
      - agents
      summary: Register a new agent session
      description: 'Called by a worker at startup to register a live connection. `transport`

        identifies the connection mechanism (e.g. "sse", "polling"). The session

        transitions to `connected` and should be kept alive via heartbeats.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentSessionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listAgentSessions
      tags:
      - agents
      summary: List sessions for an agent
      description: 'Returns sessions newest-first. The agent''s `presence` is derived
        from

        the most recent 20 sessions across all transports: `online` if any

        connected session has a fresh heartbeat, `stale` if heartbeats are

        overdue, `offline` otherwise.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        description: Filter by session status.
        schema:
          $ref: '#/components/schemas/AgentSessionStatus'
      - name: transport
        in: query
        description: Filter by transport type (e.g. "sse", "polling").
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/sessions/{sessionId}:
    get:
      operationId: getAgentSession
      tags:
      - agents
      summary: Get an agent session
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: sessionId
        in: path
        required: true
        description: ID of the agent session.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/sessions/{sessionId}/heartbeat:
    post:
      operationId: heartbeatAgentSession
      tags:
      - agents
      summary: Refresh an agent session heartbeat
      description: 'Updates `last_seen_at` on the session and keeps the agent''s computed

        presence as `online`. Workers should call this at a regular interval

        (typically every 30s). Sessions that miss heartbeats become `stale`.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: sessionId
        in: path
        required: true
        description: ID of the agent session.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/sessions/{sessionId}/disconnect:
    post:
      operationId: disconnectAgentSession
      tags:
      - agents
      summary: Mark an agent session as disconnected
      description: 'Explicitly closes a session, setting status to `disconnected`
        and

        recording `disconnected_at`. Prefer this over letting sessions go stale

        on graceful shutdown.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: sessionId
        in: path
        required: true
        description: ID of the agent session.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/tools:
    get:
      operationId: listTools
      tags:
      - tools
      summary: List workflow tools
      description: 'Returns all workflow definitions that have been published as tools

        for the project. Each entry includes the tool name, description, and

        JSON Schema for the input — compatible with the Anthropic and OpenAI

        tool use APIs.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/tools/{handle}/runs:
    post:
      operationId: runTool
      tags:
      - tools
      summary: Invoke a workflow tool
      description: 'Starts a workflow run for the named tool (workflow handle) and
        waits

        for it to complete up to `timeout_seconds` (default 30s, max 120s).

        Returns the run output directly when the workflow completes within

        the timeout. On timeout the response includes the run ID and

        `status: pending` so the caller can switch to polling via

        `GET /v1/projects/{project}/tools/{handle}/runs/{run_id}`.

        '
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Workflow handle identifying the tool to invoke.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolRunRequest'
      responses:
        '200':
          description: OK — run completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRun'
        '202':
          description: Accepted — run is pending; poll for result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/tools/{handle}/runs/{runId}:
    get:
      operationId: getToolRun
      tags:
      - tools
      summary: Get an async tool run result
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Workflow handle identifying the tool.
        schema:
          type: string
      - name: runId
        in: path
        required: true
        description: ID of the tool run to poll.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token
  parameters:
    ProjectHandleParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project handle (unique per organization)
    IDParam:
      name: id
      in: path
      required: true
      description: Resource ID.
      schema:
        type: string
    ActionNameParam:
      name: actionName
      in: path
      required: true
      schema:
        type: string
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination (opaque string from previous response)
      schema:
        type: string
    LimitParam:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 200
    APIKeyProjectIDParam:
      name: project_id
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/ProjectID'
      description: 'Optional project scope for this request. When `project_id` is

        provided, the API key operation is resolved in that project''s

        permission context. When `project_id` is omitted, the request is

        treated as org-level and project-pinned keys are excluded.

        '
    TriggerTargetIDParam:
      name: target_id
      in: path
      required: true
      description: Trigger target ID.
      schema:
        type: string
    GroupIDParam:
      name: groupId
      in: path
      required: true
      description: Group ID or handle.
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limit exceeded. Retry after the delay indicated in the `Retry-After`
        header.
      headers:
        Retry-After:
          schema:
[...]
