openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is an agent automation platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: api-keys
  x-displayName: API Keys
  description: Organization and project API keys used for programmatic authentication.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by agents and automation steps.
- name: catalog
  x-displayName: Catalog
  description: Catalog API operations.
- name: environments
  x-displayName: Environments
  description: Provider-backed isolated workspaces allocated to agents and automation runs.
- name: worker-sessions
  x-displayName: Worker Sessions
  description: Worker sessions opened by long-running customer-side worker processes.
- name: jobs
  x-displayName: Jobs
  description: Jobs API operations.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and project-scoped configuration.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: agents
  x-displayName: Agents
  description: Agent identities, sessions, presence, and lifecycle administration.
- name: automations
  x-displayName: Automations
  description: Automation definitions, versions, publication, and the triggers that start
    runs.
- name: runs
  x-displayName: Runs
  description: Durable automation run executions with their steps and event streams.
- name: toolkits
  x-displayName: Toolkits
  description: Project-local and system toolkit templates that grant agents access to action
    selectors.
- name: skills
  x-displayName: Skills
  description: Project-local and system skill templates used to shape agent behavior and requested
    tools.
- name: tables
  x-displayName: Tables
  description: Agent-readable and -writable project tables.
- name: artifacts
  x-displayName: Artifacts
  description: Files produced by agents during automation runs and stored for later inspection.
paths:
  /v1/projects/{project}/api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create an API key
      description: Creates an API key bound to a machine principal in this project. The key
        authenticates as that principal; associated permissions come from that principal's
        role assignments. The raw key value is returned in `key` and is never retrievable
        again after this response.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      description: Returns API keys for this project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/api-keys/{id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get an API key
      description: Returns metadata for a single API key without exposing the raw secret.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: revokeAPIKey
      tags:
      - api-keys
      summary: Revoke an API key
      description: Permanently revokes the key. In-flight requests using this key will immediately
        start receiving 401.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions:
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create an action
      description: 'Creates a project-scoped HTTP action. `name` is the stable identifier
        used in automation definitions and must be unique within the project. A signing secret
        is generated automatically and returned in the response; this is the only time the
        raw secret is exposed — store it securely. Actions created via this endpoint always
        have `endpoint_kind: http`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}:
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update an action
      description: 'Patches action metadata and schemas. All fields are optional; omitted
        fields are unchanged. Updating `annotations` replaces the entire annotations object
        — pass `null` to clear all annotation flags. Only applicable to `endpoint_kind: http`
        actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete an action
      description: Rejected with 409 if any automation step currently references this action
        by name (`ErrActionInUse`). Remove all references before deleting.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate an action signing secret
      description: 'Generates a new HMAC-SHA256 signing key version for the action. Existing
        deliveries are verified against the version named in their headers; no paired previous-signature
        header is emitted. Store the returned key immediately — it cannot be retrieved again.
        Only applicable to `endpoint_kind: http` actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/action-invocations:
    get:
      operationId: listActionInvocations
      tags:
      - actions
      summary: List action invocation records
      description: Returns per-invocation telemetry records for action executions in the project.
        Each record captures the action name, input parameters, output summary, final status,
        error details, and retry count. Filter by `run_id` to inspect all action calls within
        a single automation run, by `job_id` to scope to a specific job, or by `action_name`
        for cross-run analysis.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific automation run.
        schema:
          type: string
      - name: job_id
        in: query
        description: Filter to invocations from a specific job.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/actions/{action_name}/invocations:
    post:
      operationId: invokeAction
      tags:
      - actions
      summary: Invoke an action
      description: |-
        User-driven invocation of any catalog action. The request waits up to `timeout_seconds` for synchronous completion and returns the output directly on 200.

        - **HTTP-backed** actions (`endpoint_kind: http`) complete inline.

        Worker-fenced invocations from within a job stay at `POST /v1/projects/{p}/jobs/{id}/actions/{name}`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeActionRequest'
      responses:
        '200':
          description: OK — invocation completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
        '202':
          description: Accepted — asynchronous invocation is still active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/catalog/events:
    get:
      operationId: listCatalogEvents
      tags:
      - catalog
      summary: List the triggerable event catalog
      description: |-
        Returns every event source an automation trigger (or `wait_for_event` step) can subscribe to within this project: built-in platform sources (tables, email, runs, HTTP triggers, sessions, artifacts) and integration provider sources (with project connection state). `items` contains those sources; each source lists its concrete, currently-active event types.

        `reserved_prefixes` enumerates platform namespaces that are recognized but not themselves triggerable event sources (for example `signal`, `schedule`), so authoring UIs can distinguish a recognized-but-unsupported matcher prefix from a wholly unknown one.

        Matcher grammar: an `event_type` is a dotted name of segments matching `[A-Za-z_][A-Za-z0-9_]*`, optionally ending in `.*` for prefix matching (e.g. `github.*`, `github.pull_request.opened`, `table.row.inserted`).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/catalog/actions:
    get:
      operationId: listCatalogActions
      tags:
      - catalog
      summary: List the action catalog
      description: 'Returns the full catalog of actions available to this project: project-owned
        HTTP actions and platform-provided integration actions (Slack, GitHub, etc.). The
        `available` flag indicates whether the action can currently be invoked. Custom HTTP
        actions are created and managed on the `/actions` resource.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/catalog/actions/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - catalog
      summary: Get one catalog action by name
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/catalog/models:
    get:
      operationId: listCatalogModels
      tags:
      - catalog
      summary: List the model catalog
      description: |-
        Returns the models a platform agent in this project can be assigned, grouped by provider. Only providers the project can actually run are included: a provider appears when the project has an active BYOK integration for it, or when a platform-managed key is configured.

        An agent's `model` field accepts any returned model id, optionally prefixed with `provider/` (e.g. `xai/grok-4`); bare known ids such as `claude-sonnet-4-6` are auto-detected to their provider.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments:
    get:
      operationId: listEnvironments
      tags:
      - environments
      summary: List environments
      description: Returns project environments visible to the caller, newest-first. Filters
        let clients narrow by provider, lifecycle status, purpose, binding, owner scope, and
        recently destroyed tombstones.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: provider
        in: query
        description: Filter by backing environment provider.
        schema:
          $ref: '#/components/schemas/EnvironmentProvider'
      - name: status
        in: query
        description: Filter by environment lifecycle status.
        schema:
          $ref: '#/components/schemas/EnvironmentStatus'
      - name: lifetime
        in: query
        description: Filter by cleanup-lifetime owner (`run`, `lease`, or `explicit`).
        schema:
          $ref: '#/components/schemas/EnvironmentLifetime'
      - name: environment_mode
        in: query
        description: Filter by environment ownership mode.
        schema:
          $ref: '#/components/schemas/EnvironmentMode'
      - name: purpose
        in: query
        description: Filter by declared environment purpose.
        schema:
          $ref: '#/components/schemas/EnvironmentPurpose'
      - name: scope
        in: query
        description: Omit for all/default-scoped environments; use `owner` with `owned_by`
          to list owner-scoped environments.
        schema:
          $ref: '#/components/schemas/ResourceScope'
      - name: owned_by
        in: query
        description: Canonical user owner ID for the environment.
        schema:
          type: string
      - name: bound_to_type
        in: query
        description: Filter by the kind of object the environment is bound to.
        schema:
          $ref: '#/components/schemas/EnvironmentBoundToType'
      - name: bound_to_id
        in: query
        description: Filter to environments bound to this object ID.
        schema:
          type: string
      - name: include_destroyed
        in: query
        description: Include destroyed environments in the result. By default destroyed rows
          are excluded; set this to true (or pass status=destroyed) to see them.
        schema:
          type: boolean
          default: false
      - name: destroyed_since
        in: query
        description: Narrow destroyed rows to those torn down at or after this timestamp.
          Composes with `status=destroyed` to fetch a "recently destroyed" tombstone window
          (e.g. last hour). Non-destroyed rows are unaffected when this is combined with the
          default (no-status) view.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createEnvironment
      tags:
      - environments
      summary: Create an environment
      description: Creates a durable execution environment record and provisions it with the
        selected provider. The server resolves scope and ownership before enforcing uniqueness
        for the environment name.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/attach:
    post:
      operationId: attachWorkerEnvironment
      tags:
      - environments
      summary: Create or attach a worker-provided environment
      description: Idempotently registers a worker-provided environment (a workspace hosted
        by a connected Mobius worker, e.g. a laptop). The control plane creates the record
        but never provisions or tears it down. Re-attaching the same name returns the existing
        environment. The `mobius worker` CLI calls this on startup, then registers its socket
        against the returned environment id.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachWorkerEnvironmentRequest'
      responses:
        '200':
          description: Attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/acquire:
    post:
      operationId: acquireEnvironment
      tags:
      - environments
      summary: Acquire an environment lease
      description: Collection-level acquire creates or claims an environment and creates a
        single active lease. There is intentionally no per-environment acquire endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquireEnvironmentRequest'
      responses:
        '200':
          description: Acquired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAcquireResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/leases/{lease_id}/release:
    post:
      operationId: releaseEnvironmentLease
      tags:
      - environments
      summary: Release an environment lease
      description: Releases a previously acquired environment lease so the environment can
        be reused, retired, or reclaimed by another worker. The released lease snapshot is
        returned for audit and UI state updates.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: lease_id
        in: path
        required: true
        description: Environment lease ID.
        schema:
          type: string
      responses:
        '200':
          description: Released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLease'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}:
    get:
      operationId: getEnvironment
      tags:
      - environments
      summary: Get an environment
      description: Returns the current environment record, including provider status, lease
        metadata, ownership, binding, and retention settings.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEnvironment
      tags:
      - environments
      summary: Update environment metadata
      description: Only purpose, retention_policy, scope, owned_by, bound_to_type, bound_to_id,
        and tags are mutable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: destroyEnvironment
      tags:
      - environments
      summary: Destroy an environment
      description: Requests provider teardown for the environment and records the destroyed
        state in Mobius. The response includes the final environment snapshot after the destroy
        request is accepted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: Destroyed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}/reconcile:
    post:
      operationId: reconcileEnvironment
      tags:
      - environments
      summary: Reconcile environment provider state
      description: Refreshes Mobius' environment record from the provider control plane. Use
        this when a UI or operator needs to resynchronize status after an out-of-band provider
        change.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}/exec:
    post:
      operationId: execEnvironment
      tags:
      - environments
      summary: Execute a command inside an environment
      description: Runs a command in the target environment and returns its captured output.
        The environment must be active and able to accept execution requests from the selected
        provider.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecEnvironmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentExecResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/files:
    put:
      operationId: writeEnvironmentFile
      tags:
      - environments
      summary: Write a file into an environment
      description: Writes file content into the environment filesystem. The request is intended
        for setup and repair flows that need to place source files, scripts, or configuration
        before executing work.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteEnvironmentFileRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/workers/start:
    post:
      operationId: startEnvironmentWorker
      tags:
      - environments
      summary: Start a Mobius worker in an environment
      description: Starts or reuses a worker process inside the environment so it can claim
        Mobius jobs. The result reports the worker identity and provider execution details
        needed for follow-up diagnostics.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartEnvironmentWorkerRequest'
      responses:
        '200':
          description: Started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentStartWorkerResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/worker/logs:
    get:
      operationId: getEnvironmentWorkerLogs
      tags:
      - environments
      summary: Get worker logs for an environment
      description: Tails the managed Mobius worker log files from inside the environment.
        The worker filesystem is sandbox-local and treated as diagnostic scratch; clients
        should not use this endpoint as durable artifact storage.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      - name: log_name
        in: query
        description: Named log stream to read. Defaults to stdout.
        schema:
          type: string
          enum:
          - stdout
          - stderr
          - bootstrap
          - worker
          - all
          default: stdout
      - name: tail
        in: query
        description: Maximum number of lines to return from each selected log.
        schema:
          type: integer
          minimum: 1
          maximum: 2000
          default: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentWorkerLogsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/git/credentials:
    post:
      operationId: createEnvironmentGitCredential
      tags:
      - environments
      summary: Mint short-lived Git credentials for an environment
      description: Mints a repository-scoped GitHub App installation token for clone or push
        operations executed inside the environment. Mobius returns the token only in this
        response; the caller must inject it into the environment through a transient askpass/stdin
        flow and remove it before the command exits.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentGitCredentialRequest'
      responses:
        '200':
          description: Minted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitCredentialResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/worker-sessions:
    get:
      operationId: listWorkerSessions
      tags:
      - worker-sessions
      summary: List worker sessions
      description: 'Returns worker sessions registered against the project. Each session''s
        `stale` flag is computed at read time: if `last_seen_at` is older than 2 minutes (or
        absent), the session is considered stale. Stale sessions are retained for display
        until the 30-day retention floor; rows older than that are hard-deleted by a background
        sweeper.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workers/socket:
    get:
      operationId: openWorkerSocket
      tags:
      - jobs
      summary: Open worker WebSocket
      description: Upgrades to the worker WebSocket protocol. Workers authenticate with the
        normal project-scoped credentials, send `worker.register`, then exchange typed JSON
        frames for claim, heartbeat, report, cancellation, and generation streaming.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '101':
          description: WebSocket upgrade accepted.
        '200':
          description: Placeholder response for OpenAPI tooling; successful clients receive
            a 101 upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSocketFrame'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - projects
      summary: List projects
      description: Returns up to 100 projects. Use `search` for prefix-match filtering by
        name or handle. By default returns active (non-archived) projects; pass `status=archived`
        to see archived projects, or `status=all` to see both.
      parameters:
      - name: search
        in: query
        description: Prefix-match filter applied to project name and handle.
        schema:
          type: string
      - name: status
        in: query
        description: Lifecycle filter. `active` (default) returns non-archived projects; `archived`
          returns archived projects only; `all` returns both.
        schema:
          type: string
          enum:
          - active
          - archived
          - all
          default: active
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createProject
      tags:
      - projects
      summary: Create a project
      description: Creates a project within the authenticated org. If `handle` is omitted
        it is auto-derived from `name` (lowercased, spaces replaced with hyphens). Returns
        409 if the handle already exists in the org.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}:
    get:
      operationId: getProject
      tags:
      - projects
      summary: Get a project
      description: Requires the `mobius.project.view` permission for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags:
      - projects
      summary: Update a project
      description: Updates `name`, `description`, and/or `access_mode`. The request also accepts
        `seed_existing_members` when flipping `access_mode` from `org_open` to `restricted`.
        The project handle is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteProject
      tags:
      - projects
      summary: Delete a project
      description: |-
        Permanently deletes the project and all child resources (automations, runs, jobs, triggers, webhooks, actions, agents, machine principals). This operation is irreversible.

        The project must be archived first; calling delete on an active project returns `409 project_not_archived`. Archive via `POST /v1/projects/{project}/archive`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/archive:
    post:
      operationId: archiveProject
      tags:
      - projects
      summary: Archive a project
      description: 'Soft-retires the project: triggers and scheduled runs stop firing, edits
        are blocked, and the project is hidden from the default listing. In-flight runs are
        allowed to drain. The project can be restored at any time. Idempotent — archiving
        an already-archived project returns the current state.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/restore:
    post:
      operationId: restoreProject
      tags:
      - projects
      summary: Restore an archived project
      description: Clears the archived state and returns the project to active operation.
        Triggers and scheduled runs resume on their next natural fire — there is no catch-up
        backfill of missed fires during the archive window. Idempotent — restoring an active
        project returns the current state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: Returns all outgoing webhook subscriptions for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: enabled
        in: query
        schema:
          type: boolean
        description: Filter by enabled/disabled state.
      - $ref: '#/components/parameters/TagFilterParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create a webhook
      description: |-
        Creates a new outgoing webhook subscription. Webhook names must be unique within the project. Returns 409 if the name already exists.

        A signing key is generated automatically and returned in the response; this is the only time the raw key is exposed. Rotate it with `POST /webhooks/{id}/secret/rotate` if compromised.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
            example:
              name: Run status sink
              url: https://hooks.example.test/mobius/run-status
              events:
              - run.completed
              - run.failed
              enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: wbh_01hw1t2u3v4w5x6y7z8a9b0c1d
                name: Run status sink
                url: https://hooks.example.test/mobius/run-status
                events:
                - run.completed
                - run.failed
                enabled: true
                secret_ref: mobius/webhook/wbh_01hw1t2u3v4w5x6y7z8a9b0c1d
                secret_version: 1
                signing_secret: base64-encoded-32-byte-key
                created_by: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                created_at: '2026-04-24T14:38:00Z'
                updated_at: '2026-04-24T14:38:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/webhooks/{id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get a webhook
      description: Returns one outgoing webhook subscription and its event filters. The raw
        signing key is never returned after creation or rotation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update a webhook
      description: Updates the webhook name, URL, event subscriptions, enabled state, or tags.
        Signing key rotation is handled by the dedicated rotate endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete a webhook
      description: Deletes the webhook and its delivery history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/secret/rotate:
    post:
      operationId: rotateWebhookSecret
      tags:
      - webhooks
      summary: Rotate a webhook signing secret
      description: Generates a new HMAC-SHA256 signing key version for the webhook. Store
        the returned key immediately — it cannot be retrieved again.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/ping:
    post:
      operationId: pingWebhook
      tags:
      - webhooks
      summary: Test a webhook URL
      description: 'Sends a live test POST request to the webhook''s saved URL, or to an override
        URL supplied in the request body, and returns the result. Because the webhook URL
        may be empty at creation time, the typical flow is: create the webhook without a URL,
        ping candidate URLs via the override until one succeeds, then persist the chosen URL
        with `PATCH`. The test payload has `type: "ping"` and is signed with the webhook''s
        signing key.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingWebhookRequest'
            example:
              url: https://hooks.example.test/mobius/run-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingWebhookResult'
              example:
                success: true
                status_code: 204
                latency_ms: 83
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - webhooks
      summary: List webhook deliveries
      description: Lists the delivery history for a webhook, newest first. Each entry records
        the event type, current status, attempt count, and any last error message. Deliveries
        are retried up to 10 times (5xx, 408, 429 are retryable; other 4xx are not). A delivery
        transitions to `failed` only after exhausting all retry attempts.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
              example:
                items:
                - id: whdel_01hw1u2v3w4x5y6z7a8b9c0d1e
                  webhook_id: wbh_01hw1t2u3v4w5x6y7z8a9b0c1d
                  run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                  event_type: run.completed
                  status: delivered
                  attempts: 1
                  created_at: '2026-04-24T14:44:00Z'
                  delivered_at: '2026-04-24T14:44:01Z'
                has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create an agent
      description: |-
        Creates an agent. An agent IS a principal (principals.kind = agent): its backing identity row is created atomically with the agent and its permissions live as role grants on that principal — there is no separate machine-identity side record.

        Optional `role_ids` sets the role assignments on the agent's principal. Assigning roles requires the caller to hold `mobius.access.manage`. When omitted, the agent inherits the project's `default_agent_role_id`, falling through to the system `Agent` role floor when unset.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      description: Returns active and inactive agents with computed presence. Soft-deleted
        agents are excluded. Filter by principal_id to find the agent backed by a specific
        identity.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: principal_id
        in: query
        description: Filter to the agent backed by this principal.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by administrative status (active/inactive), independent of presence.
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/TagFilterParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get an agent
      description: Returns one agent with its administrative status and computed presence.
        Presence is derived from recent presence records, so it may change without the agent
        record itself being updated.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update an agent
      description: Updates mutable agent fields. Setting `status` to `inactive` prevents the
        agent from claiming new jobs but does not terminate active presence records.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete an agent
      description: Soft-deletes the agent by setting `deleted_at`. The agent record is retained
        for audit and attribution history, but the agent is excluded from all listings and
        lookups. The agent's machine principal is disabled. In-flight jobs claiming this agent
        are not automatically cancelled.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/inbox:
    post:
      operationId: provisionAgentInbox
      tags:
      - agents
      summary: Provision email inbox
      description: 'Provisions a dedicated email inbox for the agent. The address is derived
        from the agent ID (`{agentID}@mobiusinbox.com`) and stored on the agent record. Idempotent:
        if an inbox is already provisioned, the existing agent is returned unchanged.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions:
    get:
      operationId: listAgentSessions
      tags:
      - agents
      summary: List conversation sessions for an agent
      description: Returns durable conversation sessions for one agent, newest activity first.
        Remote workers use this to inspect their own remembered conversations.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        description: Filter by session status.
        schema:
          $ref: '#/components/schemas/SessionStatus'
      - name: scope
        in: query
        description: Filter by session scope.
        schema:
          $ref: '#/components/schemas/SessionScope'
      - name: provider
        in: query
        description: Filter messaging sessions by provider metadata, e.g. `slack` or `telegram`.
        schema:
          type: string
      - name: since
        in: query
        description: Only include sessions with activity after this timestamp.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions/{session_id}:
    get:
      operationId: getAgentSession
      tags:
      - agents
      summary: Get a conversation session
      description: Returns one durable conversation session for an agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions/{session_id}/messages:
    get:
      operationId: listSessionMessages
      tags:
      - agents
      summary: List conversation session messages
      description: Returns raw session messages in sequence order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      - name: after_sequence
        in: query
        description: Only include messages with sequence greater than this value.
        schema:
          type: integer
          minimum: 0
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: appendSessionMessages
      tags:
      - agents
      summary: Append conversation session messages
      description: Appends one or more messages to a durable session and returns the updated
        session. The service assigns sequence numbers atomically and may append an additional
        compaction summary when the session crosses its compaction threshold.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendSessionMessagesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/messaging-bindings:
    get:
      operationId: listAgentMessagingBindings
      tags:
      - agents
      summary: List agent messaging bindings
      description: Returns the provider accounts this agent can answer on.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBindingListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: saveAgentMessagingBinding
      tags:
      - agents
      summary: Save an agent messaging binding
      description: Upserts one provider-account binding for this agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMessagingBindingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBinding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/agents/{id}/messaging-bindings/{binding_id}:
    delete:
      operationId: deleteAgentMessagingBinding
      tags:
      - agents
      summary: Delete an agent messaging binding
      description: Removes one messaging binding from the agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: binding_id
        in: path
        required: true
        description: Messaging binding identifier.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions/{session_id}/events.stream:
    get:
      operationId: streamSessionEvents
      tags:
      - agents
      summary: Stream live conversation session events
      description: Streams live Server-Sent Events for a conversation session. This is a live
        transport for ephemeral events such as `generation.delta`; durable session transcript
        state remains available from the messages endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: SSE stream of live session events.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/toolkits:
    get:
      operationId: listToolkitAssignments
      tags:
      - agents
      summary: List assigned toolkits
      description: Returns the toolkits assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceToolkits
      tags:
      - agents
      summary: Replace assigned toolkits
      description: Replaces the agent's toolkit assignment set as a whole. The effective tool
        surface is the union of assigned toolkit grants intersected with the agent principal's
        permissions and any per-invocation narrowing.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceToolkitsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/table-grants:
    get:
      operationId: listAgentTableGrants
      tags:
      - agents
      summary: List agent table grants
      description: Returns durable table memory grants assigned to one agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTableGrantListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceAgentTableGrants
      tags:
      - agents
      summary: Replace agent table grants
      description: Replaces the agent's durable table memory grant set as a whole.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceAgentTableGrantsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTableGrantListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/skills:
    get:
      operationId: listSkillAssignments
      tags:
      - agents
      summary: List assigned skills
      description: Returns the skills assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceSkills
      tags:
      - agents
      summary: Replace assigned skills
      description: Replaces the agent's skill assignment set as a whole. Skills request tools
        and actions; the manifest enforces only the intersection with toolkit grants and the
        agent principal's permissions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceSkillsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/tools:
    get:
      operationId: getAgentTools
      tags:
      - agents
      summary: List an agent's resolved tools
      description: 'Resolves the effective set of tools an agent can invoke: the flat set
        of actions the agent can invoke, computed from toolkit grants, the agent principal''s
        permissions, optional toolkit filters, optional per-invocation tool filters, and optional
        active skill narrowing.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: toolkit_ids
        in: query
        description: Optional comma-separated toolkit subset to apply.
        schema:
          type: string
      - name: skill_name
        in: query
        description: Optional assigned skill name to preselect as active.
        schema:
          type: string
      - name: allowed_tools
        in: query
        description: Optional comma-separated canonical action names, wildcard selectors,
          or group references to apply as a per-invocation filter against the resolved tool
          set.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentToolManifest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/automations:
    get:
      operationId: listAutomations
      tags:
      - automations
      summary: List automations in a project
      description: Returns automations in the project, newest-first. Supports filtering by
        lifecycle status and cursor-based pagination. Archived automations are excluded by
        default; pass `status=archived` to list only archived, or `status=all` to include
        every status.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        description: Filter by lifecycle status. Omit to return all non-archived automations
          (the default). Pass a single status to filter to it exactly, or `all` to include
          archived automations too.
        schema:
          type: string
          enum:
          - draft
          - active
          - paused
          - archived
          - all
      - name: cursor
        in: query
        description: Opaque pagination cursor from a prior response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createAutomation
      tags:
      - automations
      summary: Create an automation
      description: Creates a new automation in `draft` status. The `handle` must be unique
        within the project and is immutable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/automations/{handle}:
    get:
      operationId: getAutomation
      tags:
      - automations
      summary: Get an automation
      description: Returns one automation by its project-unique handle.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Project-unique automation handle.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAutomation
      tags:
      - automations
      summary: Update an automation
      description: Updates mutable fields on the automation. The handle, org, and project
        remain immutable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Project-unique automation handle.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutomationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAutomation
      tags:
      - automations
      summary: Archive an automation
      description: Soft-archives the automation. Existing runs remain queryable; new runs
        cannot be started.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Project-unique automation handle.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/automations/{handle}/versions:
    get:
      operationId: listAutomationVersions
      tags:
      - automations
      summary: List versions for an automation
      description: Returns every stored version (draft, published, superseded) for one automation,
        newest version first.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Project-unique automation handle.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createAutomationVersion
      tags:
      - automations
      summary: Create a new draft version
      description: Stores a new draft `AutomationVersion` with the supplied spec. Returns
        the new version. Use `publishAutomationVersion` to make it runnable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Project-unique automation handle.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationVersionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/automations/{handle}/versions/{version}/publication:
    post:
      operationId: publishAutomationVersion
      tags:
      - automations
      summary: Publish a version
      description: Marks the supplied version `published` and updates the automation's `published_version`.
        Prior published versions become `superseded`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Project-unique automation handle.
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: Version number of the AutomationVersion to publish.
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/triggers/http/{http_handle}:
    post:
      operationId: deliverHTTPTrigger
      tags:
      - automations
      summary: Deliver an HTTP request payload to a trigger
      description: Public, unauthenticated endpoint that resolves the `http_handle` to a configured
        http-kind trigger and commits a durable source-event row; the run starts asynchronously.
        Idempotent on the `idempotency_key` query parameter or the standard `X-Idempotency-Key`
        header — repeats with the same key return the same `source_event_id` without enqueuing
        a duplicate. Resolve the resulting run via `GET /v1/projects/{project}/runs?source_event_id=<source_event_id>`.
      security: []
      parameters:
      - name: http_handle
        in: path
        required: true
        description: Globally unique identifier for the trigger. The endpoint carries no project
          context, so the handle is resolved on its own; it defaults to the trigger's globally
          unique id and is treated as an unguessable delivery token.
        schema:
          type: string
      - name: idempotency_key
        in: query
        required: false
        schema:
          type: string
        description: Optional idempotency key (also accepted via the X-Idempotency-Key header).
      - name: X-Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: Alternative to the `idempotency_key` query parameter. When both are present
          the query parameter wins. Repeats with the same key return the same `source_event_id`
          (resolve the run via `source_event_id`) without enqueuing a duplicate.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Free-form payload forwarded to the run as inputs.
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPTriggerDeliveryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/automations/{handle}/runs:
    post:
      operationId: startRun
      tags:
      - runs
      summary: Start a new automation run
      description: |-
        Resolves `{handle}` to the latest runnable version and starts a run. Returns the created run when accepted, or the existing run when the request carries a `trigger_fire_id` (or `external_id`) that matches a still-active prior run (idempotent retry).

        Idempotency conflicts on `external_id` against a terminal-prior run surface as `409 Conflict` with error code `external_id_conflict` and `details` populated with `existing_run_id`, `status`, and `external_id`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: handle
        in: path
        required: true
        description: Automation handle (unique per project).
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAutomationRunRequest'
      responses:
        '202':
          description: Accepted. Returns the run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/runs:
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List automation runs
      description: Returns automation runs for the project, newest-first. Supports filters
        by status, automation_id, and source_event_id, plus cursor-based pagination.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/AutomationRunStatus'
        description: Filter to one status.
      - name: automation_id
        in: query
        schema:
          type: string
        description: Filter to one automation's runs.
      - name: source_event_id
        in: query
        schema:
          type: string
        description: Filter to runs originating from a single source event. Pass the `source_event_id`
          returned by the HTTP-trigger delivery endpoint to discover the run it started.
      - name: cursor
        in: query
        schema:
          type: string
        description: Opaque pagination cursor from a prior response.
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get an automation run
      description: Returns one automation run by ID with its current status, inputs, result,
        and source attribution.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/cancellations:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Cancel an in-flight run
      description: Marks the run cancelled and closes any open waits. Safe to call on an already-terminal
        run (returns the current state, no error).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAutomationRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/steps:
    get:
      operationId: listRunSteps
      tags:
      - runs
      summary: List the steps of an automation run
      description: Returns the durable step records for one run, ordered by step index. Each
        row carries the step's kind, status, attempt count, inputs, result, and any error
        metadata recorded by the engine.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRunStepListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/events:
    get:
      operationId: listRunEvents
      tags:
      - runs
      summary: List run events
      description: Returns the durable run-event log used by clients (UI, SDK, integrations)
        to observe a run as it progresses. Events are ordered by sequence number and cover
        run, step, turn, tool, action, artifact, and cleanup lifecycle. Use `since_sequence`
        to fetch only events strictly after a previously observed sequence number, which is
        the standard polling pattern paired with the SSE stream.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since_sequence
        in: query
        description: Return events with sequence > since_sequence.
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRunEventListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/events.stream:
    get:
      operationId: streamRunEvents
      tags:
      - runs
      summary: Stream run events over Server-Sent Events
      description: Long-lived SSE stream of run events ordered by sequence number. Each `data:`
        frame is a JSON-encoded `AutomationRunEvent`. The stream terminates when the run reaches
        a terminal status. Clients that disconnect should reconnect using `?since_sequence=N`
        (or the SSE `Last-Event-ID` header set to the last sequence) to resume without gaps.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since_sequence
        in: query
        description: Stream events with sequence > since_sequence.
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: OK
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/signals:
    post:
      operationId: signalRun
      tags:
      - runs
      summary: Resume a suspended run step
      description: Resumes a run that is suspended on a `wait_event` step matching the provided
        `step_key`. The `result` payload becomes the step's output and is available to downstream
        steps via `{{ .context.<save_as> }}`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalAutomationRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/toolkits:
    get:
      operationId: listToolkits
      tags:
      - toolkits
      summary: List toolkits
      description: Returns active project-local and system toolkit templates visible to the
        project by default. Pass `status=archived` to list archived toolkits or `status=all`
        to include every lifecycle status.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: include_system
        in: query
        description: Include read-only system templates.
        schema:
          type: boolean
          default: true
      - name: status
        in: query
        description: Filter by lifecycle status. Omit for active toolkits.
        schema:
          type: string
          enum:
          - active
          - archived
          - all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createToolkit
      tags:
      - toolkits
      summary: Create a toolkit
      description: Creates a project-local toolkit with action selector grants.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolkitRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Toolkit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/toolkits/{toolkit_id}:
    get:
      operationId: getToolkit
      tags:
      - toolkits
      summary: Get a toolkit
      description: Returns a single project-local or system toolkit template by ID.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: toolkit_id
        in: path
        required: true
        description: Toolkit ID (TypeID `kit_...`).
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Toolkit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateToolkit
      tags:
      - toolkits
      summary: Update a toolkit
[...]
