openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is a work coordination platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: channels
  x-displayName: Channels
  description: Project channels, messages, membership, and threaded collaboration.
- name: audit-logs
  x-displayName: Audit Logs
  description: Immutable audit records for security-sensitive project and organization activity.
- name: workflows
  x-displayName: Workflows
  description: Versioned workflow definitions and their executable specifications.
- name: runs
  x-displayName: Runs
  description: Workflow run lifecycle, events, signals, jobs, and runtime inspection.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by workflow steps.
- name: jobs
  x-displayName: Jobs
  description: Worker protocol endpoints for claiming, heartbeating, completing, and instrumenting
    step jobs.
- name: triggers
  x-displayName: Triggers
  description: Automated workflow starts from schedules, inbound webhooks, and platform events.
- name: worker-sessions
  x-displayName: Worker Sessions
  description: Recently seen worker sessions and their advertised capabilities.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and project-scoped configuration.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: metrics
  x-displayName: Metrics
  description: Project operational metrics for workflow and worker activity.
- name: interactions
  x-displayName: Interactions
  description: Human-in-the-loop requests, responses, and group routing.
- name: groups
  x-displayName: Groups
  description: Project groups, membership, and group interaction routing policy.
- name: agents
  x-displayName: Agents
  description: Agent identities, sessions, presence, and lifecycle administration.
- name: tools
  x-displayName: Tools
  description: Published workflow tools and tool invocation results.
paths:
  /v1/projects/{project}/channels:
    post:
      operationId: createChannel
      tags:
      - channels
      summary: Create a channel
      description: Creates a new channel or DM thread. The channel `name` must be URL-safe
        and unique within the project — it is immutable after creation. The creator is automatically
        added as an admin member. Supply `member_ids` to seed initial membership atomically.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listChannels
      tags:
      - channels
      summary: List channels
      description: Returns channels in the project, optionally filtered by kind or visibility.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - dm
          - channel
        description: Filter by channel kind.
      - name: private
        in: query
        schema:
          type: boolean
        description: Filter by private flag.
      - $ref: '#/components/parameters/TagFilterParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/channels/{id}:
    get:
      operationId: getChannel
      tags:
      - channels
      summary: Get a channel
      description: Returns channel metadata for the given ID. Membership and messages are
        exposed through their own endpoints so callers can fetch only the detail they need.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannel
      tags:
      - channels
      summary: Update a channel
      description: Updates `display_name`, `topic`, `private`, or `archived_at`. The `name`
        (handle) is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteChannel
      tags:
      - channels
      summary: Delete a channel
      description: Hard-deletes the channel and its message history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/members:
    get:
      operationId: listChannelMembers
      tags:
      - channels
      summary: List channel members
      description: Returns the current live membership of the channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addChannelMember
      tags:
      - channels
      summary: Add a member to a channel
      description: Adds a user or agent to the channel. Returns 409 if already a member.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChannelMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/channels/{id}/members/{member_id}:
    delete:
      operationId: removeChannelMember
      tags:
      - channels
      summary: Remove a member from a channel
      description: Removes a user or agent from the channel's live membership. Existing messages
        remain attributed to the removed member, and removing a member does not revoke project-level
        access outside this channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/member_id'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages:
    get:
      operationId: listChannelMessages
      tags:
      - channels
      summary: List messages in a channel
      description: Returns messages in reverse chronological order (newest first). Use `reply_to`
        to fetch a thread. Use `cursor` for pagination.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: sender_id
        in: query
        schema:
          type: string
        description: Filter by sender user or agent ID.
      - name: reply_to
        in: query
        schema:
          type: string
        description: Return only replies to this message ID (thread view).
      - name: pinned
        in: query
        schema:
          type: boolean
        description: Filter by pinned status.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendChannelMessage
      tags:
      - channels
      summary: Send a message to a channel
      description: Posts a message to the channel. For agent-sent messages, supply `sender_agent_id`
        (and optionally `sender_session_id`) to attribute the message to the agent rather
        than the authenticated user. Content is Markdown. Use `reply_to` for threading.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChannelMessageRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages/{message_id}:
    get:
      operationId: getChannelMessage
      tags:
      - channels
      summary: Get a channel message
      description: Returns a single message by ID, including threading, pin, edit, and sender
        attribution metadata. Use the list endpoint to page through a channel or thread.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannelMessage
      tags:
      - channels
      summary: Update a channel message
      description: Updates content, metadata, or pinned state of a message. Sets `edited_at`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/audit-logs:
    get:
      operationId: listAuditLogs
      tags:
      - audit-logs
      summary: List audit log entries
      description: |-
        Returns an immutable, append-only log of create/update/delete/archive/restore actions performed against org resources. Entries record both the durable actor identity (service account or user) and the credential used, enabling attribution even when keys are later revoked.

        Combine `actor_id` + `resource_type` to audit a specific identity's writes to a resource class. Use `created_after` / `created_before` for time-bounded compliance exports.
      parameters:
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: project_id
        in: query
        schema:
          type: string
        description: Filter by project ID
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: actor_type
        in: query
        schema:
          type: string
        description: Filter by actor type
      - name: actor_id
        in: query
        schema:
          type: string
        description: Filter by actor ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete, archive, restore)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/workflows:
    get:
      operationId: listWorkflows
      tags:
      - workflows
      summary: List workflow definitions
      description: Returns workflow definition summaries, newest-first. List responses omit
        the executable `spec`; use `getWorkflow` to fetch the full definition with its current
        spec.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/TagFilterParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWorkflow
      tags:
      - workflows
      summary: Create a workflow definition
      description: Creates a workflow definition with an initial version (version 1). The
        `handle` is auto-derived from `name` if omitted and must be unique within the project.
        Every call to `updateWorkflow` with a new `spec` creates a new version; version numbers
        are monotonically increasing.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
            example:
              name: document-review
              handle: document-review
              description: Summarize a document and request approval before publishing.
              published_as_tool: true
              spec:
                name: document-review
                inputs:
                - name: document_id
                  type: string
                  description: Document to review.
                steps:
                - name: summarize
                  action: summarize-document
                  parameters:
                    document_id: ${inputs.document_id}
                  store: summary
                  next:
                  - step: approve
                - name: approve
                  interaction:
                    type: approval
                    message: Approve publishing this summary?
                    timeout: 24h
                    target:
                      type: group
                      id: approvers
                    spec:
                      mode: confirm
                      default_confirmed: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/workflows/{id}:
    get:
      operationId: getWorkflow
      tags:
      - workflows
      summary: Get a workflow definition
      description: Returns a workflow definition with its latest executable spec. Use the
        version endpoints when you need a historical spec instead of the current latest version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWorkflow
      tags:
      - workflows
      summary: Update a workflow definition
      description: Updating `spec` atomically creates a new immutable version (version N+1)
        and advances `latest_version`. Runs always execute the version they were started with;
        updating the definition does not affect running instances. Updating `name`, `description`,
        or `published_as_tool` without a `spec` does not create a new version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteWorkflow
      tags:
      - workflows
      summary: Delete a workflow definition
      description: Hard-deletes the definition and all its versions. In-flight runs are not
        affected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions:
    get:
      operationId: listWorkflowVersions
      tags:
      - workflows
      summary: List versions of a workflow definition
      description: Returns version summaries, newest-first. List responses omit the executable
        `spec`; fetch a single version via `getWorkflowVersion` to get the full spec for that
        version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions/{version}:
    get:
      operationId: getWorkflowVersion
      tags:
      - workflows
      summary: Get a specific version of a workflow definition
      description: Returns a single workflow version, including its full executable `spec`.
        `version` is the monotonically increasing version number (1-based).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: version
        in: path
        required: true
        description: Version number (1-based) within this workflow definition.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/runs:
    get:
      operationId: listWorkflowRuns
      tags:
      - runs
      summary: List runs for a workflow definition
      description: Returns runs for a specific workflow definition, newest first. All statuses
        are included; this endpoint does not currently accept status or range filters.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: startWorkflowRun
      tags:
      - runs
      summary: Start a new workflow run against a saved definition
      description: 'Enqueues a run using the latest version of the workflow definition identified
        by the path parameter. This is the path-bound equivalent of `POST /v1/projects/{project}/runs`
        with `mode: saved` and `definition_id` set to this workflow''s ID.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBoundRunRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Conflict — the target project is archived. Code `project_archived`.
            Restore the project before starting new runs; in-flight runs continue regardless.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project}/runs:
    post:
      operationId: startRun
      tags:
      - runs
      summary: Start a new workflow run
      description: |-
        Starts a workflow run. The request body is a discriminated union over `mode`:

        - `mode: saved` — run a previously-created workflow definition. Set
        `definition_id` to the definition to run.
        - `mode: inline` — run an ephemeral workflow from an inline `spec`.
        No `WorkflowDefinition` is created; the returned run has
        `ephemeral: true` and omits `definition_id` / `definition_version`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
            examples:
              saved:
                summary: Run a saved workflow
                value:
                  mode: saved
                  definition_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                  queue: default
                  inputs:
                    document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                  metadata:
                    source: api
                    customer: acme
                  external_id: review-2026-04-24-001
              inline:
                summary: Run an inline workflow
                value:
                  mode: inline
                  queue: default
                  inputs:
                    document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                  spec:
                    name: one-off-document-review
                    steps:
                    - name: summarize
                      action: summarize-document
                      parameters:
                        document_id: ${inputs.document_id}
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
              example:
                id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                queue: default
                definition_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                definition_version: 3
                ephemeral: false
                workflow_name: document-review
                status: active
                path_counts:
                  total: 1
                  active: 1
                  working: 1
                  waiting: 0
                  completed: 0
                  failed: 0
                wait_summary:
                  waiting_paths: 0
                  kind_counts: {}
                  next_wake_at: null
                  waiting_on_signal_names: []
                  interaction_ids: []
                errors: []
                attempt: 1
                inputs:
                  document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                metadata:
                  source: api
                  customer: acme
                actor_type: api_key
                actor_id: key_01hw1q2r3s4t5u6v7w8x9y0z1a
                initiated_by: review-service
                external_id: review-2026-04-24-001
                cancel_requested: false
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Conflict — the target project is archived. Code `project_archived`.
            Restore the project before starting new runs; in-flight runs continue regardless.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List workflow runs
      description: Supports cursor-based pagination and keyset filtering by status, workflow
        type, queue, parent run, and initiator. When `has_more` is true, pass the returned
        `next_cursor` back on the next call to walk the result set.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        description: Filter by run status.
        schema:
          $ref: '#/components/schemas/WorkflowRunStatus'
      - name: workflow_type
        in: query
        description: Filter by workflow type name.
        schema:
          type: string
      - name: queue
        in: query
        description: Filter by queue name.
        schema:
          type: string
      - name: parent_run_id
        in: query
        description: Filter to child runs of the specified parent run.
        schema:
          type: string
      - name: initiated_by
        in: query
        description: Filter by the initiator label (e.g. trigger name, API key name).
        schema:
          type: string
      - name: external_id
        in: query
        description: Filter by caller-supplied external ID or correlation key.
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get a workflow run
      description: Returns a run with its snapshotted workflow spec and spawned jobs. Terminal
        runs may include `result_b64`, `error_type`, and `error_message`; in-flight runs include
        current progress state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/action-log:
    get:
      operationId: listRunActionLog
      tags:
      - runs
      summary: List action log entries for a run
      description: Returns durable action log entries for the run in execution order. Entries
        include the step, branch, parameters, result or error, and duration for each server-side
        action invocation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/jobs:
    get:
      operationId: listRunJobs
      tags:
      - runs
      summary: List jobs for a run
      description: Returns every workflow job spawned by the run, including pending, claimed,
        completed, and failed attempts. Use this for step-level progress inspection and operational
        debugging.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/events:
    get:
      operationId: streamProjectRunEvents
      tags:
      - runs
      summary: Subscribe to a project-wide stream of run events (SSE)
      description: |-
        Opens a Server-Sent Events connection. Each frame carries a JSON envelope `{type, run_id, seq, timestamp, data}` where `type` is one of `run_updated`, `job_updated`, or `action_appended`, and `seq` is a monotonic durable cursor.

        Pass `?since=<seq>` on reconnect to replay any durable events the server has recorded past that cursor before switching back to live updates; clients should record the largest `seq` they have observed. Comment frames (`:keepalive`) are emitted every ~15s to keep intermediaries from closing the connection.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: since
        in: query
        description: Durable event seq cursor to replay from.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: run_updated
                id: 42
                data: {"type":"run_updated","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","seq":42,"timestamp":"2026-04-24T14:45:00Z","data":{"status":"active"}}

                :keepalive
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/runs/{id}/cancellations:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Request cancellation of an in-flight run
      description: Records `cancel_requested_at`, terminalizes the run as failed with `error_type=run_cancelled`,
        and closes any non-terminal jobs created by the run. During migration, `cancel_requested`
        remains populated as an audit/compatibility field.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/resumptions:
    post:
      operationId: resumeRun
      tags:
      - runs
      summary: Resume waiting run paths
      description: Re-enters any resumable waiting paths, such as paused paths or due timer
        waits.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/signals:
    post:
      operationId: sendRunSignal
      tags:
      - runs
      summary: Deliver a run-scoped signal
      description: Durably enqueues a signal keyed by (run_id, name). If any path in the run
        is waiting on that topic, the server re-enters that path so it can consume the signal.
        Otherwise the signal remains in the store until a future path waits for it.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRunSignalRequest'
            example:
              name: manager_approval
              payload:
                approved: true
                approver_id: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSignal'
              example:
                id: sig_01hw1v2w3x4y5z6a7b8c9d0e1f
                run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                name: manager_approval
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/events:
    get:
      operationId: streamRunEvents
      tags:
      - runs
      summary: Subscribe to a stream of events for a single run (SSE)
      description: Same envelope as `/v1/projects/{project}/runs/events` but filtered to a
        single run. The server writes one seed `run_updated` frame on connection so reconnects
        do not miss the latest state, and supports `?since=<seq>` replay for durable events
        recorded since the given seq cursor.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since
        in: query
        description: Durable event seq cursor to replay from.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: job_updated
                id: 43
                data: {"type":"job_updated","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","seq":43,"timestamp":"2026-04-24T14:46:00Z","data":{"job_id":"job_01hw1n2p3q4r5s6t7u8v9w0x1y","status":"completed"}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions:
    get:
      operationId: listActions
      tags:
      - actions
      summary: List actions
      description: Returns project-owned actions only; use `/catalog` for all available actions
        including platform integrations.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create an action
      description: Creates a project-scoped action. `name` is the stable identifier used in
        workflow step definitions and must be unique within the project. A signing secret
        is generated automatically and returned in the response; this is the only time the
        raw secret is exposed — store it securely.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}:
    get:
      operationId: getAction
      tags:
      - actions
      summary: Get an action by name
      description: Returns one project-owned action by its stable `action_name`. Use this
        endpoint when authoring workflow steps or validating the schemas and signing configuration
        for a specific action.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update an action
      description: Patches action metadata and schemas. All fields are optional; omitted fields
        are unchanged. Updating `annotations` replaces the entire annotations object — pass
        `null` to clear all annotation flags.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete an action
      description: Rejected with 409 if any workflow step currently references this action
        by name (`ErrActionInUse`). Remove all references before deleting.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate an action signing secret
      description: Generates a new HMAC-SHA256 signing secret for the action. The previous
        secret is retained server-side for a brief grace period (typically minutes) so in-flight
        requests signed with the old key are not immediately rejected. Store the returned
        secret — it cannot be retrieved again.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/action-audit-log:
    get:
      operationId: listActionAuditLog
      tags:
      - actions
      summary: List action invocation audit records
      description: Returns per-invocation records for all action executions in the project.
        Each record captures the action name, input parameters, output summary, final status,
        error details, and retry count. Filter by `run_id` to inspect all action calls within
        a single workflow run, or by `action_name` for cross-run analysis.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific workflow run.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions/catalog:
    get:
      operationId: listCatalogActions
      tags:
      - actions
      summary: List the action catalog
      description: 'Returns the full catalog of actions available to this project: project-owned
        actions plus platform-provided integration actions (Slack, GitHub, etc.). The `available`
        flag indicates whether the action can currently be invoked — false if a required integration
        is not connected or the caller lacks permissions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/actions/catalog/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - actions
      summary: Get one catalog action by name
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/jobs/{id}:
    get:
      operationId: getJob
      tags:
      - jobs
      summary: Get a workflow job by ID
      description: Returns the current state of a single workflow job, regardless of whether
        it is pending, claimed, or terminal. Useful for UIs and operators inspecting a specific
        step without enumerating the run.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/jobs/claim:
    post:
      operationId: claimJob
      tags:
      - jobs
      summary: Long-poll for the next claimable workflow job
      description: |-
        Atomically claims the next pending workflow job whose queue name is in the worker's `queues` subscription and whose action is in the worker's `actions` filter when provided. If no job is immediately available and `wait_seconds > 0`, the server holds the request open for up to `wait_seconds` (capped at 30). Returns 204 when the poll window closes empty.

        Each successful call also registers or refreshes the caller's worker session (used by `GET /v1/projects/{project}/worker-sessions`), so no separate registration step is needed.

        The returned `JobClaim` includes the `heartbeat_interval_seconds` the worker should use for subsequent heartbeat calls.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobClaimRequest'
            example:
              worker_id: worker-us-east-1a-03
              agent_id: agt_01hw1m5q9x7r2p4n6s8t0v3y5z
              agent_session_id: ags_01hw1m7c8d9e0f1g2h3j4k5m6n
              worker_name: summarizer-pool
              worker_version: 2026.04.24
              queues:
              - default
              actions:
              - summarize-document
              wait_seconds: 20
      responses:
        '200':
          description: Job claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobClaim'
              example:
                job_id: job_01hw1n2p3q4r5s6t7u8v9w0x1y
                run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                workflow_name: document-review
                step_name: summarize
                action: summarize-document
                agent_id: agt_01hw1m5q9x7r2p4n6s8t0v3y5z
                agent_session_id: ags_01hw1m7c8d9e0f1g2h3j4k5m6n
                parameters:
                  document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                attempt: 1
                queue: default
                heartbeat_interval_seconds: 30
        '204':
          description: No jobs available within the poll window
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/jobs/{id}/heartbeat:
    post:
      operationId: heartbeatJob
      tags:
      - jobs
      summary: Refresh the lease on a claimed workflow job
      description: |-
        Extends the worker's lease on the job and returns server directives. Must include the `worker_id` + `attempt` fence from the original claim — a stale fence (e.g., from a previous attempt) is rejected with 409.

        Returns a small JSON envelope rather than 204 so the server can attach directives (e.g., `should_cancel`) without an additional round trip. Workers should call this at the interval specified in `JobClaim.heartbeat_interval_seconds` (recommended: 30s).

        When `directives.should_cancel` is true, the run has received a cancellation request; the worker must stop processing and call `POST /v1/projects/{project}/jobs/{id}/complete` with `status: failed`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobFenceRequest'
            example:
              worker_id: worker-us-east-1a-03
              attempt: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobHeartbeat'
              example:
                ok: true
                directives:
                  should_cancel: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/jobs/{id}/complete:
    post:
      operationId: completeJob
      tags:
      - jobs
      summary: Report terminal status for a claimed workflow job
      description: |-
        Marks the job as completed or failed and advances workflow progression. Must include the `worker_id` + `attempt` fence from the claim — a stale fence is rejected with 409.

        On `status: completed`, `result_b64` (if provided) is base64- decoded and stored as the job's output bytes, which the workflow engine may pass as input to downstream steps.

        On `status: failed`, the workflow engine checks the step's retry configuration. If `attempt < max_attempts`, a new job is created with `attempt + 1`; otherwise the run is transitioned to `failed`. Use `error_type` and `error_message` to distinguish retryable failures from permanent ones in observability tooling.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCompleteRequest'
            examples:
              completed:
                summary: Successful completion
                value:
                  worker_id: worker-us-east-1a-03
                  attempt: 1
                  status: completed
                  result_b64: eyJzdW1tYXJ5IjoiUmVhZHkgZm9yIHJldmlldy4ifQ==
              failed:
                summary: Failed attempt
                value:
                  worker_id: worker-us-east-1a-03
                  attempt: 1
                  status: failed
                  error_type: TimeoutError
                  error_message: The upstream summarizer timed out.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/jobs/{id}/events:
    post:
      operationId: emitJobEvents
      tags:
      - jobs
      summary: Emit one or more custom events from a claimed workflow job
      description: |-
        Publishes a batch of custom run events on behalf of the worker holding the job's current lease. Events are appended to the durable run event store (so they replay via `?since=<seq>`) and fanned out to any live SSE subscribers on the run.

        Authorization requires `mobius.job.emit_event`. Each event must present the active lease fence (`worker_id` + `attempt`); stale fences are rejected with 409.

        `type` is a caller-chosen identifier. The `mobius.` prefix is reserved for future server-emitted well-known kinds and is rejected with 400.

        Validation is atomic: if any event in the batch is invalid, the whole request is rejected and nothing is published. Successful batches return 204.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobEventsRequest'
            example:
              worker_id: worker-us-east-1a-03
              attempt: 1
              events:
              - type: progress
                payload:
                  percent: 50
                  message: Parsed 10 of 20 pages.
      responses:
        '204':
          description: Events accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project}/jobs/{id}/interactions:
    post:
      operationId: createJobInteraction
      tags:
      - jobs
      summary: Create a human-in-the-loop interaction from a claimed workflow job
      description: Job-scoped form of interaction creation for the step-claim runtime. The
        server derives the owning run and project scope from the job, so workers do not need
        to pass `run_id` explicitly. Prefer this route over `POST /v1/projects/{project}/interactions`
        from within a job context. The optional `signal_name` field overrides the server-derived
        signal name; when omitted the server derives the signal name from `step_name` or uses
        a default interaction signal.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobInteractionRequest'
      responses:
        '201':
          description: Interaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/jobs/{id}/actions/{action_name}:
    post:
      operationId: runJobAction
      tags:
      - jobs
      summary: Execute one server-side action for a claimed workflow job
      description: Executes a named action in the context of the currently claimed job. The
        action must be registered in the project or catalog. The `dry_run` flag invokes the
        action without side effects when the action supports it. Results are returned synchronously;
        for long- running actions use `timeout_seconds` to extend the deadline.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunActionRequest'
      responses:
        '200':
          description: Action executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunActionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers:
    get:
      operationId: listTriggers
      tags:
      - triggers
      summary: List triggers
      description: Returns all triggers for the project, optionally filtered by kind or enabled
        state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: kind
        in: query
        description: Filter by trigger kind.
        schema:
          $ref: '#/components/schemas/TriggerKind'
      - name: enabled
        in: query
        description: Filter to enabled or disabled triggers.
        schema:
          type: boolean
      - $ref: '#/components/parameters/TagFilterParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createTrigger
      tags:
      - triggers
      summary: Create a trigger
      description: 'Creates a trigger. `source_config` must match `kind`: a `ScheduleSourceConfig`
        for schedule, a `WebhookSourceConfig` for webhook, an `EventSourceConfig` for event.
        For webhook triggers, `source_config.handle` is auto-derived from `name` when omitted
        and must be unique within the project; the `receive_url` for posting events is returned
        on the response''s `source_config`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTriggerRequest'
            examples:
              webhook:
                summary: Webhook trigger
                value:
                  name: Billing report webhook
                  kind: webhook
                  source_config:
                    handle: billing-report
                    signing_secret: whsec_0123456789abcdef
                  targets:
                  - workflow_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                    condition: $.event.type == 'billing.report.ready'
                    input_mapping:
                      report_id: $.event.report_id
                      account_id: $.event.account_id
                    enabled: true
                  concurrency_policy: forbid
                  enabled: true
              schedule:
                summary: Schedule trigger
                value:
                  name: Weekday billing sweep
                  kind: schedule
                  source_config:
                    cron: 0 9 * * 1-5
                  targets:
                  - workflow_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                  concurrency_policy: forbid
                  enabled: true
              event:
                summary: Platform event trigger
                value:
                  name: Run completion audit
                  kind: event
                  source_config:
                    event_type: run.completed
                  targets:
                  - workflow_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                    input_mapping:
                      run_id: $.event.run_id
                  enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
              example:
                id: trg_01hw1s2t3u4v5w6x7y8z9a0b1c
                name: Billing report webhook
                kind: webhook
                source_config:
                  handle: billing-report
                  receive_url: https://api.mobiusops.ai/v1/projects/claims/triggers/webhook/billing-report
                targets:
                - id: trgt_01hw1s4d5e6f7g8h9j0k1m2n3p
                  trigger_id: trg_01hw1s2t3u4v5w6x7y8z9a0b1c
                  workflow_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                  condition: $.event.type == 'billing.report.ready'
                  input_mapping:
                    report_id: $.event.report_id
                    account_id: $.event.account_id
                  enabled: true
                  created_at: '2026-04-24T14:35:00Z'
                  updated_at: '2026-04-24T14:35:00Z'
                concurrency_policy: forbid
                enabled: true
                created_by: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                created_at: '2026-04-24T14:35:00Z'
                updated_at: '2026-04-24T14:35:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}:
    get:
      operationId: getTrigger
      tags:
      - triggers
      summary: Get a trigger
      description: Returns one trigger with its source configuration and attached targets.
        Webhook trigger responses include the computed receive URL but never expose the signing
        secret.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTrigger
      tags:
      - triggers
      summary: Update a trigger
      description: All fields are optional; omitted fields are unchanged.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteTrigger
      tags:
      - triggers
      summary: Delete a trigger
      description: Hard-deletes the trigger and its fire history. In-flight runs started by
        this trigger are not affected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}/fires:
    get:
      operationId: listTriggerFires
      tags:
      - triggers
      summary: List fire history for a trigger
      description: Returns a paginated history of trigger fires newest-first. Each entry records
        whether the fire succeeded, was skipped (e.g. by `forbid` concurrency policy), or
        failed, along with per-target outcomes.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        description: Filter by fire outcome.
        schema:
          $ref: '#/components/schemas/TriggerFireStatus'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerFireListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}/targets:
    get:
      operationId: listTriggerTargets
      tags:
      - triggers
      summary: List targets for a trigger
      description: Returns all targets attached to the given trigger.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTargetListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAllTriggerTargets
      tags:
      - triggers
      summary: Remove all targets from a trigger
      description: Detaches every target from the trigger. The trigger itself is not deleted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createTriggerTarget
      tags:
      - triggers
      summary: Add a target to a trigger
      description: Attaches a workflow as a new target of the trigger.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTriggerTargetRequest'
            example:
              workflow_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
              condition: $.event.type == 'billing.report.ready'
              input_mapping:
                report_id: $.event.report_id
                account_id: $.event.account_id
              enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTarget'
              example:
                id: trgt_01hw1s4d5e6f7g8h9j0k1m2n3p
                trigger_id: trg_01hw1s2t3u4v5w6x7y8z9a0b1c
                workflow_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                condition: $.event.type == 'billing.report.ready'
                input_mapping:
                  report_id: $.event.report_id
                  account_id: $.event.account_id
                enabled: true
                created_at: '2026-04-24T14:36:00Z'
                updated_at: '2026-04-24T14:36:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/triggers/{id}/targets/{target_id}:
    get:
      operationId: getTriggerTarget
      tags:
      - triggers
      summary: Get a trigger target
      description: Returns a single workflow target attached to the trigger, including condition,
        input mapping, enabled state, and timestamps.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/TriggerTargetIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTarget'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTriggerTarget
      tags:
      - triggers
      summary: Update a trigger target
      description: All fields are optional; omitted fields are unchanged.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/TriggerTargetIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerTargetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTarget'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTriggerTarget
      tags:
      - triggers
      summary: Remove a target from a trigger
      description: Detaches one workflow target from the trigger. The trigger remains active
        for any other enabled targets, and previously started runs are not cancelled.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/TriggerTargetIDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/worker-sessions:
    get:
      operationId: listWorkerSessions
      tags:
      - worker-sessions
      summary: List worker sessions
      description: 'Returns worker sessions that have polled for jobs within the project.
        Each session''s `stale` flag is computed at read time: if `last_seen_at` is older
        than 2 minutes (or absent), the session is considered stale. Stale sessions are retained
        for display but will not receive new job claims.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - projects
      summary: List projects
      description: Returns up to 100 projects. Use `search` for prefix-match filtering by
        name or handle. By default returns active (non-archived) projects; pass `status=archived`
        to see archived projects, or `status=all` to see both.
      parameters:
      - name: search
        in: query
        description: Prefix-match filter applied to project name and handle.
        schema:
          type: string
      - name: status
        in: query
        description: Lifecycle filter. `active` (default) returns non-archived projects; `archived`
          returns archived projects only; `all` returns both.
        schema:
          type: string
          enum:
          - active
          - archived
          - all
          default: active
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProject
      tags:
      - projects
      summary: Create a project
      description: Creates a project within the authenticated org. If `handle` is omitted
        it is auto-derived from `name` (lowercased, spaces replaced with hyphens). Returns
        409 if the handle already exists in the org.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{id}:
    get:
      operationId: getProject
      tags:
      - projects
      summary: Get a project
      description: Requires the `project.read` permission for the project.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags:
      - projects
      summary: Update a project
      description: Updates `name`, `description`, and/or `access_mode`. The request also accepts
        `seed_existing_members` when flipping `access_mode` from `org_open` to `restricted`.
        The project handle is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteProject
      tags:
      - projects
      summary: Delete a project
      description: |-
        Permanently deletes the project and all child resources (workflows, runs, jobs, triggers, webhooks, groups, interactions, actions, agents, service accounts). This operation is irreversible.

        The project must be archived first; calling delete on an active project returns `409 project_not_archived`. Archive via `POST /v1/projects/{id}/archive`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{id}/archive:
    post:
      operationId: archiveProject
      tags:
      - projects
      summary: Archive a project
      description: 'Soft-retires the project: triggers and scheduled runs stop firing, edits
        are blocked, and the project is hidden from the default listing. In-flight runs are
        allowed to drain. The project can be restored at any time. Idempotent — archiving
        an already-archived project returns the current state.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/restore:
    post:
      operationId: restoreProject
      tags:
      - projects
      summary: Restore an archived project
      description: Clears the archived state and returns the project to active operation.
        Triggers and scheduled runs resume on their next natural fire — there is no catch-up
        backfill of missed fires during the archive window. Idempotent — restoring an active
        project returns the current state.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/config:
    get:
      operationId: getProjectConfig
      tags:
      - projects
      summary: Get project config
      description: Returns the project's stored flat cascade config entries. When the project
        has no stored config, this returns `[]`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigEntries'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateProjectConfig
      tags:
      - projects
      summary: Replace project config
      description: Replaces the project's entire stored config entry set with the provided
        flat list. `PUT []` clears the project config. Reapplying the same payload is a safe
        retry.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigEntries'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigEntries'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProjectConfig
      tags:
      - projects
      summary: Clear project config
      description: Deletes all stored project-layer cascade config so the project inherits
        service defaults for every category.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/members:
    get:
      operationId: listProjectMembers
      tags:
      - projects
      summary: List project members
      description: 'Returns the users listed as members of this project. Membership is a pure
        visibility layer: for `restricted` projects only listed members (plus org owners/admins)
        can see or use the project. For `org_open` projects, membership has no visibility
        effect.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addProjectMember
      tags:
      - projects
      summary: Add a project member
      description: Adds a user as a project member. The user must already be an org member.
        Add is idempotent — adding an existing member returns the existing row with `200 OK`,
        not `409`. New memberships are returned with `201 Created`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectMemberRequest'
      responses:
        '200':
          description: OK — member already existed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMember'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/members/{user_id}:
    delete:
      operationId: removeProjectMember
      tags:
      - projects
      summary: Remove a project member
      description: Removes a user from the project members list. On `restricted` projects,
        removing the last remaining member is rejected — flip the project to `org_open` or
        add another member first.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/user_id'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: Returns all outgoing webhook subscriptions for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: enabled
        in: query
        schema:
          type: boolean
        description: Filter by enabled/disabled state.
      - $ref: '#/components/parameters/TagFilterParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create a webhook
      description: |-
        Creates a new outgoing webhook subscription. Webhook names must be unique within the project. Returns 409 if the name already exists.

        Treat the `signing_secret` as a shared secret and rotate it via `PATCH` if compromised.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
            example:
              name: Run status sink
              url: https://hooks.example.test/mobius/run-status
              signing_secret: whsec_0123456789abcdef
              events:
              - run.completed
              - run.failed
              enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: wh_01hw1t2u3v4w5x6y7z8a9b0c1d
                name: Run status sink
                url: https://hooks.example.test/mobius/run-status
                events:
                - run.completed
                - run.failed
                enabled: true
                created_by: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                created_at: '2026-04-24T14:38:00Z'
                updated_at: '2026-04-24T14:38:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/webhooks/{id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get a webhook
      description: Returns one outgoing webhook subscription and its event filters. The signing
        secret is never returned; rotate or clear it with the update endpoint if needed.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update a webhook
      description: Updates the webhook URL, event subscriptions, enabled state, or signing
        secret. Setting `signing_secret` to an empty string clears the current secret and
        disables signing. Omitting `signing_secret` leaves the current value unchanged.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete a webhook
      description: Deletes the webhook and its delivery history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/ping:
    post:
      operationId: pingWebhook
      tags:
      - webhooks
      summary: Test a webhook URL
      description: 'Sends a live test POST request to the webhook''s saved URL, or to an override
        URL supplied in the request body, and returns the result. Because the webhook URL
        may be empty at creation time, the typical flow is: create the webhook without a URL,
        ping candidate URLs via the override until one succeeds, then persist the chosen URL
        with `PATCH`. The test payload has `type: "ping"` and is signed with the webhook''s
        secret if one is set.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingWebhookRequest'
            example:
              url: https://hooks.example.test/mobius/run-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingWebhookResult'
              example:
                success: true
                status_code: 204
                latency_ms: 83
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - webhooks
      summary: List webhook deliveries
      description: Lists the delivery history for a webhook, newest first. Each entry records
        the event type, current status, attempt count, and any last error message. Deliveries
        are retried up to 10 times (5xx, 408, 429 are retryable; other 4xx are not). A delivery
        transitions to `failed` only after exhausting all retry attempts.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
              example:
                items:
                - id: whdel_01hw1u2v3w4x5y6z7a8b9c0d1e
                  webhook_id: wh_01hw1t2u3v4w5x6y7z8a9b0c1d
                  run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                  event_type: run.completed
                  status: delivered
                  attempts: 1
                  created_at: '2026-04-24T14:44:00Z'
                  delivered_at: '2026-04-24T14:44:01Z'
                has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/metrics:
    get:
      operationId: getProjectMetrics
      tags:
      - metrics
      summary: Get operational metrics for a project
      description: 'Returns a snapshot of current execution health for the project. All rate
        and duration metrics are computed over a rolling window (default: 60 minutes). P95
        step duration is computed from the 40 most recent completed jobs.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/interactions:
    post:
      operationId: createInteraction
      tags:
      - interactions
      summary: Create an interaction
      description: Creates a standalone or run-backed interaction. When `run_id` is provided,
        `signal_name` is also required and completing the interaction automatically delivers
        a signal that resumes the waiting run path. Omit both for a standalone interaction
        that completes with no workflow side effect. Workers creating interactions from within
        a job should use the job-scoped route (`POST /v1/projects/{project}/jobs/{id}/interactions`)
        instead, which derives the run and signal name automatically.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInteractionRequest'
            example:
              run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
              signal_name: manager_approval
              target:
                type: group
                id: approvers
              type: approval
              message: Approve publishing the April billing report?
              context:
                report_id: rpt_2026_04
                amount_usd: 12850
              spec:
                mode: confirm
                default_confirmed: false
              require_all: false
              expires_at: '2026-04-25T14:30:00Z'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: int_01hw1r2s3t4u5v6w7x8y9z0a1b
                run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                signal_name: manager_approval
                type: approval
                status: pending
                message: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target:
                  type: group
                  id: approvers
                expires_at: '2026-04-25T14:30:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
                target_group_id: grp_01hw1r0a2b3c4d5e6f7g8h9j0k
                target_member_snapshot:
                - user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                routing_policy_snapshot: first_responder
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listInteractions
      tags:
      - interactions
      summary: List interactions
      description: Returns interactions newest-first, optionally filtered by status, run,
        target, or the current caller's inbox. Inbox filtering includes direct targets and
        group interactions visible through live group membership.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - completed
          - expired
        description: Filter by status
      - name: run_id
        in: query
        schema:
          type: string
        description: Filter by originating run ID
[...]
