openapi: 3.0.3
info:
  title: Mobius API
  version: 0.1.0
  contact:
    name: Mobius
    url: https://mobiusops.ai
  description: |-
    Mobius is an agent loop platform for mixed teams of humans, systems, and AI agents. This is the HTTP API behind the `mobius` CLI and the official client SDKs.

    **Base URL.** Production is `https://api.mobiusops.ai`. Every route is prefixed with the stable major version `/v1`; breaking changes ship under a new prefix, not in place. The `version` field above tracks revisions of this specification, independent of the `/v1` URL version.

    **Authentication.** Send a credential in the `Authorization: Bearer <credential>` header. Project **API keys** (prefix `mbx_`) authenticate as a machine principal in one project and are issued from the Mobius app or the API-key endpoints; **CLI credentials** (prefix `mbc_`) are issued by the device-authorization flow on behalf of a user. See the `BearerAuth` security scheme for details.

    **Conventions.** Collections return a cursor-paginated envelope (`items` / `has_more` / `next_cursor`); single resources return the bare object. Errors use a shared envelope with a stable machine-readable `error.code`. Timestamps are ISO-8601 UTC.
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: api-keys
  x-displayName: API Keys
  description: Organization and project API keys used for programmatic authentication.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by agents and loop steps.
- name: catalog
  x-displayName: Catalog
  description: Catalog API operations.
- name: environments
  x-displayName: Environments
  description: Provider-backed isolated workspaces allocated to agents and loop runs.
- name: jobs
  x-displayName: Jobs
  description: The worker WebSocket protocol used by customer-side workers to claim, run,
    and report jobs.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and configuration.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: agents
  x-displayName: Agents
  description: Agent identities, sessions, presence, and lifecycle administration.
- name: loops
  x-displayName: Loops
  description: Loop definitions, versions, publication, and the triggers that start runs.
- name: runs
  x-displayName: Runs
  description: Durable loop run executions with their steps and event streams.
- name: toolkits
  x-displayName: Toolkits
  description: Project-local and system toolkit templates that grant agents access to action
    selectors.
- name: skills
  x-displayName: Skills
  description: Project-local and system skill templates used to shape agent behavior and requested
    tools.
- name: tables
  x-displayName: Tables
  description: Agent-readable and -writable project tables.
- name: artifacts
  x-displayName: Artifacts
  description: Files produced by agents during loop runs and stored for later inspection.
paths:
  /v1/projects/{project_handle}/api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create API key
      description: Creates an API key bound to a machine principal in this project. The key
        authenticates as that principal; associated permissions come from that principal's
        role assignments. The raw key value is returned in `key` and is never retrievable
        again after this response.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              name: CI worker
              principal_id: svc_7q2v9x6m3n8p5r4t
              expires_at: '2026-09-15T14:30:00Z'
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
              example:
                id: cred_1jz8q2m7xp9vn4kt
                name: CI worker
                key_prefix: mbx_7q2v
                principal_id: svc_7q2v9x6m3n8p5r4t
                expires_at: '2026-09-15T14:30:00Z'
                tags:
                  owner: product
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
                key: mbx_7q2v9k1m_redacted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      description: Returns API keys for this project, including pagination metadata.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/api-keys/{resource_id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get API key
      description: Returns metadata for a single API key without exposing the raw secret.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAPIKey
      tags:
      - api-keys
      summary: Delete API key
      description: Permanently deletes the key. In-flight requests using this key will immediately
        start receiving 401.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/actions:
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create action
      description: Registers a project-owned custom action definition. HTTP actions require
        `endpoint_url` and receive a signing secret. Worker-backed actions omit `endpoint_url`;
        compatible workers make the registered action ready by advertising its name when connected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
            example:
              name: review-pr
              title: Review PR
              description: Review a pull request and return findings.
              endpoint_kind: http
              endpoint_url: https://hooks.example.com/mobius/review-pr
              input_schema:
                type: object
                required:
                - pull_request_url
                properties:
                  pull_request_url:
                    type: string
              annotations:
                idempotent: true
                read_only: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
              example:
                id: act_8m4x9q2v7p5n3r6t
                name: review-pr
                title: Review PR
                description: Review a pull request and return findings.
                endpoint_kind: http
                endpoint_url: https://hooks.example.com/mobius/review-pr
                input_schema:
                  type: object
                  required:
                  - pull_request_url
                  properties:
                    pull_request_url:
                      type: string
                annotations:
                  idempotent: true
                  destructive: false
                  read_only: true
                tags:
                  owner: product
                secret_ref: mobius/action/act_8m4x9q2v7p5n3r6t
                secret_version: 1
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/actions/{action_name}:
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update action
      description: Updates action metadata, schemas, annotations, tags, or the HTTP endpoint
        URL. Worker-backed actions cannot set an endpoint URL.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
            example:
              title: Review PR
              description: Review a pull request and return prioritized findings.
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete action
      description: Deletes a project-owned custom action definition. Loops that still reference
        the action block deletion until the reference is removed.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate signing secret
      description: Rotates the signing secret for an HTTP-backed custom action. Worker actions
        do not have signing secrets and return a validation error.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
              example:
                secret_ref: mobius/action/deploy_preview
                secret_version: 2
                signing_secret: redacted_base64_signing_secret
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/action-invocations:
    get:
      operationId: listActionInvocations
      tags:
      - actions
      summary: List invocations
      description: Lists recent action invocation audit records from loops, agents, direct
        invocations, and job-backed execution.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific loop run.
        schema:
          type: string
      - name: job_id
        in: query
        description: Filter to invocations from a specific job.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/actions/{action_name}/invoke:
    post:
      operationId: invokeAction
      tags:
      - actions
      summary: Invoke action
      description: Invokes a catalog action through the same job-backed execution surface
        used by loops. HTTP and managed platform actions are dispatched to Mobius server workers;
        worker-backed custom actions are dispatched to compatible customer workers.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeActionRequest'
            example:
              input:
                channel: '#product'
                text: Deployment finished.
              timeout_seconds: 30
              dry_run: false
      responses:
        '200':
          description: OK — invocation completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
              example:
                status: completed
                job_id: job_2m7x9q5v8p3n4r6t
                output:
                  message_ts: '1718461800.000100'
        '202':
          description: Accepted — asynchronous invocation is still active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
              example:
                status: active
                job_id: job_2m7x9q5v8p3n4r6t
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/catalog/events:
    get:
      operationId: listCatalogEvents
      tags:
      - catalog
      summary: List events
      description: Returns triggerable event sources for this project, including built-in
        platform sources and connected integration providers. Each source lists its active
        event types, readiness, and any reserved matcher prefixes the authoring UI should
        recognize.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/catalog/actions:
    get:
      operationId: listCatalogActions
      tags:
      - catalog
      summary: List actions
      description: 'Returns the full catalog of actions available to this project: project-owned
        HTTP actions and platform-provided integration actions (Slack, GitHub, etc.). The
        `available` flag indicates whether the action can currently be invoked. Custom HTTP
        actions are created and managed on the `/actions` resource.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/catalog/actions/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - catalog
      summary: Get action
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/catalog/models:
    get:
      operationId: listCatalogModels
      tags:
      - catalog
      summary: List models
      description: Returns assignable agent models grouped by provider. Providers appear only
        when the project has usable credentials, either from BYOK integration state or platform-managed
        configuration.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/environments:
    get:
      operationId: listEnvironments
      tags:
      - environments
      summary: List environments
      description: Returns project environments visible to the caller, newest-first. Filters
        let clients narrow by lifecycle status, run, and recently destroyed tombstones.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: status
        in: query
        description: Filter by environment lifecycle status.
        schema:
          $ref: '#/components/schemas/EnvironmentStatus'
      - name: run_id
        in: query
        description: Filter to environments created for the given run.
        schema:
          type: string
      - name: include_destroyed
        in: query
        description: Include destroyed environments in the result. By default destroyed rows
          are excluded; set this to true (or pass status=destroyed) to see them.
        schema:
          type: boolean
          default: false
      - name: destroyed_since
        in: query
        description: Narrow destroyed rows to those torn down at or after this timestamp.
          Composes with `status=destroyed` to fetch a "recently destroyed" tombstone window
          (e.g. last hour). Non-destroyed rows are unaffected when this is combined with the
          default (no-status) view.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createEnvironment
      tags:
      - environments
      summary: Create environment
      description: Creates a durable execution environment record and provisions it with the
        selected provider. The server resolves scope and ownership before enforcing uniqueness
        for the environment name.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
            example:
              name: review-workspace
              provider: sprites
              template_id: coding-default
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              example:
                id: env_8q5m2x9v7p3n4r6t
                name: review-workspace
                provider: sprites
                status: provisioning
                lifetime: explicit
                tags:
                  owner: product
                cleanup_status: none
                retention_policy: manual
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/environments/{environment_id}:
    get:
      operationId: getEnvironment
      tags:
      - environments
      summary: Get environment
      description: Returns the current environment record, including provider status, lease
        metadata, ownership, binding, and retention settings.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEnvironment
      tags:
      - environments
      summary: Update environment
      description: Only scope, owned_by, and tags are mutable from the public API.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
            example:
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: destroyEnvironment
      tags:
      - environments
      summary: Destroy environment
      description: Requests provider teardown for the environment and records the destroyed
        state in Mobius. The response includes the final environment snapshot after the destroy
        request is accepted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: Destroyed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/workers/socket:
    get:
      operationId: openWorkerSocket
      tags:
      - jobs
      summary: Open worker WebSocket
      description: Upgrades to the worker WebSocket protocol. Workers authenticate with normal
        project credentials, send `worker.register`, then exchange typed JSON frames for claim,
        heartbeat, report, cancellation, and generation streaming.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '101':
          description: WebSocket upgrade accepted.
        '200':
          description: Placeholder response for OpenAPI tooling; successful clients receive
            a 101 upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSocketFrame'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - projects
      summary: List projects
      description: Returns up to 100 projects. Use `search` for prefix-match filtering by
        name or handle. Deleted projects are omitted from normal list responses.
      parameters:
      - name: search
        in: query
        description: Prefix-match filter applied to project name and handle.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createProject
      tags:
      - projects
      summary: Create project
      description: Creates a project within the authenticated org. If `handle` is omitted
        it is auto-derived from `name` (lowercased, spaces replaced with hyphens). Returns
        409 if the handle already exists in the org.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            example:
              name: Product Ops
              handle: product-ops
              description: Product operations workflows
              access_mode: restricted
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                id: prj_3q7m9x2v5n8p4r6t
                name: Product Ops
                handle: product-ops
                description: Product operations workflows
                access_mode: restricted
                created_by: user_2f9s3k4m5n6p7q8r
                tags:
                  owner: product
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}:
    get:
      operationId: getProject
      tags:
      - projects
      summary: Get project
      description: Requires the `mobius.project.view` permission for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags:
      - projects
      summary: Update project
      description: Updates `name`, `description`, and/or `access_mode`. The request also accepts
        `seed_existing_members` when flipping `access_mode` from `open` to `restricted`. The
        project handle is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
            example:
              name: Product Operations
              access_mode: restricted
              seed_existing_members: true
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteProject
      tags:
      - projects
      summary: Delete project
      description: Deletes the project from active use. New trigger fires, scheduled runs,
        manual starts, and edits are blocked; in-flight runs are allowed to drain. The project
        is hidden from project listings, but historical runs remain readable while the retained
        record exists.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: Returns all outgoing webhook subscriptions for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: enabled
        in: query
        schema:
          type: boolean
        description: Filter by enabled/disabled state.
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create webhook
      description: |-
        Creates a new outgoing webhook subscription. Webhook names must be unique within the project. Returns 409 if the name already exists.

        A signing key is generated automatically and returned in the response; this is the only time the raw key is exposed. Rotate it with `POST /webhooks/{resource_id}/secret/rotate` if compromised.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
            example:
              name: Run status sink
              url: https://hooks.example.com/mobius/run-status
              events:
              - run.completed
              - run.failed
              enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: wbh_7x3m9q2v5p8n4r6t
                name: Run status sink
                url: https://hooks.example.com/mobius/run-status
                events:
                - run.completed
                - run.failed
                enabled: true
                secret_ref: mobius/webhook/wbh_7x3m9q2v5p8n4r6t
                secret_version: 1
                signing_secret: redacted_base64_signing_secret
                created_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get webhook
      description: Returns one outgoing webhook subscription and its event filters. The raw
        signing key is never returned after creation or rotation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update webhook
      description: Updates the webhook name, URL, event subscriptions, enabled state, or tags.
        Signing key rotation is handled by the dedicated rotate endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
            example:
              name: Run status sink
              events:
              - run.completed
              - run.failed
              enabled: true
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete webhook
      description: Deletes the webhook and stops future deliveries for its subscribed events.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}/secret/rotate:
    post:
      operationId: rotateWebhookSecret
      tags:
      - webhooks
      summary: Rotate webhook signing secret
      description: Generates a new HMAC-SHA256 signing key version for the webhook. Store
        the returned key immediately; it cannot be retrieved again.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
              example:
                secret_ref: mobius/webhook/wbh_7x3m9q2v5p8n4r6t
                secret_version: 2
                signing_secret: redacted_base64_signing_secret
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}/ping:
    post:
      operationId: pingWebhook
      tags:
      - webhooks
      summary: Test webhook URL
      description: 'Sends a signed test POST to the saved webhook URL or a request-body override
        URL. Use this before saving a new endpoint; the payload has `type: "ping"` and the
        response reports delivery status and latency.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingWebhookRequest'
            example:
              url: https://hooks.example.test/mobius/run-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingWebhookResult'
              example:
                success: true
                status_code: 204
                latency_ms: 83
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - webhooks
      summary: List webhook deliveries
      description: Lists the delivery history for a webhook, newest first. Each entry records
        the event type, current status, attempt count, and any last error message. Deliveries
        are retried up to 10 times (5xx, 408, 429 are retryable; other 4xx are not). A delivery
        transitions to `failed` only after exhausting all retry attempts.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
              example:
                items:
                - id: whd_4q8m2x7v5p9n3r6t
                  webhook_id: wbh_7x3m9q2v5p8n4r6t
                  run_id: run_8q5m2x9v7p3n4r6t
                  event_type: run.completed
                  status: delivered
                  attempts: 1
                  created_at: '2026-06-15T14:44:00Z'
                  delivered_at: '2026-06-15T14:44:01Z'
                has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create agent
      description: 'Creates an agent. An agent IS a principal (principals.kind = agent): its
        backing identity row is created atomically with the agent — there is no separate machine-identity
        side record. The agent principal is for identity, ownership, and attribution; an agent''s
        tools come from its assigned toolkits, not from roles.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
            example:
              name: PR reviewer
              description: Reviews pull requests for risky changes.
              kind: llm
              color: teal
              model: claude-sonnet-4-6
              tool_presentation: flat
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
              example:
                id: agent_5n8p2q7m4x9r3v6t
                principal_id: agent_5n8p2q7m4x9r3v6t
                name: PR reviewer
                description: Reviews pull requests for risky changes.
                kind: llm
                color: teal
                model: claude-sonnet-4-6
                tool_presentation: flat
                status: active
                tags:
                  owner: product
                created_by: user_2f9s3k4m5n6p7q8r
                updated_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      description: Returns active and inactive agents with computed presence. Deleted agents
        are excluded. Filter by principal_id to find the agent backed by a specific identity.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: principal_id
        in: query
        description: Filter to the agent backed by this principal.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by administrative status (active/inactive), independent of presence.
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get agent
      description: Returns one agent with its administrative status and computed presence.
        Presence is derived from recent presence records, so it may change without the agent
        record itself being updated.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update agent
      description: Updates mutable agent fields. Setting `status` to `inactive` prevents the
        agent from claiming new jobs but does not terminate active presence records.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
            example:
              status: active
              model: claude-sonnet-4-6
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete agent
      description: Deletes the agent from normal use. The agent record is retained for audit
        and attribution history, but the agent is excluded from all listings and lookups.
        The agent's machine principal is disabled. In-flight jobs claiming this agent are
        not automatically cancelled.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/inbox:
    post:
      operationId: provisionAgentInbox
      tags:
      - agents
      summary: Provision agent inbox
      description: 'Provisions a dedicated email inbox for the agent. The address is derived
        from the agent ID (`{agentID}@mobiusinbox.com`) and stored on the agent record. Idempotent:
        if an inbox is already provisioned, the existing agent is returned unchanged.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/sessions:
    get:
      operationId: listAgentSessions
      tags:
      - agents
      summary: List agent sessions
      description: Returns durable conversation sessions for one agent, newest activity first.
        Remote workers use this to inspect their own remembered conversations.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        description: Filter by session status.
        schema:
          $ref: '#/components/schemas/SessionStatus'
      - name: scope
        in: query
        description: Filter by session scope.
        schema:
          $ref: '#/components/schemas/SessionScope'
      - name: provider
        in: query
        description: Filter messaging sessions by provider metadata, e.g. `slack` or `telegram`.
        schema:
          type: string
      - name: since
        in: query
        description: Only include sessions with activity after this timestamp.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/sessions/{session_id}:
    get:
      operationId: getAgentSession
      tags:
      - agents
      summary: Get agent session
      description: Returns one durable conversation session for an agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/sessions/{session_id}/messages:
    get:
      operationId: listSessionMessages
      tags:
      - agents
      summary: List session messages
      description: Returns raw session messages in sequence order for replay.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      - name: after_sequence
        in: query
        description: Only include messages with sequence greater than this value.
        schema:
          type: integer
          minimum: 0
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: appendSessionMessages
      tags:
      - agents
      summary: Append session messages
      description: Appends one or more messages to a durable session and returns the updated
        session. The service assigns sequence numbers atomically and may append an additional
        compaction summary when the session crosses its compaction threshold.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendSessionMessagesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/sessions/{session_id}/turns:
    get:
      operationId: listSessionTurns
      tags:
      - agents
      summary: List session turns
      description: Returns the session's turns in chronological order. Each turn groups related
        transcript messages and includes links to any run step or channel exchange that produced
        it.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTurnListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/turns/{resource_id}/messages:
    get:
      operationId: listTurnMessages
      tags:
      - agents
      summary: List turn messages
      description: Returns the transcript messages for one turn in sequence order. Use this
        endpoint when a client already has a turn ID; use the session messages endpoint to
        read the full session transcript.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: after_sequence
        in: query
        description: Only include messages with sequence greater than this value.
        schema:
          type: integer
          minimum: 0
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/messaging-bindings:
    get:
      operationId: listAgentMessagingBindings
      tags:
      - agents
      summary: List agent messaging bindings
      description: Returns messaging provider accounts that route messages to this agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBindingListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: saveAgentMessagingBinding
      tags:
      - agents
      summary: Save agent messaging binding
      description: Saves one provider-account binding used to route messages to this agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMessagingBindingRequest'
            example:
              provider: slack
              integration_id: int_slack_7x3m9q2v5p8n4r6t
              enabled: true
              dms: true
              mentions: true
              all_messages: false
              channels:
              - C0123456789
              dm_policy: open
              reply_mode: auto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBinding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/messaging-bindings/{binding_id}:
    delete:
      operationId: deleteAgentMessagingBinding
      tags:
      - agents
      summary: Delete agent messaging binding
      description: Deletes one messaging binding from the agent and provider account.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: binding_id
        in: path
        required: true
        description: Messaging binding identifier.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/sessions/{session_id}/events.stream:
    get:
      operationId: streamSessionEvents
      tags:
      - agents
      summary: Stream session events
      description: Streams live Server-Sent Events for a conversation session. This is a live
        transport for ephemeral events such as `generation.delta`; durable session transcript
        state remains available from the messages endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: 'Server-sent event stream of live session activity. Each message is
            framed as `event: <event type>` (e.g. `generation.delta`) followed by a `data:`
            line carrying the JSON-encoded event payload (the `SessionStreamEvent` shape,
            always including `session_id`).'
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SessionStreamEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/toolkit-assignments:
    get:
      operationId: listAgentToolkitAssignments
      tags:
      - agents
      summary: List agent toolkit assignments
      description: Returns the toolkits assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceAgentToolkitAssignments
      tags:
      - agents
      summary: Replace agent toolkit assignments
      description: Replaces the agent's toolkit assignment set as a whole. The effective tool
        surface is the union of the assigned toolkits' actions, narrowed by any active skills
        and per-invocation filters.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceToolkitsRequest'
            example:
              toolkit_ids:
              - kit_4r8q2m7x9p5v3n6t
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/skill-assignments:
    get:
      operationId: listAgentSkillAssignments
      tags:
      - agents
      summary: List agent skill assignments
      description: Returns the skills assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceAgentSkillAssignments
      tags:
      - agents
      summary: Replace agent skill assignments
      description: Replaces the agent's skill assignment set as a whole. A skill can narrow
        the agent's tools while active via its `allowed_tools` filter; it never widens the
        set beyond the assigned toolkits' actions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceSkillsRequest'
            example:
              skill_ids:
              - skill_7n4q8x2m9p5v3r6t
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/tools:
    get:
      operationId: getAgentTools
      tags:
      - agents
      summary: Get agent tools
      description: 'Resolves the effective set of tools an agent can invoke: the flat union
        of the assigned toolkits'' actions, optionally restricted by a toolkit subset, per-invocation
        tool filters, and active skill narrowing.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: toolkit_ids
        in: query
        description: Optional comma-separated toolkit subset to apply.
        schema:
          type: string
      - name: skill_name
        in: query
        description: Optional assigned skill name to preselect as active.
        schema:
          type: string
      - name: allowed_tools
        in: query
        description: Optional comma-separated canonical action names, wildcard selectors,
          or group references to apply as a per-invocation filter against the resolved tool
          set.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentToolManifest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/loops:
    get:
      operationId: listLoops
      tags:
      - loops
      summary: List loops
      description: Returns loops in the project, newest-first. Supports filtering by lifecycle
        status, associated agent, and cursor-based pagination. Deleted loops are omitted from
        normal list responses.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        description: Filter by lifecycle status. Omit to return the normal loop list, or pass
          a visible status to filter to it exactly.
        schema:
          type: string
          enum:
          - draft
          - active
          - paused
      - name: agent_id
        in: query
        description: Return only loops associated with this agent.
        schema:
          type: string
      - name: cursor
        in: query
        description: Opaque pagination cursor from a prior response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createLoop
      tags:
      - loops
      summary: Create loop
      description: Creates a new loop, addressed thereafter by its generated `id`. If authoring
        fields such as `steps` are supplied, they become the runnable definition immediately
        and the loop returns `active`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoopRequest'
            example:
              name: Daily security check
              description: Review open pull requests each morning.
              agent_id: agent_5n8p2q7m4x9r3v6t
              schema_version: '2'
              triggers:
              - name: Weekday morning
                kind: schedule
                config:
                  cron: 0 9 * * 1-5
                  timezone: America/New_York
              steps:
              - id: summarize
                kind: agent
                config:
                  instructions: Summarize open pull requests.
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loop'
              example:
                id: loop_9q2m7x5v3p8n4r6t
                name: Daily security check
                description: Review open pull requests each morning.
                status: active
                agent_id: agent_5n8p2q7m4x9r3v6t
                schema_version: '2'
                triggers:
                - name: Weekday morning
                  kind: schedule
                  config:
                    cron: 0 9 * * 1-5
                    timezone: America/New_York
                steps:
                - id: summarize
                  kind: agent
                  config:
                    agent_id: agent_5n8p2q7m4x9r3v6t
                    instructions: Summarize open pull requests.
                tags:
                  owner: product
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/loops/{resource_id}:
    get:
      operationId: getLoop
      tags:
      - loops
      summary: Get loop
      description: Returns one loop by ID, including its current authored definition.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loop'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateLoop
      tags:
      - loops
      summary: Update loop
      description: Updates mutable fields on the loop. If authoring fields such as `steps`
        are supplied, they replace the current runnable definition immediately. The id, org,
        and project remain immutable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoopRequest'
            example:
              name: Daily PR review
              status: active
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loop'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteLoop
      tags:
      - loops
      summary: Delete loop
      description: Deletes the loop from active use. Existing runs remain queryable, but new
        runs cannot be started.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/triggers/http/{http_handle}:
    post:
      operationId: deliverHTTPTrigger
      tags:
      - loops
      summary: Deliver trigger
      description: Public endpoint for delivering an HTTP-trigger event. It resolves `http_handle`,
        commits a durable source-event row, and starts the run asynchronously. Reusing the
        same idempotency key returns the same `source_event_id`.
      security: []
      parameters:
      - name: http_handle
        in: path
        required: true
        description: Globally unique identifier for the trigger. The endpoint carries no project
          context, so the handle is resolved on its own; it defaults to the trigger's globally
          unique id and is treated as an unguessable delivery token.
        schema:
          type: string
      - name: idempotency_key
        in: query
        required: false
        schema:
          type: string
        description: Optional idempotency key (also accepted via the X-Idempotency-Key header).
      - name: X-Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: Alternative to the `idempotency_key` query parameter. When both are present
          the query parameter wins. Repeats with the same key return the same `source_event_id`
          (resolve the run via `source_event_id`) without enqueuing a duplicate.
      - name: X-Mobius-Signature
        in: header
        required: false
        schema:
          type: string
        description: HMAC-SHA256 signature of the raw request body under the trigger's signing
          secret, formatted as `sha256=<hex>`. Required only when the HTTP trigger has a signing
          secret configured; unsigned deliveries are accepted for triggers without one.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HTTPTriggerDeliveryRequest'
            example:
              customer_id: cus_123
              event_type: invoice.paid
              amount_cents: 4200
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPTriggerDeliveryResult'
              example:
                source_event_id: sevt_01HHTTPTRIGGER
                status: accepted
                deduped: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_signature
                  message: missing or invalid request signature
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: payload_too_large
                  message: request body exceeds the maximum allowed size
  /v1/projects/{project_handle}/loops/{resource_id}/runs:
    post:
      operationId: startRun
      tags:
      - runs
      summary: Start run
      description: Resolves `{resource_id}` to the current runnable loop definition and starts
        a run. Returns the created run when accepted, or the existing run when the request
        carries an `idempotency_key` that matches a still-active prior run. Reusing the key
        after the prior run is terminal returns `409 Conflict`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartLoopRunRequest'
            example:
              inputs:
                issue_id: '42'
              source:
                type: api
                id: review-service
                label: review-service
              idempotency_key: review-service:issue-42
              credit_budget: 1000
      responses:
        '202':
          description: Accepted. Returns the run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRun'
              example:
                id: run_8q5m2x9v7p3n4r6t
                loop_id: loop_9q2m7x5v3p8n4r6t
                loop_name: Daily security check
                loop_version_id: lver_4v9n2q7m5x8p3r6t
                loop_version: 3
                status: queued
                inputs:
                  issue_id: '42'
                  repository: deepnoodle-ai/mobius-cloud
                source:
                  type: api
                  id: review-service
                  label: review-service
                created_at: '2026-06-15T14:00:00Z'
                updated_at: '2026-06-15T14:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/runs:
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List loop runs
      description: Returns loop runs for the project, newest-first. Supports filters by status,
        loop_id, and source_event_id, plus cursor-based pagination.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/LoopRunStatus'
        description: Filter to one status.
      - name: loop_id
        in: query
        schema:
          type: string
        description: Filter to one loop's runs.
      - name: source_event_id
        in: query
        schema:
          type: string
        description: Filter to runs originating from a single source event. Pass the `source_event_id`
          returned by the HTTP-trigger delivery endpoint to discover the run it started.
      - name: cursor
        in: query
        schema:
          type: string
        description: Opaque pagination cursor from a prior response.
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/runs/{resource_id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get run
      description: Returns one loop run by ID with its current status, inputs, result, and
        source attribution.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/runs/{resource_id}/cancel:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Cancel run
      description: Marks the run cancelled and closes any open waits. Safe to call on an already-terminal
        run (returns the current state, no error).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelLoopRunRequest'
            example:
              reason: superseded by manual remediation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/runs/{resource_id}/steps:
    get:
      operationId: listRunSteps
      tags:
      - runs
      summary: List run steps
      description: Returns the durable step records for one run, ordered by step index. Each
        row carries the step's kind, status, attempt count, inputs, result, and any error
        metadata recorded by the engine.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRunStepListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/runs/{resource_id}/events:
    get:
      operationId: listRunEvents
      tags:
      - runs
      summary: List run events
      description: Returns the durable event log for one run, ordered by sequence number.
        Use `after_sequence` to poll only events recorded after the last sequence the client
        has observed.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: after_sequence
        in: query
        description: Return events with sequence > after_sequence.
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRunEventListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/runs/{resource_id}/events.stream:
    get:
      operationId: streamRunEvents
      tags:
      - runs
      summary: Stream run events
      description: Long-lived SSE stream of run events ordered by sequence number. Each `data:`
        frame is a JSON-encoded `LoopRunEvent`. The stream terminates when the run reaches
        a terminal status. Clients that disconnect should reconnect using `?after_sequence=N`
        (or the SSE `Last-Event-ID` header set to the last sequence) to resume without gaps.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: after_sequence
        in: query
        description: Stream events with sequence > after_sequence.
        required: false
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: 'Server-sent event stream. Each message is framed as `event: <run-event
            type>` followed by a `data:` line carrying the JSON-encoded run event (the `LoopRunEvent`
            shape). The stream ends when the run reaches a terminal status; reconnect with
            `after_sequence` (or the `Last-Event-ID` header) to resume.'
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/LoopRunEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/runs/{resource_id}/signals:
    post:
      operationId: signalRun
      tags:
      - runs
      summary: Signal run
      description: Resumes a run that is suspended on a `wait_event` step matching the provided
        `step_key`. The `result` payload becomes the step's output, available to downstream
        steps at `steps.<id>.output` or `steps[0].output` in `${{ ... }}` templates.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalLoopRunRequest'
            example:
              step_key: wait_for_external_result
              result:
                status: complete
                source: ci
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoopRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/toolkits:
    get:
      operationId: listToolkits
      tags:
      - toolkits
      summary: List toolkits
      description: Returns project-local and system toolkit templates visible to the project
        by default.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: include_system
        in: query
        description: Include read-only system templates.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createToolkit
      tags:
      - toolkits
      summary: Create toolkit
      description: Creates a project-local toolkit with named action selectors.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolkitRequest'
            example:
              name: GitHub review
              description: GitHub actions needed for pull-request review.
              actions:
              - selector_type: exact
                selector: github.create_review_comment
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Toolkit'
              example:
                id: kit_4r8q2m7x9p5v3n6t
                name: GitHub review
                description: GitHub actions needed for pull-request review.
                source: project
                tags:
                  owner: product
                actions:
                - selector_type: exact
                  selector: github.create_review_comment
                created_by: user_2f9s3k4m5n6p7q8r
                updated_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/toolkits/{toolkit_id}:
    get:
      operationId: getToolkit
      tags:
      - toolkits
      summary: Get toolkit
      description: Returns a single project-local or system toolkit template by ID.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: toolkit_id
        in: path
        required: true
        description: Toolkit ID.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Toolkit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateToolkit
      tags:
      - toolkits
      summary: Update toolkit
      description: Updates the mutable toolkit representation. Send the full request body,
        including required field `name`; partial payloads are rejected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: toolkit_id
        in: path
        required: true
        description: Toolkit ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolkitRequest'
            example:
              name: GitHub review
              description: GitHub actions needed for pull-request review.
              actions:
              - selector_type: exact
                selector: github.create_review_comment
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Toolkit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteToolkit
      tags:
      - toolkits
      summary: Delete toolkit
      description: Deletes a project-local toolkit that is not assigned to any agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: toolkit_id
        in: path
        required: true
        description: Toolkit ID.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/skills:
    get:
      operationId: listSkills
      tags:
      - skills
      summary: List skills
      description: Returns project-local and system skill templates visible to the project
        by default.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: include_system
        in: query
        description: Include read-only system skill templates.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createSkill
      tags:
      - skills
      summary: Create skill
      description: Creates a project-local skill with instructions and requested tool filters.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillRequest'
            example:
              name: Pull request review
              description: Review pull requests for correctness and risk.
              instructions: Check the diff and leave concise findings.
              allowed_tools:
              - github.create_review_comment
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
              example:
                id: skill_7n4q8x2m9p5v3r6t
                name: Pull request review
                description: Review pull requests for correctness and risk.
                source: project
                instructions: Check the diff and leave concise findings.
                allowed_tools:
                - github.create_review_comment
                tags:
                  owner: product
                created_by: user_2f9s3k4m5n6p7q8r
                updated_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/skills/import:
    post:
      operationId: importSkill
      tags:
      - skills
      summary: Import skill
      description: Imports a Claude Code or Dive-style skill document into a project-local
        Mobius skill.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportSkillRequest'
            example:
              name: Pull request review
              content: |
                ---
                allowed_tools:
                  - github.create_review_comment
                ---
                Check the diff and leave concise findings.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
              example:
                id: skill_7n4q8x2m9p5v3r6t
                name: Pull request review
                description: Review pull requests for correctness and risk.
                source: project
[...]
