openapi: 3.0.3
info:
  title: Mobius API
  version: 0.1.0
  contact:
    name: Mobius
    url: https://mobiusops.ai
  description: |-
    Mobius is an agent loop platform for mixed teams of humans, systems, and AI agents. This is the HTTP API behind the `mobius` CLI and the official client SDKs.

    **Base URL.** Production is `https://api.mobiusops.ai`. Every route is prefixed with the stable major version `/v1`; breaking changes ship under a new prefix, not in place. The `version` field above tracks revisions of this specification, independent of the `/v1` URL version.

    **Authentication.** Send a credential in the `Authorization: Bearer <credential>` header. Project **API keys** (prefix `mbx_`) authenticate as a machine principal in one project and are issued from the Mobius app or the API-key endpoints; **CLI credentials** (prefix `mbc_`) are issued by the device-authorization flow on behalf of a user. See the `BearerAuth` security scheme for details.

    **Conventions.** Collections return a cursor-paginated envelope (`items` / `has_more` / `next_cursor`); single resources return the bare object. Errors use a shared envelope with a stable machine-readable `error.code`. Timestamps are ISO-8601 UTC.
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: api-keys
  x-displayName: API Keys
  description: Organization and project API keys used for programmatic authentication.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by agents and loop steps.
- name: catalog
  x-displayName: Catalog
  description: Catalog API operations.
- name: environments
  x-displayName: Environments
  description: Provider-backed isolated workspaces allocated to agents and loop runs.
- name: jobs
  x-displayName: Jobs
  description: The worker WebSocket protocol used by customer-side workers to claim, run,
    and report jobs.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and configuration.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: permissions
  x-displayName: Permissions
  description: Permission definitions and presets used to build project roles.
- name: roles
  x-displayName: Roles
  description: System and custom roles plus user role assignments.
- name: organizations
  x-displayName: Organizations
  description: Organization metadata, membership administration, and the current-org control
    plane.
- name: interactions
  x-displayName: Interactions
  description: Structured requests between users and agents (request information, approval,
    review).
- name: agents
  x-displayName: Agents
  description: Agent identities, presence, and lifecycle administration.
- name: sessions
  x-displayName: Sessions
  description: Durable conversation sessions, their transcripts, and direct agent invocation.
- name: loops
  x-displayName: Loops
  description: Loop definitions, versions, publication, and the triggers that start runs.
- name: runs
  x-displayName: Runs
  description: Durable loop run executions with their steps and event streams.
- name: toolkits
  x-displayName: Toolkits
  description: Project-local and system toolkit templates that grant agents access to action
    selectors.
- name: skills
  x-displayName: Skills
  description: Project-local and system skill templates used to shape agent behavior and requested
    tools.
- name: blueprints
  x-displayName: Blueprints
  description: Blueprints API operations.
- name: principals
  x-displayName: Principals
  description: Principals API operations.
- name: tables
  x-displayName: Tables
  description: Agent-readable and -writable project tables.
- name: artifacts
  x-displayName: Artifacts
  description: Files produced by agents during loop runs and stored for later inspection.
paths:
  /v1/projects/{project_handle}/api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create API key
      description: Creates an API key bound to a machine principal in this project. The key
        authenticates as that principal; associated permissions come from that principal's
        role assignments. The raw key value is returned in `key` and is never retrievable
        again after this response.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              name: CI worker
              principal_id: svc_7q2v9x6m3n8p5r4t
              expires_at: '2026-09-15T14:30:00Z'
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
              example:
                id: cred_1jz8q2m7xp9vn4kt
                name: CI worker
                key_prefix: mbx_7q2v
                principal_id: svc_7q2v9x6m3n8p5r4t
                expires_at: '2026-09-15T14:30:00Z'
                tags:
                  owner: product
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
                key: mbx_7q2v9k1m_redacted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      description: Returns API keys for this project, including pagination metadata.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/api-keys/{resource_id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get API key
      description: Returns metadata for a single API key without exposing the raw secret.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAPIKey
      tags:
      - api-keys
      summary: Delete API key
      description: Revokes the key. In-flight requests using this key will immediately start
        receiving 401 while credential metadata remains available for audit history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/api-keys:
    post:
      operationId: createOrgAPIKey
      tags:
      - api-keys
      summary: Create organization API key
      description: Creates an organization-level API key for the active organization. The
        key authenticates as the organization's system principal and acts with the chosen
        `role` applied org-wide across every project (defaults to `Admin`). The raw key value
        is returned in `key` and is never retrievable again after this response. Requires
        org admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgAPIKeyRequest'
            example:
              name: Org automation
              expires_at: '2026-09-15T14:30:00Z'
              tags:
                owner: platform
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listOrgAPIKeys
      tags:
      - api-keys
      summary: List organization API keys
      description: Returns the active organization's org-level API keys, including pagination
        metadata. Requires org admin.
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/api-keys/{resource_id}:
    get:
      operationId: getOrgAPIKey
      tags:
      - api-keys
      summary: Get organization API key
      description: Returns metadata for a single organization API key without exposing the
        raw secret. Requires org admin.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteOrgAPIKey
      tags:
      - api-keys
      summary: Delete organization API key
      description: Revokes the organization API key. In-flight requests using this key will
        immediately start receiving 401 while credential metadata remains available for audit
        history. Requires org admin.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/actions:
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create action
      description: Registers a project-owned custom action definition. HTTP actions require
        `endpoint_url` and receive a signing secret. Worker-backed actions omit `endpoint_url`;
        compatible workers make the registered action ready by advertising its name when connected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
            example:
              name: review-pr
              title: Review PR
              description: Review a pull request and return findings.
              endpoint_kind: http
              invocation_format: signed_context_v1
              endpoint_url: https://hooks.example.com/mobius/review-pr
              input_schema:
                type: object
                required:
                - pull_request_url
                properties:
                  pull_request_url:
                    type: string
              annotations:
                idempotent: true
                read_only: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
              example:
                id: act_8m4x9q2v7p5n3r6t
                name: review-pr
                title: Review PR
                description: Review a pull request and return findings.
                endpoint_kind: http
                invocation_format: signed_context_v1
                endpoint_url: https://hooks.example.com/mobius/review-pr
                input_schema:
                  type: object
                  required:
                  - pull_request_url
                  properties:
                    pull_request_url:
                      type: string
                annotations:
                  idempotent: true
                  destructive: false
                  read_only: true
                tags:
                  owner: product
                signing_secret: base64:one_time_secret
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/actions/{action_name}:
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update action
      description: Updates action metadata, schemas, annotations, tags, or the HTTP endpoint
        URL. Worker-backed actions cannot set an endpoint URL.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
            example:
              title: Review PR
              description: Review a pull request and return prioritized findings.
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete action
      description: Deletes a project-owned custom action definition. Runnable loop specs that
        still reference the action block deletion with `409 Conflict` until the reference
        is removed.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate signing secret
      description: Rotates the signing secret for an HTTP-backed custom action. Worker actions
        do not have signing secrets and return a validation error.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
              example:
                secret_ref: mobius/action/deploy_preview
                secret_version: 2
                signing_secret: redacted_base64_signing_secret
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/action-invocations:
    get:
      operationId: listActionInvocations
      tags:
      - actions
      summary: List invocations
      description: Lists recent action invocation audit records from loops, agents, direct
        invocations, and job-backed execution.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific loop run.
        schema:
          type: string
      - name: job_id
        in: query
        description: Filter to invocations from a specific job.
        schema:
          type: string
      - name: environment_id
        in: query
        description: Filter to invocations executed in a specific environment.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/actions/{action_name}/invoke:
    post:
      operationId: invokeAction
      tags:
      - actions
      summary: Invoke action
      description: Invokes a catalog action through the same job-backed execution surface
        used by loops. HTTP and managed platform actions are dispatched to Mobius server workers;
        worker-backed custom actions are dispatched to compatible customer workers.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeActionRequest'
            example:
              input:
                channel: '#product'
                text: Deployment finished.
              timeout_seconds: 30
              dry_run: false
      responses:
        '200':
          description: OK — invocation completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
              example:
                status: completed
                job_id: job_2m7x9q5v8p3n4r6t
                output:
                  message_ts: '1718461800.000100'
        '202':
          description: Accepted — asynchronous invocation is still active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
              example:
                status: active
                job_id: job_2m7x9q5v8p3n4r6t
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/catalog/events:
    get:
      operationId: listCatalogEvents
      tags:
      - catalog
      summary: List events
      description: Returns triggerable event sources for this project, including built-in
        platform sources and connected integration providers. Each source lists its active
        event types, readiness, and any reserved matcher prefixes the authoring UI should
        recognize.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/catalog/actions:
    get:
      operationId: listCatalogActions
      tags:
      - catalog
      summary: List actions
      description: 'Returns the full catalog of actions available to this project: project-owned
        HTTP actions and platform-provided integration actions (Slack, GitHub, etc.). The
        `available` flag indicates whether the action can currently be invoked. Custom HTTP
        actions are created and managed on the `/actions` resource.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/catalog/actions/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - catalog
      summary: Get action
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/catalog/models:
    get:
      operationId: listCatalogModels
      tags:
      - catalog
      summary: List models
      description: Returns assignable agent models grouped by provider. Providers appear only
        when the project has usable credentials, either from BYOK integration state or platform-managed
        configuration.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/catalog/worker-models:
    get:
      operationId: listCatalogWorkerModels
      tags:
      - catalog
      summary: List worker models
      description: Returns local LLM models currently advertised by online project workers.
        Each item includes the exact `model_route` object to assign to an agent or loop step.
        Matching is exact on `provider` and `model`; queues are not part of the standard local
        LLM path.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerModelCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/environments:
    get:
      operationId: listEnvironments
      tags:
      - environments
      summary: List environments
      description: Returns project environments visible to the caller, newest-first. Filters
        let clients narrow by lifecycle status, run, and recently destroyed tombstones.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: status
        in: query
        description: Filter by environment lifecycle status.
        schema:
          $ref: '#/components/schemas/EnvironmentStatus'
      - name: run_id
        in: query
        description: Filter to environments created for the given run.
        schema:
          type: string
      - name: include_destroyed
        in: query
        description: Include destroyed environments in the result. By default destroyed rows
          are excluded; set this to true (or pass status=destroyed) to see them.
        schema:
          type: boolean
          default: false
      - name: destroyed_since
        in: query
        description: Narrow destroyed rows to those torn down at or after this timestamp.
          Composes with `status=destroyed` to fetch a "recently destroyed" tombstone window
          (e.g. last hour). Non-destroyed rows are unaffected when this is combined with the
          default (no-status) view.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createEnvironment
      tags:
      - environments
      summary: Create environment
      description: Creates a durable execution environment record and provisions it with the
        selected provider. The server resolves scope and ownership before enforcing uniqueness
        for the environment name.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
            example:
              name: review-workspace
              provider: sprites
              template_id: coding-default
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              example:
                id: env_8q5m2x9v7p3n4r6t
                name: review-workspace
                provider: sprites
                status: provisioning
                lifetime: explicit
                tags:
                  owner: product
                cleanup_status: none
                retention_policy: manual
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/environments/{environment_id}:
    get:
      operationId: getEnvironment
      tags:
      - environments
      summary: Get environment
      description: Returns the current environment record, including provider status, lease
        metadata, ownership, binding, and retention settings.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEnvironment
      tags:
      - environments
      summary: Update environment
      description: Only scope, owned_by, and tags are mutable from the public API.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
            example:
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: destroyEnvironment
      tags:
      - environments
      summary: Destroy environment
      description: Requests provider teardown for the environment and records the destroyed
        state in Mobius. The response includes the final environment snapshot after the destroy
        request is accepted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: Destroyed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/workers/socket:
    get:
      operationId: openWorkerSocket
      tags:
      - jobs
      summary: Open worker WebSocket
      description: Upgrades to the worker WebSocket protocol. Workers authenticate with normal
        project credentials, send `worker.register`, then exchange typed JSON frames for claim,
        heartbeat, report, cancellation, and generation streaming.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '101':
          description: WebSocket upgrade accepted.
        '200':
          description: Placeholder response for OpenAPI tooling; successful clients receive
            a 101 upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSocketFrame'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - projects
      summary: List projects
      description: 'Lists the projects the caller can see, newest first. Results are paginated:
        pass `limit` to size the page and follow `next_cursor` (returned while `has_more`
        is true) to walk the full set — the way to enumerate an org that runs a project per
        tenant. Use `search` to substring-match name, handle, or description, and repeat `tag`
        to narrow to projects carrying specific labels. Deleted projects are omitted from
        normal list responses.'
      parameters:
      - name: search
        in: query
        description: Case-insensitive substring filter applied to project name, handle, and
          description.
        schema:
          type: string
      - name: tag
        in: query
        description: Filter to projects carrying the given tags. Each value is either a bare
          key (matches any project that has the key) or `key:value` (matches the exact key/value
          pair). Comma-separate to require several tags; a project must match every one.
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createProject
      tags:
      - projects
      summary: Create project
      description: Creates a project within the authenticated org. If `handle` is omitted
        it is auto-derived from `name` (lowercased, spaces replaced with hyphens). Returns
        409 if the handle already exists in the org.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            example:
              name: Product Ops
              handle: product-ops
              description: Product operations workflows
              access_mode: restricted
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                id: prj_3q7m9x2v5n8p4r6t
                name: Product Ops
                handle: product-ops
                description: Product operations workflows
                access_mode: restricted
                created_by: user_2f9s3k4m5n6p7q8r
                tags:
                  owner: product
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}:
    get:
      operationId: getProject
      tags:
      - projects
      summary: Get project
      description: Requires the `mobius.project.view` permission for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags:
      - projects
      summary: Update project
      description: Updates `name`, `description`, and/or `access_mode`. The request also accepts
        `seed_existing_members` when flipping `access_mode` from `open` to `restricted`. The
        project handle is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
            example:
              name: Product Operations
              access_mode: restricted
              seed_existing_members: true
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteProject
      tags:
      - projects
      summary: Delete project
      description: Deletes the project from active use. New trigger fires, scheduled runs,
        manual starts, and edits are blocked; in-flight runs are allowed to drain. The project
        is hidden from project listings, but historical runs remain readable while the retained
        record exists.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/capabilities:
    get:
      operationId: getProjectCapabilities
      tags:
      - projects
      summary: Get project capabilities
      description: Returns route-local capability booleans for the current caller and project.
        Clients use this response to show management affordances that match the same project-scoped
        authorization enforced by write endpoints.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: Effective capabilities for this project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCapabilities'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: Returns all outgoing webhook subscriptions for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: enabled
        in: query
        schema:
          type: boolean
        description: Filter by enabled/disabled state.
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create webhook
      description: |-
        Creates a new outgoing webhook subscription. Webhook names must be unique within the project. Returns 409 if the name already exists.

        A signing key is generated automatically and returned in the response; this is the only time the raw key is exposed. Rotate it with `POST /webhooks/{resource_id}/secret/rotate` if compromised.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
            example:
              name: Run status sink
              url: https://hooks.example.com/mobius/run-status
              events:
              - run.completed
              - run.failed
              enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: wbh_7x3m9q2v5p8n4r6t
                name: Run status sink
                url: https://hooks.example.com/mobius/run-status
                events:
                - run.completed
                - run.failed
                enabled: true
                secret_ref: mobius/webhook/wbh_7x3m9q2v5p8n4r6t
                secret_version: 1
                signing_secret: redacted_base64_signing_secret
                created_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get webhook
      description: Returns one outgoing webhook subscription and its event filters. The raw
        signing key is never returned after creation or rotation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update webhook
      description: Updates the webhook name, URL, event subscriptions, enabled state, or tags.
        Signing key rotation is handled by the dedicated rotate endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
            example:
              name: Run status sink
              events:
              - run.completed
              - run.failed
              enabled: true
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete webhook
      description: Deletes the webhook and stops future deliveries for its subscribed events.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}/secret/rotate:
    post:
      operationId: rotateWebhookSecret
      tags:
      - webhooks
      summary: Rotate webhook signing secret
      description: Generates a new HMAC-SHA256 signing key version for the webhook. Store
        the returned key immediately; it cannot be retrieved again.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
              example:
                secret_ref: mobius/webhook/wbh_7x3m9q2v5p8n4r6t
                secret_version: 2
                signing_secret: redacted_base64_signing_secret
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}/ping:
    post:
      operationId: pingWebhook
      tags:
      - webhooks
      summary: Test webhook URL
      description: 'Sends a signed test POST to the saved webhook URL or a request-body override
        URL. Use this before saving a new endpoint; the payload has `type: "ping"` and the
        response reports delivery status and latency.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingWebhookRequest'
            example:
              url: https://hooks.example.test/mobius/run-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingWebhookResult'
              example:
                success: true
                status_code: 204
                latency_ms: 83
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/webhooks/{resource_id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - webhooks
      summary: List webhook deliveries
      description: Lists the delivery history for a webhook, newest first. Each entry records
        the event type, current status, attempt count, and any last error message. Deliveries
        are retried up to 10 times (5xx, 408, 429 are retryable; other 4xx are not). A delivery
        transitions to `failed` only after exhausting all retry attempts.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
              example:
                items:
                - id: whd_4q8m2x7v5p9n3r6t
                  webhook_id: wbh_7x3m9q2v5p8n4r6t
                  run_id: run_8q5m2x9v7p3n4r6t
                  event_type: run.completed
                  status: delivered
                  attempts: 1
                  created_at: '2026-06-15T14:44:00Z'
                  delivered_at: '2026-06-15T14:44:01Z'
                has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/permissions:
    get:
      operationId: listProjectPermissions
      tags:
      - permissions
      summary: List project permissions
      description: Returns the canonical permission definitions, role presets, and action
        execution permission groups available when building project roles. Use this endpoint
        to source the permission IDs accepted by the role creation and update endpoints.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/roles:
    get:
      operationId: listRoles
      tags:
      - roles
      summary: List roles
      description: Returns system-defined roles plus custom roles scoped to this project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createRole
      tags:
      - roles
      summary: Create role
      description: Creates a custom role scoped to the project. Only system-defined roles
        exist at the org/global tier and are created automatically by the platform.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project_handle}/roles/{resource_id}:
    get:
      operationId: getRole
      tags:
      - roles
      summary: Get role
      description: Returns a role by ID. Both system-defined and custom roles belonging to
        this project are accessible via this endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRole
      tags:
      - roles
      summary: Update role
      description: Updates description or permissions of a custom role. Role names are immutable.
        System-defined roles (system_defined=true) cannot be updated and return 403.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteRole
      tags:
      - roles
      summary: Delete role
      description: Hard-deletes the role and all its assignments. System-defined roles cannot
        be deleted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/role-assignments:
    get:
      operationId: listRoleAssignments
      tags:
      - roles
      summary: List role assignments
      description: Returns role assignments optionally filtered by principal or role.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: principal_id
        in: query
        description: Filter to assignments for a specific principal.
        schema:
          type: string
      - name: role_id
        in: query
        description: Filter to assignments for a specific role.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createRoleAssignment
      tags:
      - roles
      summary: Create role assignment
      description: Binds a role to a principal in this project (human or machine). The assignment
        records the creating user in `granted_by`. To manage a machine principal's roles without
        referencing its ID directly, use `role_ids` on the principal create and update endpoints.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleAssignmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project_handle}/role-assignments/{resource_id}:
    delete:
      operationId: deleteRoleAssignment
      tags:
      - roles
      summary: Delete role assignment
      description: Deletes a single role assignment by ID. The underlying role and principal
        are not deleted, but the principal immediately loses permissions granted only through
        this assignment.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/organization/definition-resolver:
    get:
      operationId: getDefinitionResolver
      tags:
      - organizations
      x-public: true
      summary: Get the org's definition-resolver config
      description: 'Returns the active org''s pluggable definition-source configuration: where
        definitions resolve from (`mobius_stored` default or `client_resolver`) and, for the
        client resolver, the endpoint and caching policy. The bearer token is never returned
        — `auth_configured` reports whether one is set. Requires `Admin` or `Owner` membership.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResolverConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceDefinitionResolver
      tags:
      - organizations
      x-public: true
      summary: Replace the org's definition-resolver config
      description: Full-replace of the active org's definition-source configuration. All configurable
        fields are authoritative; `auth.token` is write-only — supply it to set or rotate
        the shared bearer token, omit `auth` to keep the existing token, or send an empty
        token to clear it. Execution behavior stays clamped by the org policy ceiling regardless
        of source. Requires `Admin` or `Owner` membership.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDefinitionResolverRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResolverConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/interactions:
    post:
      operationId: createInteraction
      tags:
      - interactions
      summary: Create interaction
      description: Creates a standalone or run-backed interaction. Run-backed interactions
        record an `interaction.responded` event when completed; omit `run_id` and `signal_name`
        for interactions with no loop-run association.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInteractionRequest'
            example:
              run_id: run_8q5m2x9v7p3n4r6t
              signal_name: manager_approval
              target_user_ids:
              - user_2f9s3k4m5n6p7q8r
              kind: request_approval
              title: Approve publishing the April billing report?
              context:
                report_id: rpt_2026_04
                amount_usd: 12850
              spec:
                mode: confirm
                default_confirmed: false
              require_all: false
              expires_at: '2026-04-25T14:30:00Z'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: iact_6x2m8q5v9p3n7r4t
                run_id: run_8q5m2x9v7p3n4r6t
                signal_name: manager_approval
                kind: request_approval
                status: pending
                title: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target_user_ids:
                - user_2f9s3k4m5n6p7q8r
                expires_at: '2026-04-25T14:30:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listInteractions
      tags:
      - interactions
      summary: List interactions
      description: Returns interactions newest-first, optionally filtered by kind, status,
        run, session, target, or the current caller's inbox. Inbox filtering includes direct
        targets.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - completed
          - expired
          - cancelled
        description: Filter by status
      - name: kind
        in: query
        schema:
          $ref: '#/components/schemas/InteractionKind'
        description: Filter by interaction protocol kind
      - name: run_id
        in: query
        schema:
          type: string
        description: Filter by originating run ID
      - name: session_id
        in: query
        schema:
          type: string
        description: Filter to interactions raised by an agent tool call (`consumer.kind=agent_tool`)
          whose invocation is a turn of the given chat session. Lets a chat surface the pending
          `request_human_input` interactions its own turns are waiting on.
      - name: target_user_id
        in: query
        schema:
          type: string
        description: Filter by resolved target user ID.
      - name: inbox
        in: query
        schema:
          type: boolean
        description: When true, returns only interactions visible to the authenticated user.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project_handle}/interactions/{resource_id}:
    get:
      operationId: getInteraction
      tags:
      - interactions
      summary: Get interaction
      description: Returns one interaction with target, response, and completion metadata.
        Run-backed interactions include the run and signal identifiers used to resume loop
        execution.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteInteraction
      tags:
      - interactions
      summary: Delete interaction
      description: Deletes an interaction so it disappears from inbox and project listings.
        The row is retained for audit history. Only terminal interactions (`completed`, `cancelled`,
        `expired`) may be deleted; pending or in-review interactions must be cancelled first
        so any waiting loop run can route to a fallback.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/interactions/{resource_id}/respond:
    post:
      operationId: respondToInteraction
      tags:
      - interactions
      summary: Respond to interaction
      description: |-
        Canonical response endpoint for every interaction kind. `action` defaults to `submit`; lifecycle operations beyond submit are not part of the launch model.

        The request body is intentionally the same envelope for every kind: `action`, `value`, and `comment`. Kind-specific behavior is selected from the interaction itself, not from separate request-body shapes.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondToInteractionRequest'
            examples:
              approval:
                summary: Approve interaction
                value:
                  action: submit
                  value: true
                  comment: Approved for publication.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: iact_6x2m8q5v9p3n7r4t
                run_id: run_8q5m2x9v7p3n4r6t
                signal_name: manager_approval
                kind: request_approval
                status: completed
                title: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target_user_ids:
                - user_2f9s3k4m5n6p7q8r
                responder:
                  user_id: user_2f9s3k4m5n6p7q8r
                resolving_response_id: iresp_3v7q2m9x5p8n4r6t
                responses:
                - id: iresp_3v7q2m9x5p8n4r6t
                  interaction_id: iact_6x2m8q5v9p3n7r4t
                  response_kind: response
                  state: submitted
                  responder_user_id: user_2f9s3k4m5n6p7q8r
                  value: true
                  comment: Approved for publication.
                  responded_at: '2026-04-24T14:42:00Z'
                  created_at: '2026-04-24T14:42:00Z'
                  updated_at: '2026-04-24T14:42:00Z'
                outcome: true
                resolved_by: any_of
                expires_at: '2026-04-25T14:30:00Z'
                completed_at: '2026-04-24T14:42:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:42:00Z'
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project_handle}/interactions/{resource_id}/cancel:
    post:
      operationId: cancelInteraction
      tags:
      - interactions
      summary: Cancel open interaction
      description: 'Cancels an open interaction, recording who cancelled and an optional reason.
        Run-backed interactions resume the waiting loop step with a `{status: cancelled, reason}`
        signal payload so loops can route to a fallback. Only humans may cancel by default
        — agents must request cancellation through an interaction.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelInteractionRequest'
            example:
              reason: Superseded by a revised approval request.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create agent
      description: 'Creates an agent. An agent IS a principal (principals.kind = agent): its
        backing identity row is created atomically with the agent — there is no separate machine-identity
        side record. The agent principal is for identity, ownership, and attribution; an agent''s
        tools come from its assigned toolkits, not from roles.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
            example:
              name: PR reviewer
              description: Reviews pull requests for risky changes.
              kind: llm
              color: teal
              model: claude-sonnet-4-6
              tool_presentation: meta
              tags:
                owner: product
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
              example:
                id: agent_5n8p2q7m4x9r3v6t
                principal_id: agent_5n8p2q7m4x9r3v6t
                name: PR reviewer
                description: Reviews pull requests for risky changes.
                kind: llm
                color: teal
                model: claude-sonnet-4-6
                tool_presentation: meta
                status: active
                tags:
                  owner: product
                created_by: user_2f9s3k4m5n6p7q8r
                updated_by: user_2f9s3k4m5n6p7q8r
                created_at: '2026-06-15T14:30:00Z'
                updated_at: '2026-06-15T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      description: Returns active and inactive agents with computed presence. Deleted agents
        are excluded. Filter by exact name or principal_id to resolve a configured agent without
        copying its Mobius ID into application state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: name
        in: query
        description: Filter to the project-unique agent with this exact name.
        schema:
          type: string
      - name: principal_id
        in: query
        description: Filter to the agent backed by this principal.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by administrative status (active/inactive), independent of presence.
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get agent
      description: Returns one agent with its administrative status and computed presence.
        Presence is derived from recent presence records, so it may change without the agent
        record itself being updated.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update agent
      description: Updates mutable agent fields. Setting `status` to `inactive` prevents the
        agent from claiming new jobs but does not terminate active presence records.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
            example:
              status: active
              model: claude-sonnet-4-6
              tags:
                owner: product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete agent
      description: Deletes the agent from normal use. The agent record is retained for audit
        and attribution history, but the agent is excluded from all listings and lookups.
        The agent's backing machine principal is archived for attribution history. In-flight
        jobs claiming this agent are not automatically cancelled.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/inbox:
    post:
      operationId: provisionAgentInbox
      tags:
      - agents
      summary: Provision agent inbox
      description: 'Provisions a dedicated email inbox for the agent. The address is derived
        from the agent ID (`{agentID}@mobiusinbox.com`) and stored on the agent record. Idempotent:
        if an inbox is already provisioned, the existing agent is returned unchanged.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/turns/{turn_id}/messages:
    get:
      operationId: listTurnMessages
      tags:
      - agents
      summary: List turn messages
      description: Returns the transcript messages for one turn in sequence order. Use this
        endpoint when a client already has a turn ID; use the session messages endpoint to
        read the full session transcript.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/TurnIdParam'
      - $ref: '#/components/parameters/AfterSequenceParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ContextIncludeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/messaging-bindings:
    get:
      operationId: listAgentMessagingBindings
      tags:
      - agents
      summary: List agent messaging bindings
      description: Returns messaging provider accounts that route messages to this agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBindingListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: saveAgentMessagingBinding
      tags:
      - agents
      summary: Save agent messaging binding
      description: Saves one provider-account binding used to route messages to this agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMessagingBindingRequest'
            example:
              provider: slack
              integration_id: int_slack_7x3m9q2v5p8n4r6t
              enabled: true
              dms: true
              mentions: true
              all_messages: false
              channels:
              - C0123456789
              dm_policy: open
              reply_mode: auto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagingBinding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/messaging-bindings/{binding_id}:
    delete:
      operationId: deleteAgentMessagingBinding
      tags:
      - agents
      summary: Delete agent messaging binding
      description: Deletes one messaging binding from the agent and provider account.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: binding_id
        in: path
        required: true
        description: Messaging binding identifier.
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/toolkit-assignments:
    get:
      operationId: listAgentToolkitAssignments
      tags:
      - agents
      summary: List agent toolkit assignments
      description: Returns the toolkits assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceAgentToolkitAssignments
      tags:
      - agents
      summary: Replace agent toolkit assignments
      description: Replaces the agent's toolkit assignment set as a whole. The effective tool
        surface is the union of the assigned toolkits' actions, narrowed by any active skills
        and per-invocation filters.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceToolkitsRequest'
            example:
              toolkit_ids:
              - kit_4r8q2m7x9p5v3n6t
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/skill-assignments:
    get:
      operationId: listAgentSkillAssignments
      tags:
      - agents
      summary: List agent skill assignments
      description: Returns the skills assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceAgentSkillAssignments
      tags:
      - agents
      summary: Replace agent skill assignments
      description: Replaces the agent's skill assignment set as a whole. A skill can narrow
        the agent's tools while active via its `allowed_tools` filter; it never widens the
        set beyond the assigned toolkits' actions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceSkillsRequest'
            example:
              skill_ids:
              - skill_7n4q8x2m9p5v3r6t
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillAssignmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/{resource_id}/tools:
    get:
      operationId: getAgentTools
      tags:
      - agents
      summary: Get agent tools
      description: 'Resolves the effective set of tools an agent can invoke: the flat union
        of the assigned toolkits'' actions, optionally restricted by a toolkit subset, per-invocation
        tool filters, and active skill narrowing.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: toolkit_ids
        in: query
        description: Optional comma-separated toolkit subset to apply.
        schema:
          type: string
      - name: skill_name
        in: query
        description: Optional assigned skill name to preselect as active.
        schema:
          type: string
      - name: allowed_tools
        in: query
        description: Optional comma-separated canonical action names, wildcard selectors,
          or group references to apply as a per-invocation filter against the resolved tool
          set.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentToolManifest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/memory:
    get:
      operationId: getAgentMemory
      tags:
      - agents
      summary: Get agent memory
      description: 'Returns a summary of the agent''s private memory: how many entries it
        holds, a breakdown by kind, and when it last changed. Each agent has its own durable
        memory; only that agent reads or writes it during runs, but project members can observe
        and edit it here.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/memory/entries:
    get:
      operationId: listAgentMemoryEntries
      tags:
      - agents
      summary: List agent memory entries
      description: Lists the entries in an agent's private memory, each a keyed, durable memory
        the agent remembered. Pass `query` to keyword-search over keys and content, and `kind`
        to filter to one kind. Returns an empty page when the agent has no memory yet.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: query
        in: query
        description: Optional keyword search over entry keys and content. Omit to list.
        schema:
          type: string
      - name: kind
        in: query
        description: Optional filter to a single memory kind.
        schema:
          $ref: '#/components/schemas/MemoryKind'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntryListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project_handle}/agents/{resource_id}/memory/entries/{memory_key}:
    put:
      operationId: saveAgentMemoryEntry
      tags:
      - agents
      summary: Save memory entry
      description: Saves the memory entry identified by `memory_key`, creating it when it
        does not exist. Editing memory here is equivalent to the agent calling `mobius.memory.remember`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/MemoryKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveAgentMemoryEntryRequest'
            example:
              content: The production database runs in us-east-1.
              summary: Production database region
              kind: fact
              importance: 80
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntry'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMemoryEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteAgentMemoryEntry
      tags:
      - agents
      summary: Delete a memory entry
      description: 'Deletes the memory entry identified by `memory_key`, equivalent to the
        agent calling `mobius.memory.forget`. Idempotent: succeeds even if no such entry exists.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/MemoryKeyParam'
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project_handle}/agents/invoke:
    post:
      operationId: invokeAgent
      tags:
      - sessions
      summary: Invoke an agent
      description: |-
        One compound runtime call for hosted apps: it resolves an agent, resolves or creates a session by `session_key`, appends the caller's input message, and starts an agent turn — collapsing the create-or-resolve-session plus start-turn sequence into a single retryable request. This is the entry point a product backend (an embedded app, a Slack handler, a Telegram bot) calls per inbound message; the lower-level session and turn APIs remain available for finer control.

        The optional `config` block lets you send an agent definition with the request — instructions, model, effort, per-turn timeout, toolkits, and skills — instead of using the one stored in Mobius. A field you set replaces the agent's value; a field you leave out keeps it. Mobius remembers the config on the session and reuses it on later turns until you send a new one. If your organization limits values like the model or timeout, those limits still apply. Omit `config` to run the agent on its stored definition.

        `config.timeout_seconds` is the session definition fallback; zero uses the platform default. For a one-shot override, send `operation.timeout_seconds` with a value of at least one. The operation value applies only to the newly admitted turn and takes precedence over the saved config value.

        By default it returns `202 Accepted` immediately with a durable `after_sequence` stream cursor; the turn keeps running even if the caller disconnects. When the request sets `Accept: text/event-stream`, the response is `200 OK` and the turn's activity is streamed inline on the same connection, identical to the `POST /v1/projects/{project_handle}/sessions/{session_id}/turns` stream. A repeated call with the same `input.idempotency_key` resolves the same session and returns the existing invocation without restarting it or writing new input, so a webhook handler can acknowledge fast and retry safely. Requires the `mobius.agent.invoke` permission (or the agent's own backing principal).

        Only one direct invocation may be nonterminal in a session. A distinct input while a turn is queued, running, or waiting returns `409` with `error.code = session_turn_active` and `error.details = {turn_id, status}` before the new input is appended. Use the session nudge endpoint explicitly to steer a running or waiting turn; Mobius never converts a second send into a nudge implicitly.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeAgentRequest'
            example:
              agent_ref:
                id: agent_5n8p2q7m4x9r3v6t
              session:
                mode: continue_or_create
                session_key: app:acct_123:user_456:slack:support:thread_789
                title: Support in Slack
                metadata:
                  account_id: acct_123
                  user_id: user_456
              config:
                instructions: You are Acme's support agent. Be concise and cite ticket numbers.
                model: claude-sonnet-4-6
                effort: medium
                toolkits:
                - name: tickets
                  actions:
                  - tickets.search
                  - tickets.get
              input:
                content:
                - type: text
                  text: Can you summarize my open tickets?
                idempotency_key: slack:evt_0a1b2c3d
              channel_context:
                provider: slack
                workspace_id: T123
                channel_id: C123
                thread_id: '1700000000.123'
      responses:
        '200':
          description: 'Server-sent event stream of the turn''s activity, returned when the
            request sets `Accept: text/event-stream`. Framing matches `GET /v1/projects/{project_handle}/sessions/{session_id}/stream`.'
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SessionStreamFrame'
        '202':
          description: The turn was accepted and is running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnAck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: A distinct direct invocation is already queued, running, or waiting.
            The `session_turn_active` error details contain its `turn_id` and `status`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
[...]
