openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is an agent automation platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: audit-logs
  x-displayName: Audit Logs
  description: Immutable audit records for security-sensitive project and organization activity.
- name: api-keys
  x-displayName: API Keys
  description: Organization and project API keys used for programmatic authentication.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by agents and automation steps.
- name: environments
  x-displayName: Environments
  description: Provider-backed isolated workspaces allocated to agents and automation runs.
- name: secrets
  x-displayName: Secrets
  description: Project-scoped secret metadata and immutable secret versions.
- name: worker-sessions
  x-displayName: Worker Sessions
  description: Worker sessions opened by long-running customer-side worker processes.
- name: jobs
  x-displayName: Jobs
  description: Jobs API operations.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and project-scoped configuration.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: permissions
  x-displayName: Permissions
  description: Permission definitions and presets used to build project roles.
- name: roles
  x-displayName: Roles
  description: System and custom roles plus user role assignments.
- name: interactions
  x-displayName: Interactions
  description: Structured requests between users and agents (request information, approval,
    review).
- name: agents
  x-displayName: Agents
  description: Agent identities, sessions, presence, and lifecycle administration.
- name: agent-tools
  x-displayName: Agent Tools
  description: Resolved agent tool manifests for agent invocations.
- name: agent-capabilities
  x-displayName: Agent Tools (Legacy)
  description: Compatibility tag for resolved agent tool manifest operations; prefer agent-tools.
- name: automations
  x-displayName: Automations
  description: Automation definitions, versions, triggers, and durable runs with their event
    streams.
- name: toolkits
  x-displayName: Toolkits
  description: Project-local and system toolkit templates that grant agents access to action
    selectors.
- name: skills
  x-displayName: Skills
  description: Project-local and system skill templates used to shape agent behavior and requested
    tools.
- name: service-accounts
  x-displayName: Service Accounts
  description: Project service accounts used by agents, workers, and automation.
- name: tables
  x-displayName: Tables
  description: Agent-readable and -writable project tables.
- name: artifacts
  x-displayName: Artifacts
  description: Files produced by agents during automation runs and stored for later inspection.
paths:
  /v1/audit-logs:
    get:
      operationId: listOrgAuditLogs
      tags:
      - audit-logs
      summary: List organization audit log entries
      description: |-
        Returns an immutable, append-only log of create/update/delete/archive/restore actions performed against org resources. Each entry attributes the action to a `user_id` (the universal principal) along with the credential used, enabling attribution even when keys are later revoked.

        Combine `user_id` + `resource_type` to audit a specific user's writes to a resource class. Use `created_after` / `created_before` for time-bounded compliance exports.
      parameters:
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: project_id
        in: query
        schema:
          type: string
        description: Filter by project ID
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete, archive, restore)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/audit-logs:
    get:
      operationId: listAuditLogs
      tags:
      - audit-logs
      summary: List project audit log entries
      description: Returns immutable audit log entries for the selected project. Project-pinned
        CLI tokens and service-account API keys can use this route because the project is
        resolved from the path before permission checks run.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete, archive, restore)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create an API key
      description: Creates an API key for a service account in this project. The key authenticates
        as the service account; associated permissions come from that service account's role
        assignments. The raw key value is returned in `key` and is never retrievable again
        after this response.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      description: Returns API keys for this project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/api-keys/{id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get an API key
      description: Returns metadata for a single API key without exposing the raw secret.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: revokeAPIKey
      tags:
      - api-keys
      summary: Revoke an API key
      description: Permanently revokes the key. In-flight requests using this key will immediately
        start receiving 401.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions:
    get:
      operationId: listCatalogActions
      tags:
      - actions
      summary: List the action catalog
      description: 'Returns the full catalog of actions available to this project: project-owned
        HTTP actions and platform-provided integration actions (Slack, GitHub, etc.). The
        `available` flag indicates whether the action can currently be invoked.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create an action
      description: 'Creates a project-scoped HTTP action. `name` is the stable identifier
        used in automation definitions and must be unique within the project. A signing secret
        is generated automatically and returned in the response; this is the only time the
        raw secret is exposed — store it securely. Actions created via this endpoint always
        have `endpoint_kind: http`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - actions
      summary: Get one catalog action by name
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update an action
      description: 'Patches action metadata and schemas. All fields are optional; omitted
        fields are unchanged. Updating `annotations` replaces the entire annotations object
        — pass `null` to clear all annotation flags. Only applicable to `endpoint_kind: http`
        actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete an action
      description: Rejected with 409 if any automation step currently references this action
        by name (`ErrActionInUse`). Remove all references before deleting.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate an action signing secret
      description: 'Generates a new HMAC-SHA256 signing key version for the action. Existing
        deliveries are verified against the version named in their headers; no paired previous-signature
        header is emitted. Store the returned key immediately — it cannot be retrieved again.
        Only applicable to `endpoint_kind: http` actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/action-invocations:
    get:
      operationId: listActionInvocations
      tags:
      - actions
      summary: List action invocation records
      description: Returns per-invocation telemetry records for action executions in the project.
        Each record captures the action name, input parameters, output summary, final status,
        error details, and retry count. Filter by `run_id` to inspect all action calls within
        a single automation run, by `job_id` to scope to a specific job, or by `action_name`
        for cross-run analysis.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific automation run.
        schema:
          type: string
      - name: job_id
        in: query
        description: Filter to invocations from a specific job.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/actions/{action_name}/invocations:
    post:
      operationId: invokeAction
      tags:
      - actions
      summary: Invoke an action
      description: |-
        User-driven invocation of any catalog action. The request waits up to `timeout_seconds` for synchronous completion and returns the output directly on 200.

        - **HTTP-backed** actions (`endpoint_kind: http`) complete inline.

        Worker-fenced invocations from within a job stay at `POST /v1/projects/{p}/jobs/{id}/actions/{name}`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeActionRequest'
      responses:
        '200':
          description: OK — invocation completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
        '202':
          description: Accepted — asynchronous invocation is still active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments:
    get:
      operationId: listEnvironments
      tags:
      - environments
      summary: List environments
      description: Returns project environments visible to the caller, newest-first. Filters
        let clients narrow by provider, lifecycle status, purpose, binding, owner scope, and
        recently destroyed tombstones.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: provider
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentProvider'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentStatus'
      - name: lifetime
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentLifetime'
      - name: environment_mode
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentMode'
      - name: purpose
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentPurpose'
      - name: scope
        in: query
        description: Omit for all/default-scoped environments; use `owner` with `owned_by`
          to list owner-scoped environments.
        schema:
          $ref: '#/components/schemas/ResourceScope'
      - name: owned_by
        in: query
        description: Canonical user owner ID for the environment.
        schema:
          type: string
      - name: bound_to_type
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentBoundToType'
      - name: bound_to_id
        in: query
        schema:
          type: string
      - name: include_destroyed
        in: query
        description: Include destroyed environments in the result. By default destroyed rows
          are excluded; set this to true (or pass status=destroyed) to see them.
        schema:
          type: boolean
          default: false
      - name: destroyed_since
        in: query
        description: Narrow destroyed rows to those torn down at or after this timestamp.
          Composes with `status=destroyed` to fetch a "recently destroyed" tombstone window
          (e.g. last hour). Non-destroyed rows are unaffected when this is combined with the
          default (no-status) view.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createEnvironment
      tags:
      - environments
      summary: Create an environment
      description: Creates a durable execution environment record and provisions it with the
        selected provider. The server resolves scope and ownership before enforcing uniqueness
        for the environment name.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/acquire:
    post:
      operationId: acquireEnvironment
      tags:
      - environments
      summary: Acquire an environment lease
      description: Collection-level acquire creates or claims an environment and creates a
        single active lease. There is intentionally no per-environment acquire endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquireEnvironmentRequest'
      responses:
        '200':
          description: Acquired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAcquireResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/leases/{lease_id}/release:
    post:
      operationId: releaseEnvironmentLease
      tags:
      - environments
      summary: Release an environment lease
      description: Releases a previously acquired environment lease so the environment can
        be reused, retired, or reclaimed by another worker. The released lease snapshot is
        returned for audit and UI state updates.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: lease_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLease'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}:
    get:
      operationId: getEnvironment
      tags:
      - environments
      summary: Get an environment
      description: Returns the current environment record, including provider status, lease
        metadata, ownership, binding, and retention settings.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEnvironment
      tags:
      - environments
      summary: Update environment metadata
      description: Only purpose, retention_policy, scope, owned_by, bound_to_type, bound_to_id,
        and tags are mutable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: destroyEnvironment
      tags:
      - environments
      summary: Destroy an environment
      description: Requests provider teardown for the environment and records the destroyed
        state in Mobius. The response includes the final environment snapshot after the destroy
        request is accepted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: Destroyed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}/reconcile:
    post:
      operationId: reconcileEnvironment
      tags:
      - environments
      summary: Reconcile environment provider state
      description: Refreshes Mobius' environment record from the provider control plane. Use
        this when a UI or operator needs to resynchronize status after an out-of-band provider
        change.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}/exec:
    post:
      operationId: execEnvironment
      tags:
      - environments
      summary: Execute a command inside an environment
      description: Runs a command in the target environment and returns its captured output.
        The environment must be active and able to accept execution requests from the selected
        provider.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecEnvironmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentExecResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/files:
    put:
      operationId: writeEnvironmentFile
      tags:
      - environments
      summary: Write a file into an environment
      description: Writes file content into the environment filesystem. The request is intended
        for setup and repair flows that need to place source files, scripts, or configuration
        before executing work.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteEnvironmentFileRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/workers/start:
    post:
      operationId: startEnvironmentWorker
      tags:
      - environments
      summary: Start a Mobius worker in an environment
      description: Starts or reuses a worker process inside the environment so it can claim
        Mobius jobs. The result reports the worker identity and provider execution details
        needed for follow-up diagnostics.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartEnvironmentWorkerRequest'
      responses:
        '200':
          description: Started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentStartWorkerResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/worker/logs:
    get:
      operationId: getEnvironmentWorkerLogs
      tags:
      - environments
      summary: Get worker logs for an environment
      description: Tails the managed Mobius worker log files from inside the environment.
        The worker filesystem is sandbox-local and treated as diagnostic scratch; clients
        should not use this endpoint as durable artifact storage.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      - name: log_name
        in: query
        description: Named log stream to read. Defaults to stdout.
        schema:
          type: string
          enum:
          - stdout
          - stderr
          - bootstrap
          - worker
          - all
          default: stdout
      - name: tail
        in: query
        description: Maximum number of lines to return from each selected log.
        schema:
          type: integer
          minimum: 1
          maximum: 2000
          default: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentWorkerLogsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/git/credentials:
    post:
      operationId: createEnvironmentGitCredential
      tags:
      - environments
      summary: Mint short-lived Git credentials for an environment
      description: Mints a repository-scoped GitHub App installation token for clone or push
        operations executed inside the environment. Mobius returns the token only in this
        response; the caller must inject it into the environment through a transient askpass/stdin
        flow and remove it before the command exits.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentGitCredentialRequest'
      responses:
        '200':
          description: Minted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentGitCredentialResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/secrets:
    get:
      operationId: listSecrets
      tags:
      - secrets
      summary: List secrets
      description: Returns project secret metadata and key names. Secret values are never
        returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createSecret
      tags:
      - secrets
      summary: Create a secret
      description: Creates a project secret and its first enabled version. `values` must be
        a JSON object whose values are strings. The response returns metadata only; plaintext
        values are not returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/secrets/{secret}:
    get:
      operationId: getSecret
      tags:
      - secrets
      summary: Get a secret
      description: Returns project secret metadata by ID or name. Values are never returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSecret
      tags:
      - secrets
      summary: Update a secret
      description: Updates metadata and optionally creates a new enabled SecretVersion from
        replacement `values`. Omit `values` to update metadata only. Secret values are not
        returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteSecret
      tags:
      - secrets
      summary: Delete a secret
      description: Hard-deletes the secret and its versions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/secrets/{secret}/versions:
    get:
      operationId: listSecretVersions
      tags:
      - secrets
      summary: List secret versions
      description: Lists metadata for all versions of a secret. Values are never returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/secrets/{secret}/versions/{version}:
    get:
      operationId: getSecretVersion
      tags:
      - secrets
      summary: Get secret version metadata
      description: Returns metadata for a specific version. Use `latest` or a positive integer
        version. Values are never returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      - $ref: '#/components/parameters/SecretVersionParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/worker-sessions:
    get:
      operationId: listWorkerSessions
      tags:
      - worker-sessions
      summary: List worker sessions
      description: 'Returns worker sessions registered against the project. Each session''s
        `stale` flag is computed at read time: if `last_seen_at` is older than 2 minutes (or
        absent), the session is considered stale. Stale sessions are retained for display
        until the 30-day retention floor; rows older than that are hard-deleted by a background
        sweeper.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workers/socket:
    get:
      operationId: openWorkerSocket
      tags:
      - jobs
      summary: Open worker WebSocket
      description: Upgrades to the worker WebSocket protocol. Workers authenticate with the
        normal project-scoped credentials, send `worker.register`, then exchange typed JSON
        frames for claim, heartbeat, report, cancellation, and generation streaming.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '101':
          description: WebSocket upgrade accepted.
        '200':
          description: Placeholder response for OpenAPI tooling; successful clients receive
            a 101 upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerSocketFrame'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - projects
      summary: List projects
      description: Returns up to 100 projects. Use `search` for prefix-match filtering by
        name or handle. By default returns active (non-archived) projects; pass `status=archived`
        to see archived projects, or `status=all` to see both.
      parameters:
      - name: search
        in: query
        description: Prefix-match filter applied to project name and handle.
        schema:
          type: string
      - name: status
        in: query
        description: Lifecycle filter. `active` (default) returns non-archived projects; `archived`
          returns archived projects only; `all` returns both.
        schema:
          type: string
          enum:
          - active
          - archived
          - all
          default: active
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createProject
      tags:
      - projects
      summary: Create a project
      description: Creates a project within the authenticated org. If `handle` is omitted
        it is auto-derived from `name` (lowercased, spaces replaced with hyphens). Returns
        409 if the handle already exists in the org.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{id}:
    get:
      operationId: getProject
      tags:
      - projects
      summary: Get a project
      description: Requires the `mobius.project.view` permission for the project.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags:
      - projects
      summary: Update a project
      description: Updates `name`, `description`, and/or `access_mode`. The request also accepts
        `seed_existing_members` when flipping `access_mode` from `org_open` to `restricted`.
        The project handle is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteProject
      tags:
      - projects
      summary: Delete a project
      description: |-
        Permanently deletes the project and all child resources (automations, runs, jobs, triggers, webhooks, interactions, actions, agents, service accounts). This operation is irreversible.

        The project must be archived first; calling delete on an active project returns `409 project_not_archived`. Archive via `POST /v1/projects/{id}/archive`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/features:
    get:
      operationId: listProjectFeatures
      tags:
      - projects
      summary: List effective project feature gates
      description: Returns the server-resolved feature gates for the active project. Results
        combine the built-in default, any org-level override, and any project-level override
        so clients can hide unavailable product areas using the same answer enforced by backend
        handlers.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: Effective feature gates for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureGateListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/archive:
    post:
      operationId: archiveProject
      tags:
      - projects
      summary: Archive a project
      description: 'Soft-retires the project: triggers and scheduled runs stop firing, edits
        are blocked, and the project is hidden from the default listing. In-flight runs are
        allowed to drain. The project can be restored at any time. Idempotent — archiving
        an already-archived project returns the current state.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/restore:
    post:
      operationId: restoreProject
      tags:
      - projects
      summary: Restore an archived project
      description: Clears the archived state and returns the project to active operation.
        Triggers and scheduled runs resume on their next natural fire — there is no catch-up
        backfill of missed fires during the archive window. Idempotent — restoring an active
        project returns the current state.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/config:
    get:
      operationId: getProjectConfig
      tags:
      - projects
      summary: Get project config
      description: Returns the project's stored flat config entries. When the project has
        no stored config, this returns `[]`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigEntries'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateProjectConfig
      tags:
      - projects
      summary: Replace project config
      description: Replaces the project's entire stored config entry set with the provided
        flat list. `PUT []` clears the project config. Reapplying the same payload is a safe
        retry.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigEntries'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigEntries'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProjectConfig
      tags:
      - projects
      summary: Clear project config
      description: Deletes all stored project-layer config so the project inherits service
        defaults for every registered key.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/members:
    get:
      operationId: listProjectMembers
      tags:
      - projects
      summary: List project members
      description: 'Returns the users listed as members of this project. Membership is a pure
        visibility layer: for `restricted` projects only listed members (plus org owners/admins)
        can see or use the project. For `org_open` projects, membership has no visibility
        effect.'
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addProjectMember
      tags:
      - projects
      summary: Add a project member
      description: Adds a user as a project member. The user must already be an org member.
        Add is idempotent — adding an existing member returns the existing row with `200 OK`,
        not `409`. New memberships are returned with `201 Created`.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectMemberRequest'
      responses:
        '200':
          description: OK — member already existed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMember'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{id}/members/{user_id}:
    delete:
      operationId: removeProjectMember
      tags:
      - projects
      summary: Remove a project member
      description: Removes a user from the project members list. On `restricted` projects,
        removing the last remaining member is rejected — flip the project to `org_open` or
        add another member first.
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/user_id'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: Returns all outgoing webhook subscriptions for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: enabled
        in: query
        schema:
          type: boolean
        description: Filter by enabled/disabled state.
      - $ref: '#/components/parameters/TagFilterParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create a webhook
      description: |-
        Creates a new outgoing webhook subscription. Webhook names must be unique within the project. Returns 409 if the name already exists.

        A signing key is generated automatically and returned in the response; this is the only time the raw key is exposed. Rotate it with `POST /webhooks/{id}/secret/rotate` if compromised.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
            example:
              name: Run status sink
              url: https://hooks.example.test/mobius/run-status
              events:
              - run.completed
              - run.failed
              enabled: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: wbh_01hw1t2u3v4w5x6y7z8a9b0c1d
                name: Run status sink
                url: https://hooks.example.test/mobius/run-status
                events:
                - run.completed
                - run.failed
                enabled: true
                secret_ref: mobius/webhook/wbh_01hw1t2u3v4w5x6y7z8a9b0c1d
                secret_version: 1
                signing_secret: base64-encoded-32-byte-key
                created_by: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                created_at: '2026-04-24T14:38:00Z'
                updated_at: '2026-04-24T14:38:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/webhooks/{id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get a webhook
      description: Returns one outgoing webhook subscription and its event filters. The raw
        signing key is never returned after creation or rotation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update a webhook
      description: Updates the webhook name, URL, event subscriptions, enabled state, or tags.
        Signing key rotation is handled by the dedicated rotate endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete a webhook
      description: Deletes the webhook and its delivery history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/secret/rotate:
    post:
      operationId: rotateWebhookSecret
      tags:
      - webhooks
      summary: Rotate a webhook signing secret
      description: Generates a new HMAC-SHA256 signing key version for the webhook. Store
        the returned key immediately — it cannot be retrieved again.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/ping:
    post:
      operationId: pingWebhook
      tags:
      - webhooks
      summary: Test a webhook URL
      description: 'Sends a live test POST request to the webhook''s saved URL, or to an override
        URL supplied in the request body, and returns the result. Because the webhook URL
        may be empty at creation time, the typical flow is: create the webhook without a URL,
        ping candidate URLs via the override until one succeeds, then persist the chosen URL
        with `PATCH`. The test payload has `type: "ping"` and is signed with the webhook''s
        signing key.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingWebhookRequest'
            example:
              url: https://hooks.example.test/mobius/run-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingWebhookResult'
              example:
                success: true
                status_code: 204
                latency_ms: 83
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
      - webhooks
      summary: List webhook deliveries
      description: Lists the delivery history for a webhook, newest first. Each entry records
        the event type, current status, attempt count, and any last error message. Deliveries
        are retried up to 10 times (5xx, 408, 429 are retryable; other 4xx are not). A delivery
        transitions to `failed` only after exhausting all retry attempts.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
              example:
                items:
                - id: whdel_01hw1u2v3w4x5y6z7a8b9c0d1e
                  webhook_id: wbh_01hw1t2u3v4w5x6y7z8a9b0c1d
                  run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                  event_type: run.completed
                  status: delivered
                  attempts: 1
                  created_at: '2026-04-24T14:44:00Z'
                  delivered_at: '2026-04-24T14:44:01Z'
                has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/permissions:
    get:
      operationId: listProjectPermissions
      tags:
      - permissions
      summary: List project permissions
      description: Returns the canonical permission definitions, role presets, and action
        execution permission groups available when building project-scoped roles. Use this
        endpoint to source the permission IDs accepted by the role creation and update endpoints.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCatalogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/roles:
    get:
      operationId: listRoles
      tags:
      - roles
      summary: List roles
      description: Returns system-defined roles plus custom roles scoped to this project.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createRole
      tags:
      - roles
      summary: Create a role
      description: Creates a custom role scoped to the project. Only system-defined roles
        exist at the org/global tier and are created automatically by the platform.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/roles/{id}:
    get:
      operationId: getRole
      tags:
      - roles
      summary: Get a role
      description: Returns a role by ID. Both system-defined and custom roles belonging to
        this project are accessible via this endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRole
      tags:
      - roles
      summary: Update a role
      description: Updates description or permissions of a custom role. Role names are immutable.
        System-defined roles (system_defined=true) cannot be updated and return 403.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteRole
      tags:
      - roles
      summary: Delete a role
      description: Hard-deletes the role and all its assignments. System-defined roles cannot
        be deleted.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/role-assignments:
    get:
      operationId: listRoleAssignments
      tags:
      - roles
      summary: List role assignments
      description: Returns project-scoped assignments optionally filtered by user or role.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: user_id
        in: query
        description: Filter to assignments for a specific user.
        schema:
          type: string
      - name: role_id
        in: query
        description: Filter to assignments for a specific role.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createRoleAssignment
      tags:
      - roles
      summary: Assign a role to a principal user
      description: Binds a role to a principal User in this project. The assignment records
        the creating user in `granted_by_user_id`. To manage service-account roles without
        using the linked principal user ID directly, use `role_ids` on the service-account
        create and update endpoints.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleAssignmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/role-assignments/{id}:
    delete:
      operationId: deleteRoleAssignment
      tags:
      - roles
      summary: Remove a role assignment
      description: Deletes a single role assignment by ID. The underlying role and user are
        not deleted, but the user immediately loses permissions granted only through this
        assignment.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/interactions:
    post:
      operationId: createInteraction
      tags:
      - interactions
      summary: Create an interaction
      description: Creates a standalone or run-backed interaction. When `run_id` is provided,
        completing the interaction enqueues an `interaction.responded` source event that the
        SubscriptionRouter (RFC 064) matches to the run's `interaction` step by `interaction_id`
        — not by signal name. The `signal_name` field is retained for historical request shape
        and audit logging; routing no longer depends on it. Omit both `run_id` and `signal_name`
        for a standalone interaction that completes with no automation-run side effect. Workers
        creating interactions from within a job should use the job-scoped route (`POST /v1/projects/{project}/jobs/{id}/interactions`)
        instead, which derives the run automatically.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInteractionRequest'
            example:
              run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
              signal_name: manager_approval
              target_user_ids:
              - user_2f9s3k4m5n6p7q8r9s0t1u2v3w
              kind: request_approval
              title: Approve publishing the April billing report?
              context:
                report_id: rpt_2026_04
                amount_usd: 12850
              spec:
                mode: confirm
                default_confirmed: false
              require_all: false
              expires_at: '2026-04-25T14:30:00Z'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: int_01hw1r2s3t4u5v6w7x8y9z0a1b
                run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                signal_name: manager_approval
                kind: request_approval
                status: pending
                title: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target_user_ids:
                - user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                expires_at: '2026-04-25T14:30:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listInteractions
      tags:
      - interactions
      summary: List interactions
      description: Returns interactions newest-first, optionally filtered by kind, status,
        run, target, or the current caller's inbox. Inbox filtering includes direct targets.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - completed
          - expired
          - cancelled
        description: Filter by status
      - name: kind
        in: query
        schema:
          $ref: '#/components/schemas/InteractionKind'
        description: Filter by interaction protocol kind
      - name: run_id
        in: query
        schema:
          type: string
        description: Filter by originating run ID
      - name: target_user_id
        in: query
        schema:
          type: string
        description: Filter by resolved target user ID.
      - name: inbox
        in: query
        schema:
          type: boolean
        description: When true, returns only interactions visible to the authenticated user.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/projects/{project}/interactions/{id}:
    get:
      operationId: getInteraction
      tags:
      - interactions
      summary: Get an interaction
      description: Returns one interaction with target, response, and completion metadata.
        Run-backed interactions include the run and signal identifiers used to resume automation
        execution.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteInteraction
      tags:
      - interactions
      summary: Delete an interaction
      description: Soft-deletes an interaction so it disappears from inbox and project listings.
        The row is retained for audit history. Only terminal interactions (`completed`, `cancelled`,
        `expired`) may be deleted; pending or in-review interactions must be cancelled first
        so any waiting automation run can route to a fallback.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/interactions/{id}/respond:
    post:
      operationId: respondToInteraction
      tags:
      - interactions
      summary: Submit a response to an interaction
      description: |-
        Canonical response endpoint for every interaction kind. `action` defaults to `submit`; lifecycle operations beyond submit are not part of the launch model.

        The request body is intentionally the same envelope for every kind: `action`, `value`, and `comment`. Kind-specific behavior is selected from the interaction itself, not from separate request-body shapes.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondToInteractionRequest'
            examples:
              approval:
                summary: Approve an interaction
                value:
                  action: submit
                  value: true
                  comment: Approved for publication.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                id: int_01hw1r2s3t4u5v6w7x8y9z0a1b
                run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                signal_name: manager_approval
                kind: request_approval
                status: completed
                title: Approve publishing the April billing report?
                context:
                  report_id: rpt_2026_04
                  amount_usd: 12850
                spec:
                  mode: confirm
                  default_confirmed: false
                target_user_ids:
                - user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                responder:
                  user_id: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                resolving_response_id: iresp_01hw1r3s3t4u5v6w7x8y9z0c1d
                responses:
                - id: iresp_01hw1r3s3t4u5v6w7x8y9z0c1d
                  interaction_id: int_01hw1r2s3t4u5v6w7x8y9z0a1b
                  response_kind: response
                  state: submitted
                  responder_user_id: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
                  value: true
                  comment: Approved for publication.
                  responded_at: '2026-04-24T14:42:00Z'
                  created_at: '2026-04-24T14:42:00Z'
                  updated_at: '2026-04-24T14:42:00Z'
                outcome: true
                resolved_by: any_of
                expires_at: '2026-04-25T14:30:00Z'
                completed_at: '2026-04-24T14:42:00Z'
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:42:00Z'
                require_all: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/interactions/{id}/cancel:
    post:
      operationId: cancelInteraction
      tags:
      - interactions
      summary: Cancel an open interaction
      description: 'Cancels an open interaction, recording who cancelled and an optional reason.
        Run-backed interactions resume the waiting automation step with a `{status: cancelled,
        reason}` signal payload so automations can route to a fallback. Only humans may cancel
        by default — agents must request cancellation through an interaction.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelInteractionRequest'
            example:
              reason: Superseded by a revised approval request.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create an agent
      description: |-
        Creates an agent bound to a service account. Each service account backs at most one agent — the relationship is 1:1 from the agent's side, and `service_account_id` is immutable after creation (reassigning identity is delete-and-recreate).

        If `service_account_id` is omitted, a new service account is auto-created with the same name as the agent and assigned to back it. Auto-creation requires the caller to hold `mobius.access.manage`. Auto-creation fails if a service account with that name already exists in the project; to bind an existing service account to a new agent, pass `service_account_id` explicitly.

        If `service_account_id` references a service account that already backs another agent, the request is rejected with `409 service_account_already_bound`.

        Optional `role_ids` overrides the role assignments on the auto-created service account. Mutually exclusive with `service_account_id` (an existing SA already carries its own roles). When omitted, the auto-created SA inherits the project's `default_agent_role_id`, falling through to the system `Agent` role floor when unset.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      description: Returns active and inactive agents with computed presence. Soft-deleted
        agents are excluded. Filter by service_account_id to find all agents owned by a specific
        identity.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: service_account_id
        in: query
        description: Filter to agents backed by this service account.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by administrative status (active/inactive), independent of presence.
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/TagFilterParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get an agent
      description: Returns one agent with its administrative status and computed presence.
        Presence is derived from recent presence records, so it may change without the agent
        record itself being updated.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update an agent
      description: Updates mutable agent fields. Setting `status` to `inactive` prevents the
        agent from claiming new jobs but does not terminate active presence records.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete an agent
      description: Soft-deletes the agent by setting `deleted_at`. The agent record is retained
        for audit and attribution history, but the agent is excluded from all listings and
        lookups. The backing service account is disabled. In-flight jobs claiming this agent
        are not automatically cancelled.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/inbox:
    post:
      operationId: provisionAgentInbox
      tags:
      - agents
      summary: Provision email inbox
      description: 'Provisions a dedicated email inbox for the agent. The address is derived
        from the agent ID (`{agentID}@mobiusinbox.com`) and stored on the agent record. Idempotent:
        if an inbox is already provisioned, the existing agent is returned unchanged.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions:
    get:
      operationId: listAgentSessions
      tags:
      - agents
      summary: List conversation sessions for an agent
      description: Returns durable conversation sessions for one agent, newest activity first.
        Remote workers use this to inspect their own remembered conversations.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        description: Filter by session status.
        schema:
          $ref: '#/components/schemas/SessionStatus'
      - name: scope
        in: query
        description: Filter by session scope.
        schema:
          $ref: '#/components/schemas/SessionScope'
      - name: since
        in: query
        description: Only include sessions with activity after this timestamp.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions/{session_id}:
    get:
      operationId: getAgentSession
      tags:
      - agents
      summary: Get a conversation session
      description: Returns one durable conversation session for an agent.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions/{session_id}/messages:
    get:
      operationId: listSessionMessages
      tags:
      - agents
      summary: List conversation session messages
      description: Returns raw session messages in sequence order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      - name: after_sequence
        in: query
        description: Only include messages with sequence greater than this value.
        schema:
          type: integer
          minimum: 0
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: appendSessionMessages
      tags:
      - agents
      summary: Append conversation session messages
      description: Appends one or more messages to a durable session and returns the updated
        session. The service assigns sequence numbers atomically and may append an additional
        compaction summary when the session crosses its compaction threshold.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendSessionMessagesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/sessions/{session_id}/events.stream:
    get:
      operationId: streamSessionEvents
      tags:
      - agents
      summary: Stream live conversation session events
      description: Streams live Server-Sent Events for a conversation session. This is a live
        transport for ephemeral events such as `generation.delta`; durable session transcript
        state remains available from the messages endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: session_id
        in: path
        required: true
        description: Session identifier.
        schema:
          type: string
      responses:
        '200':
          description: SSE stream of live session events.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/agents/{id}/toolkits:
    get:
      operationId: listToolkitAssignments
      tags:
      - agents
      summary: List assigned toolkits
      description: Returns the toolkits assigned to an agent in assignment order.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolkitAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: replaceToolkits
      tags:
      - agents
      summary: Replace assigned toolkits
      description: Replaces the agent's toolkit assignment set as a whole. The effective tool
        surface is the union of assigned toolkit grants intersected with service-account permissions
        and any per-invocation narrowing.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceToolkitsRequest'
      responses:
        '200':
          description: OK
[...]
