openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is a work coordination platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
tags:
- name: channels
  x-displayName: channels
- name: audit-logs
  x-displayName: audit-logs
- name: api-keys
  x-displayName: api-keys
- name: auth
  x-displayName: auth
- name: workflows
  x-displayName: workflows
- name: runs
  x-displayName: runs
- name: actions
  x-displayName: actions
- name: jobs
  x-displayName: jobs
- name: triggers
  x-displayName: triggers
- name: workers
  x-displayName: workers
- name: namespaces
  x-displayName: namespaces
- name: webhooks
  x-displayName: webhooks
- name: integrations
  x-displayName: integrations
- name: roles
  x-displayName: roles
- name: interactions
  x-displayName: interactions
- name: slack
  x-displayName: slack
- name: groups
  x-displayName: groups
- name: agents
  x-displayName: agents
- name: tools
  x-displayName: tools
paths:
  /channels:
    post:
      operationId: createChannel
      tags:
      - channels
      summary: Create a channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listChannels
      tags:
      - channels
      summary: List channels
      parameters:
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - dm
          - channel
        description: Filter by channel kind
      - name: private
        in: query
        schema:
          type: boolean
        description: Filter by private flag
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /channels/{id}:
    get:
      operationId: getChannel
      tags:
      - channels
      summary: Get a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannel
      tags:
      - channels
      summary: Update a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteChannel
      tags:
      - channels
      summary: Delete a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /channels/{id}/members:
    get:
      operationId: listChannelMembers
      tags:
      - channels
      summary: List channel members
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addChannelMember
      tags:
      - channels
      summary: Add a member to a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/AddChannelMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /channels/{id}/members/{userId}:
    delete:
      operationId: removeChannelMember
      tags:
      - channels
      summary: Remove a member from a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /channels/{id}/messages:
    get:
      operationId: listChannelMessages
      tags:
      - channels
      summary: List messages in a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: sender_id
        in: query
        schema:
          type: string
        description: Filter by sender
      - name: reply_to
        in: query
        schema:
          type: string
        description: Filter to replies of a specific message
      - name: pinned
        in: query
        schema:
          type: boolean
        description: Filter by pinned status
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendChannelMessage
      tags:
      - channels
      summary: Send a message to a channel
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/SendChannelMessageRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /channels/{id}/messages/{messageId}:
    get:
      operationId: getChannelMessage
      tags:
      - channels
      summary: Get a specific message
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: messageId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannelMessage
      tags:
      - channels
      summary: Update a channel message
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: messageId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateChannelMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /audit-logs:
    get:
      operationId: listAuditLogs
      tags:
      - audit-logs
      summary: List audit log entries
      parameters:
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: actor_type
        in: query
        schema:
          type: string
        description: Filter by actor type
      - name: actor_id
        in: query
        schema:
          type: string
        description: Filter by actor ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api-keys:
    post:
      operationId: createAPIKey
      tags:
      - api-keys
      summary: Create an API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateAPIKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResultDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listAPIKeys
      tags:
      - api-keys
      summary: List API keys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api-keys/{id}:
    get:
      operationId: getAPIKey
      tags:
      - api-keys
      summary: Get an API key
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: revokeAPIKey
      tags:
      - api-keys
      summary: Revoke an API key
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/device/confirm:
    post:
      operationId: confirmDeviceCode
      tags:
      - auth
      summary: Confirm a browser-based CLI login flow from the signed-in app
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/ConfirmDeviceCodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmDeviceCodeResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
  /cli-credentials:
    get:
      operationId: listCLICredentials
      tags:
      - auth
      summary: List browser-issued CLI credentials for the current user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLICredentialListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /cli-credentials/{id}:
    delete:
      operationId: revokeCLICredential
      tags:
      - auth
      summary: Revoke one browser-issued CLI credential
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/workflows:
    get:
      operationId: listWorkflows
      tags:
      - workflows
      summary: List workflow definitions
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWorkflow
      tags:
      - workflows
      summary: Create a workflow definition
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateWorkflowRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{ns}/workflows/{id}:
    get:
      operationId: getWorkflow
      tags:
      - workflows
      summary: Get a workflow definition (with its latest version spec)
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWorkflow
      tags:
      - workflows
      summary: Update a workflow definition (new spec creates a new version)
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateWorkflowRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWorkflow
      tags:
      - workflows
      summary: Delete a workflow definition
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/workflows/{id}/versions:
    get:
      operationId: listWorkflowVersions
      tags:
      - workflows
      summary: List versions of a workflow definition
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/workflows/{id}/runs:
    get:
      operationId: listWorkflowRuns
      tags:
      - workflows
      - runs
      summary: List runs for a workflow definition
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: startWorkflowRun
      tags:
      - workflows
      - runs
      summary: Start a new workflow run (enqueue)
      description: 'Enqueues a workflow run. Supports an `Idempotency-Key`

        header: when present, the first successful run is cached

        for 24h and subsequent calls with the same key return the

        original run instead of creating a new one.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/StartRunRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs:
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List workflow runs in a namespace
      description: 'Supports cursor-based pagination and keyset filtering by

        status, workflow type, queue, parent run, and

        initiator. Returns `{data, next_cursor?}`; pass `next_cursor`

        back in the next call to walk the result set.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/WorkflowRunStatus'
      - name: workflow_type
        in: query
        schema:
          type: string
      - name: queue
        in: query
        schema:
          type: string
      - name: parent_run_id
        in: query
        schema:
          type: string
      - name: initiated_by
        in: query
        schema:
          type: string
      - name: external_id
        in: query
        schema:
          type: string
      - name: group
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /namespaces/{ns}/runs/cancellations:
    post:
      operationId: bulkCancelRuns
      tags:
      - runs
      summary: Request cancellation for a batch of runs
      description: 'Sets `cancel_requested` on every run in the request body.

        Per-run errors are reported inline so callers can see

        partial success.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/BulkRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkRunDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /namespaces/{ns}/runs/retries:
    post:
      operationId: bulkRetryRuns
      tags:
      - runs
      summary: Re-enqueue a batch of failed runs
      description: 'Flips every listed failed run back to queued with its

        error message cleared. Per-run errors are reported inline.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/BulkRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkRunDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /namespaces/{ns}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get a workflow run (including spec and run state blobs)
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunDetailDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs/{id}/action-log:
    get:
      operationId: getRunActionLog
      tags:
      - runs
      summary: Get the append-only action log for a run
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs/{id}/jobs:
    get:
      operationId: getRunJobs
      tags:
      - runs
      summary: Get workflow jobs for a run
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs/events:
    get:
      operationId: streamNamespaceRunEvents
      tags:
      - runs
      summary: Subscribe to a namespace-wide stream of run events (SSE)
      description: 'Opens a Server-Sent Events connection. Each frame carries a

        JSON envelope `{type, run_id, seq, timestamp, data}` where

        `type` is one of `run_updated`, `job_updated`, or

        `action_appended`, and `seq` is a monotonic durable

        cursor.


        Pass `?since=<seq>` on reconnect to replay any durable

        events the server has recorded past that cursor before

        switching back to live updates; clients should record the

        largest `seq` they have observed. Comment frames

        (`:keepalive`) are emitted every ~15s to keep intermediaries

        from closing the connection.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: since
        in: query
        description: Durable event seq cursor to replay from.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /namespaces/{ns}/runs/{id}/cancellations:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Request cancellation of an in-flight run
      description: 'Sets the cancel_requested flag on the run. The next heartbeat

        response includes `directives.should_cancel: true`, and the

        worker is expected to drop the run cooperatively.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs/{id}/resumptions:
    post:
      operationId: resumeRun
      tags:
      - runs
      summary: Flip a suspended run back to queued
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs/{id}/signals:
    post:
      operationId: sendRunSignal
      tags:
      - runs
      summary: Deliver a signal to a suspended run
      description: 'Durably enqueues a signal keyed by (run_id, name). If the run

        is currently suspended waiting on that topic it is flipped

        back to queued so the next poll picks it up. Otherwise the

        signal sits in the store until a future suspended branch

        receives it.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/SendRunSignalRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSignalDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/runs/{id}/events:
    get:
      operationId: streamRunEvents
      tags:
      - runs
      summary: Subscribe to a stream of events for a single run (SSE)
      description: 'Same envelope as `/namespaces/{ns}/runs/events` but filtered to
        a single run.

        The server writes one seed `run_updated` frame on connection

        so reconnects do not miss the latest state, and supports

        `?since=<seq>` replay for durable events recorded since the

        given seq cursor.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since
        in: query
        description: Durable event seq cursor to replay from.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /actions:
    get:
      operationId: listActions
      tags:
      - actions
      summary: List custom actions in the org
      parameters:
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomActionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create a custom action in the org
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateCustomActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomActionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /actions/{actionName}:
    get:
      operationId: getAction
      tags:
      - actions
      summary: Get a custom action by name
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomActionDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update a custom action
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateCustomActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomActionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete a custom action
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /actions/{actionName}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate a custom action signing secret
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /action-audit-log:
    get:
      operationId: listActionAuditLog
      tags:
      - actions
      summary: List action invocation audit records
      parameters:
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        schema:
          type: string
      - name: action_name
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionAuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /actions/catalog:
    get:
      operationId: listCatalogActions
      tags:
      - actions
      summary: List platform and custom actions available in the org
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /actions/catalog/{actionName}:
    get:
      operationId: getCatalogAction
      tags:
      - actions
      summary: Get one catalog action by name
      parameters:
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/jobs/claim:
    post:
      operationId: claimJob
      tags:
      - jobs
      summary: Long-poll for the next claimable workflow job
      description: 'Atomically claims the next pending workflow job whose queue name
        is

        in the worker''s `queues` subscription and whose action is in the

        worker''s `actions` filter when provided. If no job is immediately

        available and

        `wait_seconds > 0`, the server holds the request open for up

        to `wait_seconds` (capped at 30). Returns 204 when the poll

        window closes empty.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/JobClaimRequest'
      responses:
        '200':
          description: Job claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobClaimDataResponse'
        '204':
          description: No jobs available within the poll window
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/jobs/{id}/heartbeat:
    post:
      operationId: heartbeatJob
      tags:
      - jobs
      summary: Refresh the lease on a claimed workflow job
      description: 'Returns a small JSON envelope rather than 204 so the server can

        attach directives (cancel signals, configuration changes, etc.)

        to the heartbeat response without another round of API churn.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/JobFenceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobHeartbeatDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{ns}/jobs/{id}/complete:
    post:
      operationId: completeJob
      tags:
      - jobs
      summary: Report terminal status for a claimed workflow job
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/JobCompleteRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{ns}/jobs/{id}/interactions:
    post:
      operationId: createJobInteraction
      tags:
      - jobs
      summary: Create a human-in-the-loop interaction from a claimed workflow job
      description: 'Job-scoped form of interaction creation for the step-claim runtime.

        The job is used to derive the owning run and enforce namespace

        scoping before creating the interaction.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateJobInteractionRequest'
      responses:
        '201':
          description: Interaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{ns}/jobs/{id}/actions/{actionName}:
    post:
      operationId: runJobAction
      tags:
      - jobs
      summary: Execute one server-side action for a claimed workflow job
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/RunActionRequest'
      responses:
        '200':
          description: Action executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunActionResultDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/triggers:
    get:
      operationId: listTriggers
      tags:
      - triggers
      summary: List triggers in the namespace
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: kind
        in: query
        schema:
          $ref: '#/components/schemas/TriggerKind'
      - name: enabled
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createTrigger
      tags:
      - triggers
      summary: Create a trigger
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateTriggerRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/triggers/{id}:
    get:
      operationId: getTrigger
      tags:
      - triggers
      summary: Get a trigger by id
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTrigger
      tags:
      - triggers
      summary: Update a trigger
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateTriggerRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTrigger
      tags:
      - triggers
      summary: Delete a trigger
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/triggers/{id}/fires:
    get:
      operationId: listTriggerFires
      tags:
      - triggers
      summary: List fire history for a trigger
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/TriggerFireStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerFireListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/workers:
    get:
      operationId: listWorkers
      tags:
      - workers
      summary: List recently seen workers in the namespace
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces:
    get:
      operationId: listNamespaces
      tags:
      - namespaces
      summary: List namespaces in the org
      parameters:
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNamespace
      tags:
      - namespaces
      summary: Create a namespace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateNamespaceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{id}:
    get:
      operationId: getNamespace
      tags:
      - namespaces
      summary: Get a namespace by id
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateNamespace
      tags:
      - namespaces
      summary: Update a namespace
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateNamespaceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteNamespace
      tags:
      - namespaces
      summary: Delete a namespace
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/webhooks:
    get:
      operationId: listWebhooks
      tags:
      - webhooks
      summary: List webhooks
      description: 'Lists the managed webhook endpoints in the namespace. Each webhook
        is an

        inbound endpoint hosted by Mobius.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: enabled
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWebhook
      tags:
      - webhooks
      summary: Create webhook
      description: 'Creates a managed inbound webhook endpoint for the namespace and
        returns

        its `receive_url`.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{ns}/webhooks/{id}:
    get:
      operationId: getWebhook
      tags:
      - webhooks
      summary: Get webhook
      description: 'Returns one managed inbound webhook endpoint by ID.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhook
      tags:
      - webhooks
      summary: Update webhook
      description: 'Updates a managed inbound webhook endpoint. This can rename the
        webhook,

        enable or disable it, or rotate its shared secret.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWebhook
      tags:
      - webhooks
      summary: Delete webhook
      description: 'Deletes a managed inbound webhook endpoint and its configuration.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/webhooks/{id}/events:
    get:
      operationId: listWebhookEvents
      tags:
      - webhooks
      summary: List webhook events
      description: 'Lists inbound requests previously received by the managed webhook

        endpoint.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/WebhookEventStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEventListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations:
    get:
      operationId: listIntegrations
      tags:
      - integrations
      summary: List integrations in the org
      parameters:
      - name: provider
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/IntegrationStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createIntegration
      tags:
      - integrations
      summary: Create an integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateIntegrationRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /integrations/{id}:
    get:
      operationId: getIntegration
      tags:
      - integrations
      summary: Get an integration by id
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateIntegration
      tags:
      - integrations
      summary: Update an integration
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateIntegrationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteIntegration
      tags:
      - integrations
      summary: Delete an integration
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /roles:
    get:
      operationId: listRoles
      tags:
      - roles
      summary: List roles
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
    post:
      operationId: createRole
      tags:
      - roles
      summary: Create a custom role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '409':
          $ref: '#/components/responses/Conflict'
  /roles/{id}:
    get:
      operationId: getRole
      tags:
      - roles
      summary: Get a role
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRole
      tags:
      - roles
      summary: Update a custom role
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteRole
      tags:
      - roles
      summary: Delete a custom role
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
  /role-assignments:
    get:
      operationId: listRoleAssignments
      tags:
      - roles
      summary: List role assignments
      parameters:
      - name: actor_type
        in: query
        schema:
          type: string
          enum:
          - user
          - service_account
      - name: actor_id
        in: query
        schema:
          type: string
      - name: role_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
    post:
      operationId: createRoleAssignment
      tags:
      - roles
      summary: Create a role assignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateRoleAssignmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /role-assignments/{id}:
    delete:
      operationId: deleteRoleAssignment
      tags:
      - roles
      summary: Delete a role assignment
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/interactions:
    post:
      operationId: createInteraction
      tags:
      - interactions
      summary: Create an interaction explicitly
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateInteractionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listInteractions
      tags:
      - interactions
      summary: List interactions
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - completed
          - expired
        description: Filter by status
      - name: run_id
        in: query
        schema:
          type: string
        description: Filter by originating run ID
      - name: target_actor_type
        in: query
        schema:
          type: string
          enum:
          - member
          - agent
          - group
        description: Filter by target actor type
      - name: target_actor_id
        in: query
        schema:
          type: string
        description: Filter by target actor ID
      - name: inbox
        in: query
        schema:
          type: boolean
        description: When true, returns only interactions visible to the authenticated
          user (direct + group membership)
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /namespaces/{ns}/interactions/{id}:
    get:
      operationId: getInteraction
      tags:
      - interactions
      summary: Get an interaction
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/interactions/{id}/respond:
    post:
      operationId: respondToInteraction
      tags:
      - interactions
      summary: Submit a response to an interaction
      description: 'Canonical interaction response endpoint for both human responders
        and

        agent workers. When the authenticated request is not associated with a

        member user and the interaction targets an agent queue, the server

        attributes the response to that target agent automatically.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/RespondToInteractionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /namespaces/{ns}/interactions/{id}/claim:
    post:
      operationId: claimInteraction
      tags:
      - interactions
      summary: Claim a pending first-responder group interaction
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/interactions/{id}/release:
    post:
      operationId: releaseInteraction
      tags:
      - interactions
      summary: Release a claimed first-responder group interaction
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/slack/connect:
    post:
      operationId: startSlackInstall
      tags:
      - slack
      summary: Start Slack connection flow
      description: 'Generates a signed state token and returns the Slack OAuth authorize
        URL.

        The caller should redirect the user''s browser to the returned URL.

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackInstallDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /integrations/slack/disconnect:
    post:
      operationId: disconnectSlack
      tags:
      - slack
      summary: Disconnect Slack integration
      description: 'Revokes the Slack bot token and deletes the integration record.

        Clears all active alert state for the org.

        '
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /provider/slack/oauth/callback:
    get:
      operationId: slackOAuthCallback
      tags:
      - slack
      summary: Slack OAuth callback
      description: 'Handles the Slack OAuth redirect. Validates state, exchanges the
        code

        for a bot token, and upserts the Slack integration for the org.

        Redirects to the Slack settings page on success.

        '
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: error
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OAuth callback handled without redirect
        '302':
          description: Redirect to settings page
        '400':
          $ref: '#/components/responses/BadRequest'
  /provider/slack/events:
    post:
      operationId: handleSlackEvents
      tags:
      - slack
      summary: Slack Events API webhook
      description: 'Receives Slack Events API callbacks (URL verification, app_uninstalled,

        tokens_revoked). Requires valid Slack request signature.

        '
      responses:
        '200':
          description: OK
        '401':
          description: Invalid signature
  /provider/slack/interactions:
    post:
      operationId: handleSlackInteract
      tags:
      - slack
      summary: Slack interactive component webhook
      description: 'Receives Slack interactive payloads (block_actions, view_submission).

        Requires valid Slack request signature.

        '
      responses:
        '200':
          description: OK
        '401':
          description: Invalid signature
  /provider/slack/commands:
    post:
      operationId: handleSlackCommands
      tags:
      - slack
      summary: Slack slash command webhook
      description: 'Receives /mobius slash command payloads.

        Requires valid Slack request signature.

        '
      responses:
        '200':
          description: OK
        '401':
          description: Invalid signature
  /groups:
    post:
      operationId: createGroup
      tags:
      - groups
      summary: Create a group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listGroups
      tags:
      - groups
      summary: List groups in an org
      parameters:
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWithCountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /groups/{groupId}:
    get:
      operationId: getGroup
      tags:
      - groups
      summary: Get a group with member count
      parameters:
      - $ref: '#/components/parameters/GroupIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWithCountDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateGroup
      tags:
      - groups
      summary: Update a group
      parameters:
      - $ref: '#/components/parameters/GroupIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateGroupRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteGroup
      tags:
      - groups
      summary: Delete a group
      description: Rejected if any pending interaction targets this group.
      parameters:
      - $ref: '#/components/parameters/GroupIDParam'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /groups/{groupId}/members:
    get:
      operationId: listGroupMembers
      tags:
      - groups
      summary: List members of a group
      parameters:
      - $ref: '#/components/parameters/GroupIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addGroupMember
      tags:
      - groups
      summary: Add a member to a group
      parameters:
      - $ref: '#/components/parameters/GroupIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/AddGroupMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /groups/{groupId}/members/{userId}:
    delete:
      operationId: removeGroupMember
      tags:
      - groups
      summary: Remove a member from a group
      parameters:
      - $ref: '#/components/parameters/GroupIDParam'
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /members/{userId}/groups:
    get:
      operationId: listMemberGroups
      tags:
      - groups
      summary: List groups a member belongs to
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agents:
    post:
      operationId: createAgent
      tags:
      - agents
      summary: Create an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listAgents
      tags:
      - agents
      summary: List agents
      parameters:
      - name: service_account_id
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/AgentStatus'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agents/{id}:
    get:
      operationId: getAgent
      tags:
      - agents
      summary: Get an agent
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAgent
      tags:
      - agents
      summary: Update an agent
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAgent
      tags:
      - agents
      summary: Delete an agent
      parameters:
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /agents/{id}/sessions:
    post:
      operationId: createAgentSession
      tags:
      - agents
      summary: Create an agent session
      parameters:
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/CreateAgentSessionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listAgentSessions
      tags:
      - agents
      summary: List sessions for an agent
      parameters:
      - $ref: '#/components/parameters/IDParam'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/AgentSessionStatus'
      - name: transport
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /agents/sessions/{sessionId}:
    get:
      operationId: getAgentSession
      tags:
      - agents
      summary: Get an agent session
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /agents/sessions/{sessionId}/heartbeat:
    post:
      operationId: heartbeatAgentSession
      tags:
      - agents
      summary: Heartbeat an agent session
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /agents/sessions/{sessionId}/disconnect:
    post:
      operationId: disconnectAgentSession
      tags:
      - agents
      summary: Disconnect an agent session
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /tools:
    get:
      operationId: listTools
      tags:
      - tools
      summary: List tool-published workflows
      description: 'Returns all workflow definitions that have been published as tools

        for the authenticated org. Each entry includes the tool name,

        description, and JSON Schema for the input — compatible with the

        Anthropic and OpenAI tool use APIs.

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /namespaces/{ns}/tools/{slug}/runs:
    post:
      operationId: runTool
      tags:
      - tools
      summary: Invoke a workflow tool
      description: 'Starts a workflow run for the named tool (workflow slug) and waits

        for it to complete up to `timeout_seconds` (default 30s, max 120s).

        Returns the run output directly when the workflow completes within

        the timeout. On timeout the response includes the run ID and

        `status: pending` so the caller can switch to polling via

        `GET /namespaces/{ns}/tools/{slug}/runs/{run_id}`.

        '
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  $ref: '#/components/schemas/ToolRunRequest'
      responses:
        '200':
          description: OK — run completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRunDataResponse'
        '202':
          description: Accepted — run is pending; poll for result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRunDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /namespaces/{ns}/tools/{slug}/runs/{runId}:
    get:
      operationId: getToolRun
      tags:
      - tools
      summary: Poll for the result of an async tool run
      parameters:
      - $ref: '#/components/parameters/NamespaceSlugParam'
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: runId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRunDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token
  parameters:
    NamespaceSlugParam:
      name: ns
      in: path
      required: true
      schema:
        type: string
      description: Namespace slug (unique per organization)
    IDParam:
      name: id
      in: path
      required: true
      schema:
        type: string
    ActionNameParam:
      name: actionName
      in: path
      required: true
      schema:
        type: string
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination (opaque string from previous response)
      schema:
        type: string
    LimitParam:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 200
    GroupIDParam:
      name: groupId
      in: path
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NoContent:
      description: No Content
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
    HealthResponse:
      type: object
      required:
      - status
      properties:
        status:
          type: string
    Metadata:
      type: object
      additionalProperties: true
    Channel:
      type: object
      required:
      - id
      - name
      - display_name
      - kind
      - private
      - created_by
      - created_at
      - updated_at
      properties:
        id:
          type: string
        name:
          type: string
          description: Channel slug (unique within org)
        display_name:
          type: string
          description: Human-facing display name
        topic:
          type: string
          description: Channel topic or description
        kind:
          type: string
          enum:
          - dm
          - channel
          description: Channel type
        private:
          type: boolean
          description: Whether the channel is private
        created_by:
          type: string
          description: ID of the user who created the channel
        archived_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the channel was archived
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ChannelDataResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Channel'
    ChannelListResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
        has_more:
          type: boolean
        next_cursor:
          type: string
    ChannelMember:
      type: object
      required:
      - id
      - channel_id
      - user_id
      - role
      - joined_at
      properties:
        id:
          type: string
        channel_id:
          type: string
        user_id:
          type: string
        role:
          type: string
          enum:
          - member
          - admin
          description: Member's role in the channel
        last_read_message_id:
          type: string
          nullable: true
          description: Last message read by this member
        muted:
          type: boolean
          description: Whether notifications are muted
        starred:
          type: boolean
          description: Whether the member has starred this channel
        joined_at:
          type: string
          format: date-time
    ChannelMemberDataResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ChannelMember'
    ChannelMemberListResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChannelMember'
        has_more:
          type: boolean
        next_cursor:
          type: string
    ChannelMessage:
      type: object
      required:
      - id
      - channel_id
      - sender_id
      - type
      - content
      - created_at
      properties:
        id:
          type: string
        channel_id:
          type: string
        sender_id:
          type: string
          description: ID of the message sender (user or agent)
        display:
          type: string
          enum:
          - message
          - notice
          - card
          description: Rendering layout mode
        type:
          type: string
          description: Dot-namespaced message type (e.g. user.message, ai.response)
        content:
          type: string
          description: Message content (markdown)
        reply_to:
          type: string
          nullable: true
          description: ID of the message this is a reply to (threading)
        metadata:
          $ref: '#/components/schemas/Metadata'
        pinned:
          type: boolean
          description: Whether this message is pinned
        pinned_by:
          type: string
          nullable: true
          description: ID of user who pinned this message
        edited_at:
          type: string
          format: date-time
          nullable: true
          description: When the message was last edited
        created_at:
          type: string
          format: date-time
    ChannelMessageDataResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ChannelMessage'
    ChannelMessageListResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChannelMessage'
        has_more:
          type: boolean
        next_cursor:
          type: string
    CreateChannelRequest:
      type: object
      required:
      - name
      - display_name
      - kind
      properties:
        name:
          type: string
          description: Channel slug (unique, immutable)
        display_name:
          type: string
          description: Human-facing display name
        topic:
          type: string
          description: Channel topic or description
        kind:
          type: string
          enum:
          - dm
          - channel
          description: Channel type
        private:
          type: boolean
          default: false
          description: Whether the channel is private (invite-only)
        member_ids:
          type: array
          items:
            type: string
          description: Initial member IDs to add to the channel
    UpdateChannelRequest:
      type: object
      properties:
        display_name:
          type: string
        topic:
          type: string
        private:
          type: boolean
    AddChannelMemberRequest:
      type: object
      required:
      - user_id
      properties:
        user_id:
          type: string
          description: User or agent ID to add
        role:
          type: string
          enum:
          - member
          - admin
          default: member
    SendChannelMessageRequest:
      type: object
      required:
      - content
      properties:
        content:
          type: string
          description: Message content (markdown)
        display:
          type: string
          enum:
          - message
          - notice
          - card
          default: message
          description: Rendering layout mode
        type:
          type: string
          default: user.message
          description: Dot-namespaced message type
        reply_to:
          type: string
          description: Parent message ID for threading
        metadata:
          $ref: '#/components/schemas/Metadata'
    UpdateChannelMessageRequest:
      type: object
      properties:
        content:
          type: string
          description: Updated message content (markdown)
        metadata:
          $ref: '#/components/schemas/Metadata'
        pinned:
          type: boolean
          description: Whether this message is pinned
    AuditLogEntry:
      type: object
      required:
      - id
      - action
      - resource_type
      - resource_id
      - created_at
      properties:
        id:
          type: string
          description: Unique audit log entry ID
        user_id:
          type: string
          description: ID of the user who performed the action, when a human user
            is attributable
        actor_type:
          type: string
          description: Durable actor type that performed the action
        actor_id:
          type: string
          description: Durable actor ID that performed the action
        credential_id:
          type: string
          description: Credential ID used for the request, when applicable
        action:
          type: string
          enum:
          - create
          - update
          - delete
          description: Type of action performed
        resource_type:
          type: string
[...]
