openapi: 3.0.3
info:
  title: mobius API
  version: 0.1.0
  description: Mobius is a work coordination platform for mixed teams of humans, systems,
    and AI agents
servers:
- url: https://api.mobiusops.ai
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- BearerAuth: []
tags:
- name: channels
  x-displayName: Channels
  description: 'Project channels: container records, membership, archive state.'
- name: messages
  x-displayName: Messages
  description: 'Channel messages: send, list, get, update, and mark-read.'
- name: audit-logs
  x-displayName: Audit Logs
  description: Immutable audit records for security-sensitive project and organization activity.
- name: workflows
  x-displayName: Workflows
  description: Versioned workflow definitions and their executable specifications.
- name: runs
  x-displayName: Runs
  description: Workflow run lifecycle, events, signals, jobs, and runtime inspection.
- name: events
  x-displayName: Events
  description: Events API operations.
- name: actions
  x-displayName: Actions
  description: Project and catalog actions invoked by workflow steps.
- name: environments
  x-displayName: Environments
  description: Environments API operations.
- name: secrets
  x-displayName: Secrets
  description: Secrets API operations.
- name: references
  x-displayName: References
  description: References API operations.
- name: jobs
  x-displayName: Jobs
  description: Worker protocol endpoints for claiming, heartbeating, completing, and instrumenting
    step jobs.
- name: triggers
  x-displayName: Triggers
  description: Automated workflow starts from schedules, inbound webhooks, and platform events.
- name: worker-sessions
  x-displayName: Worker Sessions
  description: Recently seen worker sessions and their advertised capabilities.
- name: projects
  x-displayName: Projects
  description: Project records, membership, defaults, and project-scoped configuration.
- name: generate
  x-displayName: Generate
  description: Generate API operations.
- name: webhooks
  x-displayName: Webhooks
  description: Outgoing webhook subscriptions, tests, and delivery history.
- name: integration-providers
  x-displayName: Integration Providers
  description: Integration Providers API operations.
- name: metrics
  x-displayName: Metrics
  description: Project operational metrics for workflow and worker activity.
- name: interactions
  x-displayName: Interactions
  description: Human-in-the-loop requests, responses, and group routing.
- name: notification-preferences
  x-displayName: Notification Preferences
  description: Per-actor delivery defaults applied when an interaction does not override them
    (PRD 077).
- name: groups
  x-displayName: Groups
  description: Project groups, membership, and group interaction routing policy.
- name: agents
  x-displayName: Agents
  description: Agent identities, sessions, presence, and lifecycle administration.
- name: agent-capabilities
  x-displayName: Agent Capabilities
  description: Agent Capabilities API operations.
- name: actor-state
  x-displayName: Actor State
  description: Actor State API operations.
- name: presence
  x-displayName: Presence
  description: Presence API operations.
- name: team
  x-displayName: Team
  description: Team API operations.
- name: spans
  x-displayName: Spans
  description: Spans API operations.
- name: logs
  x-displayName: Logs
  description: Logs API operations.
- name: tables
  x-displayName: Tables
  description: Tables API operations.
- name: artifacts
  x-displayName: Artifacts
  description: Artifacts API operations.
- name: observables
  x-displayName: Observables
  description: Observables API operations.
paths:
  /v1/projects/{project}/channels:
    post:
      operationId: createChannel
      tags:
      - channels
      summary: Create a channel
      description: Creates a new channel or DM thread. The channel `name` must be URL-safe
        and unique within the project — it is immutable after creation. The creator is automatically
        added as an admin member. Supply `member_ids` to seed initial membership atomically.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      operationId: listChannels
      tags:
      - channels
      summary: List channels
      description: Returns channels in the project, optionally filtered by kind or visibility.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - dm
          - channel
        description: Filter by channel kind.
      - name: private
        in: query
        schema:
          type: boolean
        description: Filter by private flag.
      - $ref: '#/components/parameters/TagFilterParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/channels/{id}:
    get:
      operationId: getChannel
      tags:
      - channels
      summary: Get a channel
      description: Returns channel metadata for the given ID. Membership and messages are
        exposed through their own endpoints so callers can fetch only the detail they need.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateChannel
      tags:
      - channels
      summary: Update a channel
      description: Updates `display_name`, `topic`, `private`, or `archived_at`. The `name`
        (handle) is immutable and cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteChannel
      tags:
      - channels
      summary: Delete a channel
      description: Hard-deletes the channel and its message history.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/members:
    get:
      operationId: listChannelMembers
      tags:
      - channels
      summary: List channel members
      description: Returns the current live membership of the channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addChannelMember
      tags:
      - channels
      summary: Add a member to a channel
      description: Adds a user or agent to the channel. Returns 409 if already a member.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChannelMemberRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/channels/{id}/members/{member_id}:
    delete:
      operationId: removeChannelMember
      tags:
      - channels
      summary: Remove a member from a channel
      description: Removes a user or agent from the channel's live membership. Existing messages
        remain attributed to the removed member, and removing a member does not revoke project-level
        access outside this channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/member_id'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/interactions:
    get:
      operationId: listChannelInteractions
      tags:
      - channels
      summary: List channel interaction links
      description: Returns interactions associated with this channel. Purpose links mean the
        channel exists to resolve those interactions and can drive channel completion behavior.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: relation
        in: query
        schema:
          type: string
          enum:
          - purpose
          - context
          - followup
        description: Filter by association relation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionLinkListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: associateChannelInteraction
      tags:
      - channels
      summary: Associate an interaction with a channel
      description: Associates an existing same-project interaction with the channel. When
        `relation` is `purpose`, the interaction participates in the channel's purpose completion
        rule.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateChannelInteractionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/channels/{id}/interactions/{interaction_id}:
    delete:
      operationId: removeChannelInteraction
      tags:
      - channels
      summary: Remove a channel interaction association
      description: Removes an interaction association from a channel.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
        description: Interaction ID to unlink.
      - name: relation
        in: query
        schema:
          type: string
          enum:
          - purpose
          - context
          - followup
          default: purpose
        description: Relation to remove. Defaults to `purpose`.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/messages:
    get:
      operationId: listMessages
      tags:
      - messages
      summary: List messages in a channel
      description: |-
        Returns messages in reverse chronological order (newest first). Use `reply_to` to fetch a thread. Use `cursor` for pagination.

        Agent loop helpers (PRD 048 §6):
        - `since=<msg-id>` returns messages strictly newer than the given id
        in chronological order (oldest first), so an agent can stream them
        forward through its turn handler.
        - `unread=true` is shorthand for `since=<my last_read_message_id>`.
        Mutually exclusive with `since`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: sender_id
        in: query
        schema:
          type: string
        description: Filter by sender principal ID — a user ID (for `sender_type=member`),
          agent ID (for `sender_type=agent`), or service account ID (for `sender_type=service_account`).
      - name: reply_to
        in: query
        schema:
          type: string
        description: Return only replies to this message ID (thread view).
      - name: pinned
        in: query
        schema:
          type: boolean
        description: Filter by pinned status.
      - name: since
        in: query
        schema:
          type: string
        description: |-
          Return messages strictly newer than this cursor, in chronological
          order. Accepts either:
          - a message ID — strictly newer than that message in
          `(created_at, id)` order, or
          - an RFC3339 timestamp — strictly newer than that instant.
          Useful for agent loops that have already processed everything up
          to and including the cursor.
      - name: unread
        in: query
        schema:
          type: boolean
        description: 'When `true`, equivalent to passing `since=<my last_read_message_id>`.
          Mutually exclusive with `since`. Requires a member-bound credential: callers without
          a user identity get 400, and authenticated non-members get 403.'
      - name: entity_type
        in: query
        schema:
          $ref: '#/components/schemas/EntityReferenceType'
        description: Return only messages that reference this entity type.
      - name: entity_id
        in: query
        schema:
          type: string
        description: Return only messages that reference this entity ID.
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessageListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendMessage
      tags:
      - messages
      summary: Send a message to a channel
      description: |-
        Posts a message to the channel. Sender identity is determined entirely by the authenticated credential — there is no field to override it.

        - When the credential is an API key whose service account backs an
        agent (1:1 invariant), the message is attributed to that agent.
        - When the credential is an API key whose service account backs no
        agent, the message is attributed to that service account.
        - When the credential is a user credential, the message is attributed
        to that user.

        Content is Markdown. Use `reply_to` for threading.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChannelMessageRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/references:
    post:
      operationId: shareChannelEntity
      tags:
      - channels
      summary: Share an entity in a channel
      description: Posts a channel card for a canonical Mobius entity. The message stores
        a typed reference edge so humans and agents can discover the channel activity around
        a run, interaction, job, group, or other entity without scraping Markdown.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareChannelEntityRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/interactions/{interaction_id}/claim:
    post:
      operationId: claimChannelInteraction
      tags:
      - channels
      summary: Claim an interaction from a channel
      description: Claims a pending first-responder group interaction from the chat surface
        and appends a channel activity message that references the interaction.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
        description: Interaction to claim.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/interactions/{interaction_id}/release:
    post:
      operationId: releaseChannelInteraction
      tags:
      - channels
      summary: Release an interaction claim from a channel
      description: Releases the authenticated member's first-responder interaction claim from
        the chat surface and appends channel-visible activity.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
        description: Interaction whose claim should be released.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/interactions/{interaction_id}/respond:
    post:
      operationId: respondToChannelInteraction
      tags:
      - channels
      summary: Respond to an interaction from a channel
      description: Submits a canonical interaction response from the chat surface and appends
        a channel-visible activity message so human and agent channel participants can see
        that the interaction advanced.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
        description: Interaction to answer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelInteractionRespondRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInteractionActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/channels/{id}/messages/{message_id}:
    get:
      operationId: getMessage
      tags:
      - messages
      summary: Get a channel message
      description: Returns a single message by ID, including threading, pin, edit, and sender
        attribution metadata. Use the list endpoint to page through a channel or thread.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateMessage
      tags:
      - messages
      summary: Update a channel message
      description: Updates content, metadata, or pinned state of a message. Sets `edited_at`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/message_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/channels/{id}/read:
    post:
      operationId: markMessagesRead
      tags:
      - messages
      summary: Mark messages in a channel as read
      description: |-
        Advances the caller's `last_read_message_id` for this channel. Used by agent loops to record progress: stream a batch with `?unread=true`, process each message, then call this endpoint with the latest id to acknowledge (PRD 048 §6).

        - When `up_to_message_id` is set, the read cursor advances to that
        id (the message must belong to this channel).
        - When the body is empty or `up_to_message_id` is omitted, the read
        cursor advances to the channel's latest message at call time.

        The caller must be a member of the channel. Non-members get 403.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkChannelMessagesReadRequest'
      responses:
        '204':
          description: Read cursor updated.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/audit-logs:
    get:
      operationId: listAuditLogs
      tags:
      - audit-logs
      summary: List audit log entries
      description: |-
        Returns an immutable, append-only log of create/update/delete/archive/restore actions performed against org resources. Entries record both the durable actor identity (service account or user) and the credential used, enabling attribution even when keys are later revoked.

        Combine `actor_id` + `resource_type` to audit a specific identity's writes to a resource class. Use `created_after` / `created_before` for time-bounded compliance exports.
      parameters:
      - name: resource_type
        in: query
        schema:
          type: string
        description: Filter by resource type
      - name: project_id
        in: query
        schema:
          type: string
        description: Filter by project ID
      - name: resource_id
        in: query
        schema:
          type: string
        description: Filter by resource ID
      - name: user_id
        in: query
        schema:
          type: string
        description: Filter by user ID
      - name: actor_type
        in: query
        schema:
          type: string
        description: Filter by actor type
      - name: actor_id
        in: query
        schema:
          type: string
        description: Filter by actor ID
      - name: action
        in: query
        schema:
          type: string
        description: Filter by action (create, update, delete, archive, restore)
      - name: created_after
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created after this timestamp
      - name: created_before
        in: query
        schema:
          type: string
          format: date-time
        description: Filter to entries created before this timestamp
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/workflows:
    get:
      operationId: listWorkflows
      tags:
      - workflows
      summary: List workflow definitions
      description: Returns workflow definition summaries, newest-first. List responses omit
        the executable `spec`; use `getWorkflow` to fetch the full definition with its current
        spec.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/TagFilterParam'
      - name: cursor
        in: query
        description: Opaque pagination cursor returned from the previous response.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinitionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createWorkflow
      tags:
      - workflows
      summary: Create a workflow definition
      description: Creates a workflow definition with an initial version (version 1). The
        `handle` is auto-derived from `name` if omitted and must be unique within the project.
        Every call to `updateWorkflow` with a new `spec` creates a new version; version numbers
        are monotonically increasing.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
            example:
              name: document-review
              handle: document-review
              description: Summarize a document and request approval before publishing.
              published_as_tool: true
              spec:
                name: document-review
                inputs:
                - name: document_id
                  type: string
                  description: Document to review.
                steps:
                - name: summarize
                  action: summarize-document
                  parameters:
                    document_id: ${inputs.document_id}
                  next:
                  - step: approve
                - name: approve
                  interaction:
                    type: approval
                    message: Approve publishing this summary?
                    timeout: 24h
                    target:
                      type: group
                      id: approvers
                    spec:
                      mode: confirm
                      default_confirmed: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/workflows/{id}:
    get:
      operationId: getWorkflow
      tags:
      - workflows
      summary: Get a workflow definition
      description: Returns a workflow definition with its latest executable spec. Use the
        version endpoints when you need a historical spec instead of the current latest version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWorkflow
      tags:
      - workflows
      summary: Update a workflow definition
      description: Updating `spec` atomically creates a new immutable version (version N+1)
        and advances `latest_version`. Runs always execute the version they were started with;
        updating the definition does not affect running instances. Updating `name`, `description`,
        or `published_as_tool` without a `spec` does not create a new version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteWorkflow
      tags:
      - workflows
      summary: Delete a workflow definition
      description: Hard-deletes the definition and all its versions. In-flight runs are not
        affected.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions:
    get:
      operationId: listWorkflowVersions
      tags:
      - workflows
      summary: List versions of a workflow definition
      description: Returns version summaries, newest-first. List responses omit the executable
        `spec`; fetch a single version via `getWorkflowVersion` to get the full spec for that
        version.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/versions/{version}:
    get:
      operationId: getWorkflowVersion
      tags:
      - workflows
      summary: Get a specific version of a workflow definition
      description: Returns a single workflow version, including its full executable `spec`.
        `version` is the monotonically increasing version number (1-based).
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: version
        in: path
        required: true
        description: Version number (1-based) within this workflow definition.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/workflows/{id}/runs:
    get:
      operationId: listWorkflowRuns
      tags:
      - runs
      summary: List runs for a workflow definition
      description: Returns runs for a specific workflow definition, newest first. All statuses
        are included; this endpoint does not currently accept status or range filters.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: startWorkflowRun
      tags:
      - runs
      summary: Start a new workflow run against a saved definition
      description: 'Enqueues a run using the latest version of the workflow definition identified
        by the path parameter. This is the path-bound equivalent of `POST /v1/projects/{project}/runs`
        with `mode: saved` and `definition_id` set to this workflow''s ID.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBoundRunRequest'
      responses:
        '202':
          description: Accepted. When `external_id` is set and matches an active run, the
            existing run is returned idempotently with this same status code instead of creating
            a new one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |-
            Conflict. Possible codes:

            - `project_archived` — the target project is archived. Restore
            the project before starting new runs; in-flight runs continue
            regardless.
            - `external_id_conflict` — `external_id` already belongs to a
            terminal run in this project. The response `details` carry
            `existing_run_id` (string), `status` (`completed` | `failed`),
            and the offending `external_id`. Fetch the prior run for its
            result, or POST a new attempt with a different external_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/projects/{project}/runs:
    post:
      operationId: startRun
      tags:
      - runs
      summary: Start a new workflow run
      description: |-
        Starts a workflow run. The request body is a discriminated union over `mode`:

        - `mode: saved` — run a previously-created workflow definition. Set
        `definition_id` to the definition to run.
        - `mode: inline` — run an ephemeral workflow from an inline `spec`.
        No `WorkflowDefinition` is created; the returned run has
        `ephemeral: true` and omits `definition_id` / `definition_version`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
            examples:
              saved:
                summary: Run a saved workflow
                value:
                  mode: saved
                  definition_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                  queue: default
                  inputs:
                    document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                  metadata:
                    source: api
                    customer: acme
                  external_id: review-2026-04-24-001
              inline:
                summary: Run an inline workflow
                value:
                  mode: inline
                  queue: default
                  inputs:
                    document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                  spec:
                    name: one-off-document-review
                    steps:
                    - name: summarize
                      action: summarize-document
                      parameters:
                        document_id: ${inputs.document_id}
      responses:
        '202':
          description: Accepted. When `external_id` is set and matches an active run in this
            project, the existing run is returned idempotently with this same status code
            instead of creating a new one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
              example:
                id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                queue: default
                definition_id: wf_01hw1p4a5b6c7d8e9f0g1h2j3k
                definition_version: 3
                ephemeral: false
                workflow_name: document-review
                status: active
                path_counts:
                  total: 1
                  active: 1
                  working: 1
                  waiting: 0
                  completed: 0
                  failed: 0
                job_counts:
                  ready: 1
                  scheduled: 0
                  claimed: 0
                step_counts:
                  pending: 1
                  running: 0
                  completed: 0
                  failed: 0
                  skipped: 0
                  cancelled: 0
                wait_summary:
                  waiting_paths: 0
                  kind_counts: {}
                  next_wake_at: null
                  waiting_on_signal_names: []
                  interaction_ids: []
                errors: []
                attempt: 1
                inputs:
                  document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                metadata:
                  source: api
                  customer: acme
                actor_type: api_key
                actor_id: key_01hw1q2r3s4t5u6v7w8x9y0z1a
                source_type: api
                source_id: review-service
                source_label: review-service
                external_id: review-2026-04-24-001
                created_at: '2026-04-24T14:30:00Z'
                updated_at: '2026-04-24T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |-
            Conflict. Possible codes:

            - `project_archived` — the target project is archived. Restore
            the project before starting new runs; in-flight runs continue
            regardless.
            - `external_id_conflict` — `external_id` already belongs to a
            terminal run in this project. The response `details` carry
            `existing_run_id` (string), `status` (`completed` | `failed`),
            and the offending `external_id`. Fetch the prior run for its
            result, or POST a new attempt with a different external_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: listRuns
      tags:
      - runs
      summary: List workflow runs
      description: Supports cursor-based pagination and keyset filtering by status, workflow
        definition, workflow type, queue, parent run, and source. When `has_more` is true,
        pass the returned `next_cursor` back on the next call to walk the result set.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: status
        in: query
        description: Filter by run status.
        schema:
          $ref: '#/components/schemas/WorkflowRunStatus'
      - name: lifecycle
        in: query
        description: 'Convenience filter that selects runs by lifecycle stage: `in_flight`
          returns active (not-yet-terminal) runs, `terminal` returns completed and failed
          runs. Ignored when `status` is set.'
        schema:
          type: string
          enum:
          - in_flight
          - terminal
      - name: created_at_after
        in: query
        description: Inclusive lower bound for `created_at`, RFC3339. Combine with `created_at_before`
          to scope to a time window.
        schema:
          type: string
          format: date-time
      - name: created_at_before
        in: query
        description: Exclusive upper bound for `created_at`, RFC3339. Combine with `created_at_after`
          to scope to a time window.
        schema:
          type: string
          format: date-time
      - name: workflow_type
        in: query
        description: Filter by workflow type name.
        schema:
          type: string
      - name: definition_id
        in: query
        description: Filter by workflow definition ID.
        schema:
          type: string
      - name: queue
        in: query
        description: Filter by queue name.
        schema:
          type: string
      - name: parent_run_id
        in: query
        description: Filter to child runs of the specified parent run.
        schema:
          type: string
      - name: source_type
        in: query
        description: Filter by run source type (e.g. api, trigger, slack, fork).
        schema:
          type: string
      - name: source_id
        in: query
        description: Filter by the source identifier for the source type.
        schema:
          type: string
      - name: external_id
        in: query
        description: Filter by caller-supplied external ID or correlation key.
        schema:
          type: string
      - name: forked_from
        in: query
        description: Filter to runs forked from the specified source run.
        schema:
          type: string
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/runs/{id}:
    get:
      operationId: getRun
      tags:
      - runs
      summary: Get a workflow run
      description: Returns a run with its snapshotted workflow spec and spawned jobs. Terminal
        runs may include `result_b64`, `error_type`, and `error_message`; in-flight runs include
        current progress state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/forks:
    post:
      operationId: forkRun
      tags:
      - runs
      summary: Fork a terminal run from a specific step
      description: Creates a new active run that inherits step history before `from_step_id`
        and resumes execution at that step. The request must provide a new logical `external_id`.
        `external_id` keeps the normal project-wide run uniqueness semantics; retrying the
        same fork request with the same source run, fork step, `external_id`, and effective
        target definition version is idempotent and returns the existing forked run with `202`
        whether that fork is still active or already terminal. Omitting `definition_version_id`
        keeps the source run's definition version; supplying it pins post-fork execution to
        that explicit version, and a retry that changes this value is an `idempotency_conflict`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunForkRequest'
      responses:
        '202':
          description: Fork created, or an existing fork returned for an idempotent retry
            with the same source run, `from_step_id`, `external_id`, and effective target
            definition version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Conflict. Expected fork-specific codes include `fork_source_active`,
            `idempotency_conflict`, and `external_id_conflict`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{project}/runs/{id}/steps:
    get:
      operationId: listRunSteps
      tags:
      - runs
      summary: List run steps
      description: Lists durable `RunStep` records for a run. Run steps are the canonical
        execution history and are returned in ascending `transition_seq` order. Pagination
        continues from that same order so clients can replay or reconstruct the ledger incrementally.
        Run steps remain available after terminal job rows are TTL-swept; use jobs only for
        live worker claim state.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: path_id
        in: query
        description: Filter steps by workflow path identifier.
        schema:
          type: string
      - name: step_name
        in: query
        description: Filter steps by workflow step name.
        schema:
          type: string
      - name: status
        in: query
        description: Filter steps by current run-step status.
        schema:
          $ref: '#/components/schemas/RunStepStatus'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStepListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/steps/{step_id}:
    get:
      operationId: getRunStep
      tags:
      - runs
      summary: Get one run step
      description: Returns a single durable `RunStep` row for a workflow run. Run steps are
        the canonical execution history; linked job state, when present, is live worker-claim
        metadata and may disappear after terminal job retention.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: step_id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: Pass `run_state_after` to include `run_state_after_b64`; it is omitted
          otherwise.
        schema:
          type: string
          enum:
          - run_state_after
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStep'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/jobs:
    get:
      operationId: listRunJobs
      tags:
      - runs
      summary: List jobs for a run
      description: Returns every workflow job spawned by the run, including pending, claimed,
        completed, and failed attempts. Use this for step-level progress inspection and operational
        debugging.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/cancellations:
    post:
      operationId: cancelRun
      tags:
      - runs
      summary: Request cancellation of an in-flight run
      description: Records `cancel_requested_at`, terminalizes the run as failed with `error_type=run_cancelled`,
        and closes any non-terminal jobs created by the run.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: Updated run summary after cancellation was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/resumptions:
    post:
      operationId: resumeRun
      tags:
      - runs
      summary: Resume waiting run paths
      description: Re-enters any resumable waiting paths, such as paused paths or due timer
        waits.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: Updated run summary after resumable paths were re-entered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/runs/{id}/signals:
    post:
      operationId: sendRunSignal
      tags:
      - runs
      summary: Deliver a run-scoped signal
      description: Durably enqueues a signal keyed by (run_id, name). If any path in the run
        is waiting on that topic, the server re-enters that path so it can consume the signal.
        Otherwise the signal remains in the store until a future path waits for it.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRunSignalRequest'
            example:
              name: manager_approval
              payload:
                approved: true
                approver_id: user_2f9s3k4m5n6p7q8r9s0t1u2v3w
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunSignal'
              example:
                id: sig_01hw1v2w3x4y5z6a7b8c9d0e1f
                run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                name: manager_approval
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/integration-events/test/samples:
    get:
      operationId: listIntegrationEventTestSamples
      tags:
      - events
      summary: List synthetic integration event samples
      description: 'Returns provider-owned sample event payloads for testing event triggers
        and `wait_event` workflow steps. Samples use Mobius''s canonical integration-event
        payload shape and are safe starter fixtures: callers can copy, edit, and pass the
        payload to `POST /v1/projects/{project}/integration-events/test/fires`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: provider
        in: query
        description: Filter samples by provider name, e.g. `github`.
        schema:
          type: string
      - name: event_type
        in: query
        description: Filter samples by exact event type.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventSamplesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/integration-events/test/fires:
    post:
      operationId: createIntegrationEventTestFire
      tags:
      - events
      summary: Preview or deliver a synthetic integration event
      description: |-
        Builds a synthetic integration event from an explicit payload or a sample fixture. In `preview` mode the server evaluates currently matching event triggers and parked `wait_event` branches without persisting or delivering the event. In `deliver` mode it persists an integration event row with `source: synthetic` and publishes it through the same event bus consumed by event triggers and `wait_event` delivery.

        Synthetic fires are for local testing and authoring diagnostics. They never verify upstream signatures and should not be treated as provider-originated webhooks.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventFireRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEventFireResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{project}/events:
    get:
      operationId: streamProjectEvents
      tags:
      - events
      summary: Subscribe to a project-wide live event stream (SSE)
      description: |-
        Opens a Server-Sent Events connection delivering every live event in the project. Each frame carries a JSON envelope `{type, run_id?, channel_id?, interaction_id?, seq?, timestamp, data}` where `type` is one of:

        - `run_updated` — the run row's status, heartbeat, or
        timestamps changed; `data` is a full WorkflowRun.
        - `job_updated` — a single job's status or attempt
        advanced; `data` is a full Job. The job's id is on
        `data.id`.
        - `run_step_updated` — a durable run-step row was created
        or advanced; `data` is a full RunStep.
        - `interaction_created` / `interaction_completed` /
        `interaction_group_claimed` /
        `interaction_group_released` / `interaction_cancelled`
        — interaction lifecycle; `data` is a full Interaction
        and the envelope sets `interaction_id`.
        - `message_created` — a channel message was persisted; the
        envelope sets `channel_id` and `data` is a full
        ChannelMessage. Live-only — no `?since=<seq>` replay.
        - `span_appended` — an OTLP span was persisted against a
        run; `data` carries `{span_id, trace_id, name, ...}`.
        - `custom` — a worker emitted a domain-specific event via
        `POST /v1/projects/{project}/jobs/{id}/events`. `data`
        carries `{kind: "custom", type, job_id, data, step_id?,
        path_id?}` where `type` is the worker-supplied name and
        inner `data` is the worker payload. `step_id` is set
        when the originating job is owned by a workflow step
        and lets consumers correlate the event to the durable
        run step after the job is reaped on TTL; `path_id`
        mirrors the run's execution path for path-scoped
        consumers.

        On this project-wide endpoint the envelope's `seq` is the event's `Timestamp.UnixNano()` — a cross-run comparable cursor — not the run-local `run_events.seq` value (which is only meaningful within a single run and is what `streamRunEvents` returns). Clients should record the largest `seq` they have observed on this stream and pass it back as `?since=<unix-nano>` on reconnect to replay any durable events recorded since; do not persist a `seq` from one stream type as the cursor for the other. Live-only events (e.g. `message_created`) are not replayed on reconnect. Comment frames (`:keepalive`) are emitted every ~15s to keep intermediaries from closing the connection.

        Optional entity-axis filters narrow the stream. Each accepts a comma-separated list of IDs; an event is delivered when it matches at least one non-empty axis (OR across axes). When all filters are empty the subscription receives every event in the project.

        Unknown future event types may appear; clients should ignore types they don't recognize rather than treat the stream as malformed.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: since
        in: query
        description: Durable event cursor to replay from, expressed as a unix-nano timestamp
          matching the largest `seq` the client has received on this project-wide stream.
          Do not pass a run-local `seq` from `streamRunEvents` here.
        schema:
          type: integer
          format: int64
      - name: run
        in: query
        description: Comma-separated run IDs to filter by.
        schema:
          type: string
      - name: channel
        in: query
        description: Comma-separated channel IDs to filter by.
        schema:
          type: string
      - name: interaction
        in: query
        description: Comma-separated interaction IDs to filter by.
        schema:
          type: string
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: run_updated
                id: 42
                data: {"type":"run_updated","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","seq":42,"timestamp":"2026-04-24T14:45:00Z","data":{"...full WorkflowRun, truncated...":"...","status":"active"}}

                :keepalive
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/runs/{id}/events:
    get:
      operationId: streamRunEvents
      tags:
      - events
      summary: Subscribe to a stream of events for a single run (SSE)
      description: Same envelope as `streamProjectEvents`, filtered to events whose envelope
        carries this run's `run_id` — i.e. run, job, run-step, span, interaction, and worker
        `custom` events. Channel-scoped events that don't carry `run_id` (notably `message_created`)
        are not delivered here; consume those via `streamProjectEvents` with a `?channel=`
        filter. The server writes one seed `run_updated` frame on connection so reconnects
        do not miss the latest state. On this run-scoped endpoint the envelope's `seq` is
        the run-local `run_events.seq` (a per-run monotonic integer); clients pass the largest
        observed `seq` back as `?since=<seq>` to replay durable events recorded after that
        point. This cursor is run-local — do not persist or reuse it across runs or with `streamProjectEvents`,
        which emits a unix-nano cursor instead.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      - name: since
        in: query
        description: Run-local `run_events.seq` cursor to replay from. Do not pass a unix-nano
          cursor from `streamProjectEvents` here.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: run_step_updated
                id: 43
                data: {"type":"run_step_updated","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","seq":43,"timestamp":"2026-04-24T14:46:00Z","data":{"id":"step_01hw1n2p3q4r5s6t7u8v9w0x1y","run_id":"run_01hw1n1a2b3c4d5e6f7g8h9j0k","path_id":"main","step_name":"summarize","action":"summarize-document","attempt":1,"transition_seq":7,"kind":"worker_action","source":"executed","status":"completed","parameters":{"document_id":"doc_01hw1m9z8y7x6w5v4u3t2s1r0q"},"job_id":"job_01hw1n2a3b4c5d6e7f8g9h0j1k","created_at":"2026-04-24T14:45:10Z","started_at":"2026-04-24T14:45:12Z","completed_at":"2026-04-24T14:46:00Z","updated_at":"2026-04-24T14:46:00Z"}}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions:
    get:
      operationId: listActions
      tags:
      - actions
      summary: List actions
      description: Returns project-owned HTTP actions only; use `/catalog` for all available
        actions including platform integrations and workflow-backed actions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/TagFilterParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAction
      tags:
      - actions
      summary: Create an action
      description: 'Creates a project-scoped HTTP action. `name` is the stable identifier
        used in workflow step definitions and must be unique within the project. A signing
        secret is generated automatically and returned in the response; this is the only time
        the raw secret is exposed — store it securely. Actions created via this endpoint always
        have `endpoint_kind: http`.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}:
    get:
      operationId: getAction
      tags:
      - actions
      summary: Get an action by name
      description: Returns one project-owned HTTP action by its stable `action_name`. Use
        this endpoint when authoring workflow steps or validating the schemas and signing
        configuration for a specific action.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAction
      tags:
      - actions
      summary: Update an action
      description: 'Patches action metadata and schemas. All fields are optional; omitted
        fields are unchanged. Updating `annotations` replaces the entire annotations object
        — pass `null` to clear all annotation flags. Only applicable to `endpoint_kind: http`
        actions; workflow-backed actions are mutated through the workflow surface.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAction
      tags:
      - actions
      summary: Delete an action
      description: Rejected with 409 if any workflow step currently references this action
        by name (`ErrActionInUse`). Remove all references before deleting.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/actions/{action_name}/secret/rotate:
    post:
      operationId: rotateActionSecret
      tags:
      - actions
      summary: Rotate an action signing secret
      description: 'Generates a new HMAC-SHA256 signing secret for the action. The previous
        secret is retained server-side for a brief grace period (typically minutes) so in-flight
        requests signed with the old key are not immediately rejected. Store the returned
        secret — it cannot be retrieved again. Only applicable to `endpoint_kind: http` actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/action-invocations:
    get:
      operationId: listActionInvocations
      tags:
      - actions
      summary: List action invocation records
      description: Returns per-invocation telemetry records for action executions in the project.
        Each record captures the action name, input parameters, output summary, final status,
        error details, and retry count. Filter by `run_id` to inspect all action calls within
        a single workflow run, by `job_id` to scope to a specific job, or by `action_name`
        for cross-run analysis.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: run_id
        in: query
        description: Filter to invocations from a specific workflow run.
        schema:
          type: string
      - name: job_id
        in: query
        description: Filter to invocations from a specific job.
        schema:
          type: string
      - name: action_name
        in: query
        description: Filter to invocations of a specific action.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by terminal status (e.g. "success", "failed").
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/actions/{action_name}/invocations:
    post:
      operationId: invokeAction
      tags:
      - actions
      summary: Invoke an action
      description: |-
        User-driven invocation of any catalog action — HTTP-backed or workflow-backed. The request waits up to `timeout_seconds` for synchronous completion. Returns the output directly on 200 (terminal within the timeout). Returns 202 with `run_id` when the backing workflow is still active. Polling for an active run goes through the existing run endpoints.

        - **HTTP-backed** actions (`endpoint_kind: http`) always complete
        inline; 200 is the only terminal response.
        - **Workflow-backed** actions (`endpoint_kind: workflow`) may return
        202 when the run does not complete within `timeout_seconds`.

        Worker-fenced invocations from within a job stay at `POST /v1/projects/{p}/jobs/{id}/actions/{name}`.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionInvocationRequest'
      responses:
        '200':
          description: OK — invocation completed synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
        '202':
          description: Accepted — workflow-backed run is still active; poll via run endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionInvocationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/actions/catalog:
    get:
      operationId: listCatalogActions
      tags:
      - actions
      summary: List the action catalog
      description: 'Returns the full catalog of actions available to this project: project-owned
        HTTP actions, platform-provided integration actions (Slack, GitHub, etc.), and workflow-backed
        actions (workflows with `published_as_tool = true`). The `available` flag indicates
        whether the action can currently be invoked. The `endpoint_kind` field distinguishes
        HTTP-backed from workflow-backed actions.'
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/projects/{project}/actions/catalog/{action_name}:
    get:
      operationId: getCatalogAction
      tags:
      - actions
      summary: Get one catalog action by name
      description: Returns availability status, schemas, and metadata for a single catalog
        entry.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ActionNameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionCatalogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments:
    get:
      operationId: listEnvironments
      tags:
      - environments
      summary: List environments
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      - name: provider
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentProvider'
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentStatus'
      - name: purpose
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentPurpose'
      - name: owner_type
        in: query
        schema:
          $ref: '#/components/schemas/EnvironmentOwnerType'
      - name: owner_id
        in: query
        schema:
          type: string
      - name: include_destroyed
        in: query
        description: Include destroyed environments in the result. By default destroyed rows
          are excluded; set this to true (or pass status=destroyed) to see them.
        schema:
          type: boolean
          default: false
      - name: destroyed_since
        in: query
        description: Narrow destroyed rows to those torn down at or after this timestamp.
          Composes with `status=destroyed` to fetch a "recently destroyed" tombstone window
          (e.g. last hour). Non-destroyed rows are unaffected when this is combined with the
          default (no-status) view.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEnvironment
      tags:
      - environments
      summary: Create an environment
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/acquire:
    post:
      operationId: acquireEnvironment
      tags:
      - environments
      summary: Acquire an environment lease
      description: Collection-level acquire creates or claims an environment and creates a
        single active lease. There is intentionally no per-environment acquire endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquireEnvironmentRequest'
      responses:
        '200':
          description: Acquired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAcquireResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/leases/{lease_id}/release:
    post:
      operationId: releaseEnvironmentLease
      tags:
      - environments
      summary: Release an environment lease
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - name: lease_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLease'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}:
    get:
      operationId: getEnvironment
      tags:
      - environments
      summary: Get an environment
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEnvironment
      tags:
      - environments
      summary: Update environment metadata
      description: Only purpose, retention_policy, owner_type, owner_id, and tags are mutable.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: destroyEnvironment
      tags:
      - environments
      summary: Destroy an environment
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: Destroyed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}/reconcile:
    post:
      operationId: reconcileEnvironment
      tags:
      - environments
      summary: Reconcile environment provider state
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/environments/{environment_id}/exec:
    post:
      operationId: execEnvironment
      tags:
      - environments
      summary: Execute a command inside an environment
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecEnvironmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentExecResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/files:
    put:
      operationId: writeEnvironmentFile
      tags:
      - environments
      summary: Write a file into an environment
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteEnvironmentFileRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/environments/{environment_id}/workers/start:
    post:
      operationId: startEnvironmentWorker
      tags:
      - environments
      summary: Start a Mobius worker in an environment
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/EnvironmentIDParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartEnvironmentWorkerRequest'
      responses:
        '200':
          description: Started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentStartWorkerResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/secrets:
    get:
      operationId: listSecrets
      tags:
      - secrets
      summary: List secrets
      description: Returns project secret metadata and key names. Secret values are never
        returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createSecret
      tags:
      - secrets
      summary: Create a secret
      description: Creates a project secret and its first enabled version. `values` must be
        a JSON object whose values are strings. The response returns metadata only; plaintext
        values are not returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/projects/{project}/secrets/{secret}:
    get:
      operationId: getSecret
      tags:
      - secrets
      summary: Get a secret
      description: Returns project secret metadata by ID or name. Values are never returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSecret
      tags:
      - secrets
      summary: Update a secret
      description: Updates metadata and optionally creates a new enabled SecretVersion from
        replacement `values`. Omit `values` to update metadata only. Secret values are not
        returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteSecret
      tags:
      - secrets
      summary: Delete a secret
      description: Hard-deletes the secret and its versions.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/secrets/{secret}/versions:
    get:
      operationId: listSecretVersions
      tags:
      - secrets
      summary: List secret versions
      description: Lists metadata for all versions of a secret. Values are never returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/secrets/{secret}/versions/{version}:
    get:
      operationId: getSecretVersion
      tags:
      - secrets
      summary: Get secret version metadata
      description: Returns metadata for a specific version. Use `latest` or a positive integer
        version. Values are never returned.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/SecretParam'
      - $ref: '#/components/parameters/SecretVersionParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/references/{reference_type}/lookup:
    get:
      operationId: lookupReferences
      tags:
      - references
      summary: Look up reference candidates
      description: Returns lightweight selectable candidates for a reference-backed action
        input field.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ReferenceTypeParam'
      - name: q
        in: query
        description: Human search query.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of candidates to return. Defaults to 20 and is capped
          at 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: cursor
        in: query
        description: Opaque pagination cursor from a previous response.
        schema:
          type: string
      - name: integration_id
        in: query
        description: Optional provider integration instance selector for projects with multiple
          connections.
        schema:
          type: string
      - name: depends_on
        in: query
        description: Optional JSON object containing values from fields this lookup depends
          on.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Required integration is missing, expired, or unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{project}/references/{reference_type}/resolve:
    post:
      operationId: resolveReferences
      tags:
      - references
      summary: Resolve saved reference values
      description: Resolves stored reference values to display candidates when possible.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/ReferenceTypeParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferenceResolveRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceResolveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Required integration is missing, expired, or unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{project}/jobs/{id}:
    get:
      operationId: getJob
      tags:
      - jobs
      summary: Get a workflow job by ID
      description: Returns the current state of a single workflow job, regardless of whether
        it is pending, claimed, or terminal. Useful for UIs and operators inspecting a specific
        step without enumerating the run.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      - $ref: '#/components/parameters/IDParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/projects/{project}/jobs/claim:
    post:
      operationId: claimJob
      tags:
      - jobs
      summary: Long-poll for the next claimable workflow job
      description: |-
        Atomically claims the next pending workflow job whose queue name is in the worker's `queues` subscription, whose action is in the worker's `actions` filter (when provided), and — for code jobs — whose handler id is in the worker's `handlers` filter (when provided). If no job is immediately available and `wait_seconds > 0`, the server holds the request open for up to `wait_seconds` (capped at 30). Returns 204 when the poll window closes empty.

        Each successful call also registers or refreshes the caller's worker session (used by `GET /v1/projects/{project}/worker-sessions`), so no separate registration step is needed.

        The returned `JobClaim` carries an opaque `lease_token` the worker echoes on subsequent heartbeat / report calls, plus a `heartbeat_interval_seconds` cadence. The body's `spec` field is a discriminated union: `{kind: "action", ...}` for spec-step worker jobs, `{kind: "code", ...}` for code workflows.
      parameters:
      - $ref: '#/components/parameters/ProjectHandleParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobClaimRequest'
            example:
              worker_instance_id: inv-abc123
              worker_session_token: <worker-session-token>
              concurrency_limit: 8
              worker_name: invoice-processor
              worker_version: 2026.04.27
              queues:
              - default
              actions:
              - summarize-document
              handlers:
              - onboard-customer
              wait_seconds: 20
      responses:
        '200':
          description: Job claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobClaim'
              examples:
                action:
                  summary: Action-spec claim
                  value:
                    job_id: job_01hw1n2p3q4r5s6t7u8v9w0x1y
                    run_id: run_01hw1n1a2b3c4d5e6f7g8h9j0k
                    workflow_name: document-review
                    step_name: summarize
                    spec:
                      kind: action
                      name: summarize-document
                      parameters:
                        document_id: doc_01hw1m9z8y7x6w5v4u3t2s1r0q
                    lease_token: bGVhc2UtdG9rZW4tb3BhcXVl
                    attempt_number: 1
                    queue: default
                    heartbeat_interval_seconds: 30
                code:
                  summary: Code-spec claim
                  value:
[...]
